/* BUTTON SECTION */
.tc-button-25,
.tc-button-33,
.tc-button-50,
.tc-button-100,
.tc-button-square,
.tc-button-sm-square,
.tc-button-static {
  /* button */

  background: var(--second-action-color);
  height: 35px;
  border: none;

  /* text */
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: var(--medium-font);
  line-height: 22px;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.25);
  /* effect */
  outline: none !important;
  transition: 0.5s;
}

.tc-button-25:hover,
.tc-button-33:hover,
.tc-button-50:hover,
.tc-button-100:hover,
.tc-button-square:hover,
.tc-button-sm-square:hover,
.tc-button-static:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

a {
  color: black !important;
}

.tc-button-100 {
  width: 100%;
}
.tc-button-50 {
  width: 47%;
}
.tc-button-33 {
  width: 33%;
}
.tc-button-25 {
  width: 25%;
}
.tc-button-static {
  width: 250px;
}
.tc-button-square {
  height: 50px;
  min-width: 50px;
}
.tc-button-sm-square {
  height: 35px;
  min-width: 35px;
}
/* END BUTTON SECTION */

strong {
  font-weight: 900;
}
.align-right {
  width: 100%;
  text-align: right;
}
.align-center {
  width: 100%;
  text-align: center;
}

.low-dropshadow {
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.07);
}

.low-dropshadow:hover {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.green,
.red,
.blue {
  color: white;
}

.green {
  background-color: var(--green-color) !important;
}

.red {
  background-color: var(--red-color);
}

.blue {
  background-color: var(--blue-color);
}
