.tc-input-group {
  position: relative;
  padding: 15px 0 0;
  margin: 10px 0;
}

.tc-input-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--gray-color);
  outline: 0;
  font-size: var(--small-font);
  color: black;
  padding: 5px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .tc-input-label {
    font-size: var(--small-font);
    cursor: text;
    top: 22px;
  }
}

.tc-textarea-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border: 1px solid var(--gray-color);
  outline: 0;
  font-size: var(--small-font);
  color: black;
  padding: 5px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .tc-input-label {
    font-size: var(--small-font);
    cursor: text;
    top: 22px;
  }
}

.tc-input-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: var(--extra-small-font);
  color: var(--gray-color);
}

.tc-input-field:focus {
  ~ .tc-input-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: var(--extra-small-font);
    color: var(--second-action-color);
    font-weight: 500;
  }
  padding-bottom: 4px;
  font-weight: 500;
  border-width: 2px;
  border-color: var(--second-action-color);
  border-image-slice: 1;
}
/* reset input */
.tc-input-field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: 1px solid #ced4da;
  color: black;
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  transition: background-color 5000s ease-in-out 0s;
}

/* Custom checkbox */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: var(--regular-font);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 1px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 2px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--second-action-color);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container input:disabled ~ .checkmark {
  opacity: 0.5;
}

.button-plus,
.button-minus {
  position: relative;
  margin: 0px 2px 0px 2px;
  width: 20px;
  height: 20px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background-color: white;
  }
}

.button-plus {
  /* Vertical line */
  &:before {
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    margin-left: -2px;
  }

  /* horizontal line */
  &:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    margin-top: -2px;
  }
}
.button-minus {
  /* horizontal line */
  &:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    margin-top: -2px;
  }
}
