$primary: #ebc6ab;
$gray: #9b9b9b;
.TC-input-group {
  position: relative;
  padding: 15px 0 0;
  margin: 10px 0;
}

.TC-input-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $gray;
  outline: 0;
  font-size: 1rem;
  color: black;
  padding: 5px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .TC-input-label {
    font-size: 1rem;
    cursor: text;
    top: 22px;
  }
}

.TC-input-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.7rem;
  color: $gray;
}

.TC-input-field:focus {
  ~ .TC-input-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.7rem;
    color: $primary;
    font-weight: 500;
  }
  padding-bottom: 4px;
  font-weight: 500;
  border-width: 2px;
  border-color: $primary;
  border-image-slice: 1;
}
/* reset input */
.TC-input-field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: 1px solid #ced4da;
  color: black;
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  transition: background-color 5000s ease-in-out 0s;
}
