::ng-deep .sidebar-layout {
    min-height: calc(100vh - var(--navbar-height));
    max-width: var(--sidebar-width);
}

.sidebar {
    overflow-y: auto;   
    box-shadow: -7px 0px 24px 8px rgba(0, 0, 0, 0.15);
}

.sidebar .sidebar-header {
    padding: 25px;
}

.sidebar .sidebar-header .title{
    margin-bottom: 3px;
}

.sidebar .sidebar-header .username{
    margin-bottom: 10px;
}

.sidebar .sidebar-header .user-icon:hover{
    cursor: pointer;
}

.divider {
    background-color: var(--border-color);
}

/* On collapsed sidebar */
::ng-deep .ant-layout-sider-collapsed .sidebar-header {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    transition: .5s;
}

::ng-deep .ant-layout-sider-collapsed .sidebar-collapsible {
    display:none;
}

::ng-deep .ant-layout-sider-collapsed .user-icon {
    height: 16px;
    width: 16px;
    transition: .5s;
}