@media screen and (max-width: 640px) {
  .design-screen {
    width: 100vw;
    height: 100vw;
  }
  .back-container {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .design-screen {
    width: 100vw;
    height: 100vw;
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  .design-screen {
    width: 100vh;
    height: 100vh;
    margin-top: 80px;
    margin-bottom: 20px;
  }
}
