.product-section {
  height: 90vh;
  padding-top: 60px;
  text-align: center;
  margin: auto;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.design-screen {
  margin: 5px;
  height: 80vh;
  width: 80vh;
}

.intro-modal-option {
  color: white;
  font-size: larger;
  font-weight: 900;
  font-family: 'archia-medium';
}

.banner-input {
  margin-bottom: 10px;
}

.back {
  font-weight: 700;
  margin-left: 5px;
}

.back-container {
  text-align: left;
  width: 80vh;
}

.back:hover {
  text-decoration: none;
  margin-left: 0;
  color: var(--second-action-color) !important;
}
