.product-section {
  height: 90vh;
  padding-top: 60px;
  text-align: center;
  margin: auto;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.intro-modal-option {
  color: white;
  font-size: larger;
  font-weight: 900;
  font-family: 'archia-medium';
}

.banner-input {
  margin-bottom: 10px;
}

.design-screen {
  height: 80vh;
  width: 80vh;
}
