@media screen and (max-width: 640px) {
  .product-section {
    height: 87vh;
  }
  .design-screen {
    height: 100vw;
  }
  .back-container {
    padding-left: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 400px) {
  .design-screen {
    width: 95vw;
  }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
  .design-screen {
    width: 100vw;
    height: 100vw;
  }
}
