<article class="product-container">
    <img [src]="product.imgSrc" [alt]="product.altText" class="product-img" />
    <div class="product-info-container">
        <div class="product-info">
            <h2 class="title">{{ isEnglish ? product.titleEn : product.titleDk }}</h2>

            <div class="text-field first">
                <span>{{ isEnglish ? product.descriptionEn : product.descriptionDk }}</span>
            </div>

            <div class="text-field" style="display: none">
                {{ product.specialOffer }}
            </div>

            <div class="text-field">
                <span class="price-container"
                    ><span i18n="@@from">From </span> {{ product.prices[0] }} DKK
                </span>
            </div>
        </div>
        <button
            class="tc-button-100 text-field"
            [routerLink]="product.routerLink"
            (click)="scrollTop()"
            i18n="@@buy-now"
        >
            Buy Now
        </button>
    </div>
</article>
