<webstore-item-card title="Discounts" [content]="content" [isLoading]="isLoading" data-cy="discounts-card">
    <ng-template #content>
        <div class="header">
            <button
                mat-flat-button
                color="primary"
                (click)="openCreateDiscountDialog()"
                class="item"
                data-cy="create-discount-btn"
            >
                Create new
            </button>
            <div class="sub-header">
                <form [formGroup]="sortSelectForm" class="select-input">
                    <mat-form-field appearance="fill">
                        <mat-label>Sort by:</mat-label>
                        <select matNativeControl required formControlName="select" (change)="sortData()" value="createAt">
                            <option value="createdAt">Created at</option>
                            <option value="expiresAt">Expires at</option>
                            <option value="code">Code</option>
                        </select>
                    </mat-form-field>
                    <mat-icon class="{{showAsc ? 'up' : 'down'}} direction-icon" (click)="changeDirection()">forward</mat-icon>
                </form>

                <h3 class="item">Show only:</h3>
                <button
                    mat-flat-button
                    color="accent"
                    (click)="showActive = !showActive; updateShow()"
                    class="item"
                    [ngStyle]="{ opacity: showActive ? 1 : 0.5 }"
                >
                    Active
                </button>
                <button
                    mat-flat-button
                    color="accent"
                    (click)="showDisabled = !showDisabled; updateShow()"
                    class="item"
                    [ngStyle]="{ opacity: showDisabled ? 1 : 0.5 }"
                >
                    Disabled
                </button>
            </div>
        </div>
        <table
            mat-table
            [dataSource]="discountDisplayList"
            class="mat-elevation-z8 discounts-table"
            data-cy="discounts-table"
        >
            <!-- Code Column -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef>Code</th>
                <td mat-cell *matCellDef="let discount">{{ discount.discountCode }}</td>
            </ng-container>

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let discount">
                    <div class="row">
                        <span class="id"> ...{{ getShortText(discount.discountId) }}</span>
                        <button mat-icon-button (click)="copyToClipboard(discount.discountId)">
                            <mat-icon class="icon">file_copy</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <!-- Uses left Column -->
            <ng-container matColumnDef="usesLeft">
                <th mat-header-cell *matHeaderCellDef>Uses left</th>
                <td mat-cell *matCellDef="let discount">{{ discount.remainingUses }}</td>
            </ng-container>

            <!-- Used Column -->
            <ng-container matColumnDef="used">
                <th mat-header-cell *matHeaderCellDef>Used</th>
                <td mat-cell *matCellDef="let discount">{{ discount.totalUses }}</td>
            </ng-container>

            <!-- Expires at Column -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Created at</th>
                <td mat-cell *matCellDef="let discount">{{ discount.createdAt | date: 'hh:mm  dd/MM' }}</td>
            </ng-container>

            <!-- Expires at Column -->
            <ng-container matColumnDef="expiresAt">
                <th mat-header-cell *matHeaderCellDef>Expires at</th>
                <td mat-cell *matCellDef="let discount">{{ discount.expiresAt | date: 'dd/MM/yyyy' }}</td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let discount">
                    <div class="row">
                        <button
                            mat-flat-button
                            color="primary"
                            routerLink="/discounts/{{ discount.discountId }}"
                            class="item action-btn"
                            data-cy="discounts-edit-btn"
                        >
                            Edit
                        </button>
                        <div class="spacer"></div>
                        <button
                            mat-flat-button
                            color="primary"
                            (click)="toggleDiscountState(discount.discountId)"
                            class="item action-btn"
                            data-cy="discounts-enable-btn"
                            [ngStyle]="{ 'background-color': discount.isEnabled ? '#00B207' : 'red' }"
                        >
                            {{ discount.isEnabled ? 'Active' : 'Disabled' }}
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" data-cy="discounts-table-header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" data-cy="discounts-table-row"></tr>
        </table>
    </ng-template>
</webstore-item-card>
