<webstore-item-card title="Discounts" [content]="content" [isLoading]="isLoading" data-cy="discounts-card">
    <ng-template #content>
        <div class="header">
            <div class="sub-header">
                <h3 class="item">Show only:</h3>
                <button
                    mat-raised-button
                    (click)="showActive = !showActive; updateList()"
                    class="item"
                    [ngStyle]="{ opacity: showActive ? 1 : 0.5 }"
                >
                    Active
                </button>
                <button
                    mat-raised-button
                    (click)="showDisabled = !showDisabled; updateList()"
                    class="item"
                    [ngStyle]="{ opacity: showDisabled ? 1 : 0.5 }"
                >
                    Disabled
                </button>
                <button
                    mat-raised-button
                    (click)="showAmount = !showAmount; updateList()"
                    class="item"
                    [ngStyle]="{ opacity: showAmount ? 1 : 0.5 }"
                >
                    Amount
                </button>
                <button
                    mat-raised-button
                    (click)="showPercent = !showPercent; updateList()"
                    class="item"
                    [ngStyle]="{ opacity: showPercent ? 1 : 0.5 }"
                >
                    Percent
                </button>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="openCreateDiscountDialog()"
                    class="item"
                    data-cy="create-discount-btn"
                >
                    Create new
                </button>
            </div>
            <form [formGroup]="sortSelectForm" class="select-input sub-header">
                <mat-form-field appearance="fill">
                    <mat-label>Sort by:</mat-label>
                    <select matNativeControl required formControlName="select" (change)="sortData()" value="createAt">
                        <option value="createdAt">Created at</option>
                        <option value="expiresAt">Expires at</option>
                        <option value="startsAt">Starts at</option>
                        <option value="code">Code</option>
                    </select>
                </mat-form-field>
                <mat-icon class="{{ showAsc ? 'up' : 'down' }} direction-icon" (click)="showAsc = !showAsc; sortData()"
                    >forward</mat-icon
                >
            </form>
        </div>
        <table mat-table [dataSource]="discountDisplayList" class="mat-elevation-z8 table" data-cy="discounts-table">
            <!-- Code Column -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef>Code</th>
                <td mat-cell *matCellDef="let discount">
                    <span class="id"
                        >{{ getShortText(discount.discountCode, false) }}
                        {{ discount.discountCode.length > 10 ? ' ...' : '' }}
                    </span>
                    <button mat-icon-button (click)="copyToClipboard(discount.discountCode)">
                        <mat-icon class="icon">file_copy</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let discount">
                    <div class="row">
                        <span class="id"> ... {{ getShortText(discount.discountId, true) }}</span>
                        <button mat-icon-button (click)="copyToClipboard(discount.discountId)">
                            <mat-icon class="icon">file_copy</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <!-- Uses left Column -->
            <ng-container matColumnDef="usesLeft">
                <th mat-header-cell *matHeaderCellDef>Uses left</th>
                <td mat-cell *matCellDef="let discount">{{ discount.remainingUses }}</td>
            </ng-container>

            <!-- Used Column -->
            <ng-container matColumnDef="used">
                <th mat-header-cell *matHeaderCellDef>Used</th>
                <td mat-cell *matCellDef="let discount">{{ discount.totalUses }}</td>
            </ng-container>

            <!-- Expires at Column -->
            <ng-container matColumnDef="startsAt">
                <th mat-header-cell *matHeaderCellDef>Starts at</th>
                <td mat-cell *matCellDef="let discount">{{ discount.startsAt | date: 'hh:mm  dd/MM' }}</td>
            </ng-container>

            <!-- Expires at Column -->
            <ng-container matColumnDef="expiresAt">
                <th mat-header-cell *matHeaderCellDef>Expires at</th>
                <td mat-cell *matCellDef="let discount">{{ discount.expiresAt | date: 'dd/MM/yyyy' }}</td>
            </ng-container>

            <!-- Expires at Column -->
            <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef>Discount</th>
                <td mat-cell *matCellDef="let discount">
                    {{ discount.type === 'PERCENT' ? discount.amount + '%' : discount.amount + ' DKK' }}
                </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let discount">
                    <button
                        mat-flat-button
                        color="primary"
                        routerLink="/discounts/{{ discount.discountId }}"
                        class="item action-btn"
                        data-cy="discounts-edit-btn"
                    >
                        Edit
                    </button>
                </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let discount">
                    <button
                        mat-flat-button
                        color="primary"
                        (click)="toggleDiscountState(discount.discountId)"
                        class="item status-btn {{ getDiscountState(discount) }}"
                        data-cy="discounts-enable-btn"
                    >
                        {{ getDiscountState(discount) }}
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" data-cy="discounts-table-header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" data-cy="discounts-table-row"></tr>
        </table>
    </ng-template>
</webstore-item-card>
