<div class="min-width">
    <webstore-navbar *ngIf="router.url !== '/payment/success' && router.url !== '/checkout'"></webstore-navbar>
    <div class="full-page">
        <router-outlet></router-outlet>
    </div>
    <webstore-footer
        *ngIf="
            router.url !== '/login' &&
            router.url !== '/signup' &&
            router.url !== '/resetPassword' &&
            router.url !== '/payment/success' &&
            router.url !== '/checkout' &&
            router.url !== '/products/family-tree' &&
            router.url !== '/products'
        "
    ></webstore-footer>
    <webstore-cookie-prompt-modal></webstore-cookie-prompt-modal>
    <webstore-toasts></webstore-toasts>
</div>
