.mini-product-container {
  width: 150px;
  background-color: white;
  margin: 0.75em;
  box-shadow: 0px 1px 18px -2px rgb(0 0 0 / 15%);
  padding: 0.75em;
}

.product-img {
  width: 100%;
  height: fit-content;
}

.title {
  text-align: center;
  width: 100%;
  margin-top: 0.35em;
}
