.design-container {
  width: 250px;
  margin: 20px;
}

.design-image {
  width: 100%;
}

.action-container {
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 10px;
}

.title {
  text-align: center;
}
