<div class="design-container">
    <div class="design-image">
        <webstore-family-tree-miniature
            #productDesign
            [design]="design.designProperties"
            [boxSize]="design.designProperties.boxSize"
            class="item-image"
        >
        </webstore-family-tree-miniature>
    </div>
    <hr />
    <div class="title">
        {{ design.designProperties.title }}
    </div>
    <button
        type="button"
        class="tc-button-100"
        i18n="@@add-to-basket"
        (click)="addDesignToBasket()"
    >
        Add to basket
    </button>
    <div class="action-container">
        <button
            type="button"
            class="tc-button-50"
            i18n="@@edit"
            (click)="editDesign()"
        >
            Edit
        </button>
        <button
            type="button"
            class="tc-button-50"
            i18n="@@delete"
            (click)="deleteDesign()"
        >
            Delete
        </button>
    </div>
</div>
