<div class="design-container" data-cy="family-tree-collection-item">
    <div class="design-image">
        <webstore-store-item
            #productDesign
            [isMutable]="false"
            [design]="design"
            class="item-image"
        ></webstore-store-item>
    </div>
    <hr />

    <div class="title" [ngSwitch]="design.designType">
        <strong *ngSwitchCase="designTypeEnum.familyTree" i18n="@@design-type-family-tree">Family tree</strong>
    </div>
    <button
        type="button"
        class="tc-button-100"
        i18n="@@add-to-basket"
        (click)="addDesignToBasket()"
        data-cy="family-tree-collection-item-add-to-basket-button"
    >
        Add to basket
    </button>
    <div class="action-container">
        <button
            type="button"
            class="tc-button-50"
            i18n="@@edit"
            (click)="editDesign()"
            [routerLink]="'/products/family-tree'"
            [queryParams]="{ designId: design.designId }"
            data-cy="family-tree-collection-item-edit-button"
        >
            Edit
        </button>
        <button
            type="button"
            class="tc-button-50"
            i18n="@@delete"
            (click)="deleteDesign()"
            data-cy="family-tree-collection-item-delete-button"
        >
            Delete
        </button>
    </div>
</div>
