.design-container {
  width: 250px;
  margin: 10px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.design-image {
  width: 100%;
  min-height: 240px;
  padding: 0.5em;
}

.action-container {
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 10px;
}

.title {
  text-align: center;
  margin-bottom: 5px;
}

hr {
  margin: 10px 0;
}
