<webstore-item-card title="Users" [content]="content" [isLoading]="isLoading" data-cy="users-card">
    <ng-template #content>
        <table mat-table [dataSource]="userList" class="mat-elevation-z8 table" data-cy="users-table">
            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>E-mail</th>
                <td mat-cell *matCellDef="let user" data-cy="user-email">{{ user.email }}</td>
            </ng-container>

            <!-- User id Column -->
            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef>User id</th>
                <td mat-cell *matCellDef="let user" class="id-container" (mouseenter)="showFullId = true">
                    ...{{ user.userId.slice(user.userId.length - 8) }}
                    <button mat-icon-button (click)="copyToClipboard(user.userId)">
                        <mat-icon class="icon">file_copy</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Date created Column -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let user">{{ user.createdAt | date }}</td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let user" class="actions">
                    <button
                        mat-flat-button
                        color="primary"
                        (click)="viewOrders(user.userId, user.email)"
                        data-cy="view-user-orders-btn"
                    >
                        View orders
                    </button>

                    <button
                        mat-flat-button
                        color="accent"
                        routerLink="/account"
                        data-cy="edit-user-btn"
                        [queryParams]="{ userId: user.userId }"
                    >
                        Edit
                    </button>
                    <button mat-flat-button color="primary" [disabled]="true" data-cy="delete-user-btn">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" data-cy="users-table-header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" data-cy="users-table-row"></tr>
        </table>
    </ng-template>
</webstore-item-card>
