<div class="design-wrapper" #designWrapper [ngStyle]="{ 'font-family': this.design.font }">
    <div class="above-canvas" *ngIf="!isLoading">
        <div
            #inputWrapper
            style="border: 1px solid black; position: relative"
            id="textVerticalPlacement"
            [ngClass]="{ 'show-dashed-line': showInputFieldOptions && isMutable }"
        >
            <div class="text-container" *ngIf="design.showTitle ?? false">
                <textarea
                    matInput
                    id="titleField"
                    cdkTextareaAutosize
                    #quotableTitleInput
                    #autosizeTitle="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="25"
                    spellcheck="false"
                    [rows]="rows"
                    [ngStyle]="{ 'font-size': fontSize * 2 + 'px' }"
                    [maxlength]="200"
                    autocomplete="off"
                    [ngModel]="design.title ?? ''"
                    (ngModelChange)="updateTitleText($event)"
                    [disabled]="!isMutable"
                    data-cy="text-input-field"
                ></textarea>
                <button
                    class="remove-text-btn"
                    (click)="changeTitleDisplay()"
                    *ngIf="isMutable"
                    [ngClass]="{ hide: !showInputFieldOptions }"
                >
                    <img src="assets/family-tree/box-options/close-button.svg" alt="close button" />
                </button>
            </div>
            <div *ngIf="!design.showTitle && isMutable" class="add-option" [ngClass]="{ hide: !showInputFieldOptions }">
                <button id="addTitle" class="tc-button-sm-square" (click)="changeTitleDisplay()">+ add title</button>
            </div>

            <div class="text-container" *ngIf="design.showText ?? true">
                <textarea
                    matInput
                    id="textField"
                    cdkTextareaAutosize
                    #quotableTextInput
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="25"
                    spellcheck="false"
                    [rows]="rows"
                    [ngStyle]="{ 'font-size': fontSize + 'px' }"
                    [maxlength]="1000"
                    autocomplete="off"
                    [ngModel]="design.text"
                    (ngModelChange)="updateText($event)"
                    [disabled]="!isMutable"
                    data-cy="text-input-field2"
                ></textarea>
                <button
                    class="remove-text-btn"
                    (click)="changeTextDisplay()"
                    *ngIf="isMutable"
                    [ngClass]="{ hide: !showInputFieldOptions }"
                >
                    <img src="assets/family-tree/box-options/close-button.svg" alt="close button" />
                </button>
            </div>
            <div *ngIf="showAddTextButton()" class="add-option" [ngClass]="{ hide: !showInputFieldOptions }">
                <button id="addText" class="tc-button-sm-square" (click)="changeTextDisplay()">+ add text</button>
            </div>

            <ngx-slider
                (userChange)="changeVerticalPlacement()"
                [(value)]="verticalPlacement"
                [options]="verticalPlacementOptions"
                data-cy="font-size-slider"
            ></ngx-slider>
        </div>
    </div>
    <img [src]="getDesignSrc()" alt="Desing frame image" id="backgroundImage" *ngIf="!isLoading" />
</div>
