:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.design-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.above-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#textField,
#titleField {
  width: 80%;
  background: none;
  text-align: center;
  text-decoration: none !important;
  resize: none;
  -webkit-text-size-adjust: none;
  overflow: hidden;
  white-space: pre-wrap;
  //border: 2px solid rgba($color: #000000, $alpha: 0);
  border: none;

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 1;
    color: black;
    resize: none;
  }

  &:disabled:hover {
    box-shadow: none;
  }
}

.show-dashed-line #textField,
.show-dashed-line #titleField {
  // Show interaction space
  outline: 2px dashed rgba($color: #000000, $alpha: 0.3);

  &:focus {
    outline: 2px solid blue;
  }
}

#backgroundImage {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 2px solid black;
}

.text-container {
  width: 100%;
}

.remove-text-btn {
  border-radius: 50%;
  position: absolute;
  right: 5%;
  border: none;
  background-color: transparent;

  & img {
    width: 3em;
  }
}

#textVerticalPlacement {
  width: 100%;
}

#textVerticalPlacement div {
  margin: -6px 0;
}

.add-option {
  position: absolute;
  align-items: center;
  width: 100%;

  & button {
    position: relative;
  }

  & #addTitle {
    top: -50px;
  }

  & #addText {
    bottom: -15px;
  }
}

@media screen and (max-width: 640px) {
  .remove-text-btn {
    & img {
      width: 2em;
    }
  }

  .add-option {
    transform: scale(0.8);
  }
}
