<section class="product-section" [ngClass]="!isMutable ? 'flex-direction-column' : ''">
    <div class="back-container" *ngIf="!isMutable">
        <a href="javascript:history.back()" class="back add-transition" data-cy="view-only-back-button">
            < <span i18n="@@back">Back</span>
        </a>
    </div>
    <div class="design-screen" [ngStyle]="{ 'font-family': this.font }">
        <button
            class="option-toggler"
            data-cy="mobile-options-toggler"
            type="button"
            (click)="showOptions()"
            *ngIf="isMutable"
        >
            <div class="option-icon" [ngClass]="!isMobileOptionOpen ? '' : 'active'">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </button>

        <button
            class="toggle-box-options"
            type="button"
            (click)="toggleBoxOptions()"
            *ngIf="isMutable"
            title="Hide/Show box options"
        >
            <img
                class="toggle-box-options-icon"
                [ngClass]="!isMobileOptionOpen ? '' : 'active'"
                alt="toggle box options"
                [src]="toggleBoxOptionsIcon"
            />
        </button>

        <webstore-family-tree-design
            #familyTreeDesignCanvas
            [design]="design"
            [isMutable]="isMutable"
            [boxSize]="boxSize"
            [banner]="banner"
            [backgroundTreeDesign]="backgroundTreeDesign"
            [font]="font"
            [showOptionBoxButtons]="showOptionBoxButtons"
            (isDesignValidEvent)="onIsDesignValidEvent($event)"
            data-cy="family-tree-canvas"
        ></webstore-family-tree-design>
    </div>

    <!-- FOR CY TESTS -->
    <div class="hide" data-cy="font">{{ font }}</div>
    <div class="hide" data-cy="design">{{ backgroundTreeDesign }}</div>
    <div class="hide" data-cy="box-size">{{ boxSize }}</div>
    <div class="hide" data-cy="banner">
        {{ banner !== undefined ? banner.text : '' }}
    </div>
    <!-- END CY TESTS -->

    <div
        [ngClass]="isMobileOptionOpen ? 'mobile-options-container' : 'desktop-options-container'"
        *ngIf="isMutable"
        data-cy="product-options"
    >
        <div class="blocker" *ngIf="isMobileOptionOpen" (click)="showOptions()"></div>
        <div [ngClass]="isMobileOptionOpen ? 'mobile-options-items' : ''">
            <div class="option option-font-select">
                <div class="option-title">
                    Font
                    <webstore-info-popover
                        title="Font"
                        text="{{
                            isEnglish()
                                ? 'Choose the font that best suits you.'
                                : 'Vælg hvilken font der passer dig bedst. '
                        }}"
                    ></webstore-info-popover>
                </div>
                <div class="option-tree-design-btn">
                    <button class="design-arrow-left tc-button-sm-square" data-cy="font-prev-btn" (click)="prevFont()">
                        <span class="arrow-left"></span>
                    </button>
                    <div
                        class="display display-design"
                        style="text-transform: capitalize"
                        [ngStyle]="{ 'font-family': this.font }"
                    >
                        {{ formatFontTextForDisplay(font) }}
                    </div>
                    <button class="design-arrow-right tc-button-sm-square" data-cy="font-next-btn" (click)="nextFont()">
                        <span class="arrow-right"></span>
                    </button>
                </div>
            </div>

            <div class="option option-tree-design">
                <div class="option-title">
                    Design
                    <webstore-info-popover
                        title="Design"
                        text="{{
                            isEnglish()
                                ? 'Change the design of the tree and find the one you like the most.'
                                : 'Vælg det design der passer dig bedst.'
                        }}"
                    ></webstore-info-popover>
                </div>
                <div class="option-tree-design-btn">
                    <button
                        class="design-arrow-left tc-button-sm-square"
                        data-cy="design-arrow-left"
                        (click)="nextDesign()"
                    >
                        <span class="arrow-left"></span>
                    </button>
                    <div class="display display-design">
                        {{ getDesignName(backgroundTreeDesign) }}
                    </div>
                    <button
                        class="design-arrow-right tc-button-sm-square"
                        data-cy="design-arrow-right"
                        (click)="prevDesign()"
                        [disabled]="!isMutable"
                    >
                        <span class="arrow-right"></span>
                    </button>
                </div>
            </div>

            <div class="option option-box-size">
                <div class="option-title">
                    <span i18n="@@box-size">Box Size</span>
                    <webstore-info-popover
                        title="{{ isEnglish() ? 'Box size' : 'Boks størrelse' }}"
                        text="{{
                            isEnglish()
                                ? 'You can increase or decrease the size of the name boxes on your tree. Make them larger for better visibility of your design.'
                                : 'Du kan gøre navne boksene større og mindre. Gør dem større for et mere tydeligt print.'
                        }}"
                    ></webstore-info-popover>
                </div>
                <div>
                    <button
                        class="box-size-plus tc-button-sm-square"
                        data-cy="box-size-plus"
                        (click)="this.boxSize = this.boxSize + 1"
                        [disabled]="this.boxSize >= maxSize"
                    >
                        <div class="button-plus"></div>
                    </button>
                    <button
                        class="box-size-plus tc-button-sm-square"
                        data-cy="box-size-minus"
                        (click)="this.boxSize = this.boxSize - 1"
                        [disabled]="this.boxSize <= minSize"
                    >
                        <div class="icon">
                            <div class="button-minus"></div>
                        </div>
                    </button>
                </div>
            </div>

            <div>
                <div class="option option-checkboxes">
                    <div class="option-banner">
                        <label class="checkbox-container option-title">
                            Banner
                            <input
                                type="checkbox"
                                [checked]="this.banner !== undefined"
                                (change)="
                                    this.banner === undefined
                                        ? (this.banner = {
                                              text: '',
                                              style: 'first'
                                          })
                                        : (this.banner = undefined)
                                "
                            />
                            <span class="checkmark" data-cy="checkbox-banner"></span>
                            <webstore-info-popover
                                title="Banner"
                                text="{{
                                    isEnglish()
                                        ? 'Add or remove the banner from your design.'
                                        : 'Tillæg eller fjern banneret fra dit design.'
                                }}"
                            ></webstore-info-popover>
                        </label>
                    </div>
                </div>
                <div *ngIf="this.banner !== undefined" class="option-design-title banner-input">
                    <input
                        type="text"
                        class="title-input"
                        [value]="this.banner ? this.banner.text : ''"
                        (keyup)="updateBannerText($event)"
                        placeholder="Banner text"
                        data-cy="design-banner-input"
                        maxlength="50"
                    />
                </div>
            </div>

            <div class="option option-actions">
                <button
                    class="btn-save-design tc-button-50"
                    (click)="saveDesign({ persists: true })"
                    [disabled]="!isDesignValid"
                    data-cy="save-family-tree-button"
                >
                    <span i18n="@@save">Save</span>
                    <img src="/assets/icons/save-icon.svg" class="option-icon" />
                </button>
                <button
                    class="btn-add-to-cart tc-button-50"
                    (click)="openAddToBasketModal()"
                    data-cy="add-family-tree-to-basket-button"
                    [disabled]="!isDesignValid"
                >
                    <span i18n="@@add">Add</span>
                    <img src="/assets/icons/basket-white-icon.svg" class="option-icon" />
                </button>
            </div>

            <div class="option misc-option-actions">
                <button class="tc-button-100" (click)="clearDesignCanvas()">
                    Reset
                    <img src="/assets/icons/reset-icon.svg" class="option-icon" />
                </button>
            </div>
            <div class="option misc-option-actions" *ngIf="!isMobileOptionOpen">
                <button
                    class="tc-button-100"
                    (click)="toggleBoxOptions($event)"
                    title="Hide/Show box options"
                    data-cy="toggle-box-options"
                >
                    {{ showOptionBoxButtons ? 'Hide' : 'Show' }} box options
                    <img class="option-icon" alt="toggle box options" [src]="toggleBoxOptionsIcon" />
                </button>
            </div>
        </div>
    </div>
</section>
