<section class="product-section">
    <div class="design-screen" [ngStyle]="{ 'font-family': this.font }">
        <button
            class="option-toggler"
            data-cy="mobile-options-toggler"
            type="button"
            (click)="showOptions()"
        >
            <div
                class="option-icon"
                [ngClass]="!isMobileOptionOpen ? '' : 'active'"
            >
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </button>

        <webstore-family-tree-design
            *ngIf="isMutable"
            #familyTreeDesignCanvas
            [boxSize]="boxSize"
            [banner]="banner"
            [isLargeFont]="isLargeFont"
            [title]="designTitle"
            [backgroundTreeDesign]="backgroundTreeDesign"
            [font]="font"
            (isDesignValidEvent)="onIsDesignValidEvent($event)"
        ></webstore-family-tree-design>
        <webstore-family-tree-miniature
            *ngIf="!isMutable"
            #productDesign
            [design]="design"
            [boxSize]="boxSize"
            [banner]="banner"
            [isLargeFont]="isLargeFont"
            [title]="designTitle"
            [backgroundTreeDesign]="backgroundTreeDesign"
            [font]="font"
            class="item-image"
        >
        </webstore-family-tree-miniature>
    </div>

    <!-- FOR CY TESTS -->
    <div class="hide" data-cy="design-title">{{ designTitle }}</div>
    <div class="hide" data-cy="font">{{ font }}</div>
    <div class="hide" data-cy="design">{{ backgroundTreeDesign }}</div>
    <div class="hide" data-cy="box-size">{{ boxSize }}</div>
    <div class="hide" data-cy="banner">
        {{ banner !== undefined ? banner.text : '' }}
    </div>
    <div class="hide" data-cy="large-font">{{ isLargeFont }}</div>
    <!-- END CY TESTS -->

    <div
        [ngClass]="
            isMobileOptionOpen
                ? 'mobile-options-container'
                : 'design-options-desktop'
        "
    >
        <div
            class="blocker"
            *ngIf="isMobileOptionOpen"
            (click)="showOptions()"
        ></div>
        <div [ngClass]="isMobileOptionOpen ? 'mobile-options-items' : ''">
            <div class="option option-design-name">
                <div class="option-title">
                    Title
                    <webstore-info-popover
                        title="Title"
                        text="Add a good title so you can keep track of your designs."
                    ></webstore-info-popover>
                </div>
                <div class="option-design-title">
                    <input
                        type="text"
                        class="title-input"
                        [value]="designTitle"
                        (keyup)="onKey($event)"
                        placeholder="Untitled-1"
                        data-cy="design-title-input"
                        maxlength="50"
                        [disabled]="!isMutable"
                    />
                </div>
            </div>

            <div class="option option-font-select">
                <div class="option-title">
                    Font
                    <webstore-info-popover
                        title="Font"
                        text="Choose the font that best suits you."
                    ></webstore-info-popover>
                </div>
                <div class="option-tree-design-btn">
                    <button
                        class="design-arrow-left tc-button-sm-square"
                        data-cy="font-prev-btn"
                        (click)="prevFont()"
                        [disabled]="!isMutable"
                    >
                        <span class="arrow-left"></span>
                    </button>
                    <div
                        class="display display-design"
                        [ngStyle]="{ 'font-family': this.font }"
                    >
                        {{ font }}
                    </div>
                    <button
                        class="design-arrow-right tc-button-sm-square"
                        data-cy="font-next-btn"
                        (click)="nextFont()"
                        [disabled]="!isMutable"
                    >
                        <span class="arrow-right"></span>
                    </button>
                </div>
            </div>

            <div class="option option-tree-design">
                <div class="option-title">
                    Design
                    <webstore-info-popover
                        title="Design"
                        text="Change the design of the tree and find the one you like the most."
                    ></webstore-info-popover>
                </div>
                <div class="option-tree-design-btn">
                    <button
                        class="design-arrow-left tc-button-sm-square"
                        data-cy="design-arrow-left"
                        (click)="nextDesign()"
                        [disabled]="!isMutable"
                    >
                        <span class="arrow-left"></span>
                    </button>
                    <div class="display display-design">
                        {{ getDesignName(backgroundTreeDesign) }}
                    </div>
                    <button
                        class="design-arrow-right tc-button-sm-square"
                        data-cy="design-arrow-right"
                        (click)="prevDesign()"
                        [disabled]="!isMutable"
                    >
                        <span class="arrow-right"></span>
                    </button>
                </div>
            </div>

            <div class="option option-box-size">
                <div class="option-title">
                    Box Size
                    <webstore-info-popover
                        title="Box Size"
                        text="You can increase or decrease the size of the name boxes on your tree. Make them larger for better visibility of your design."
                    ></webstore-info-popover>
                </div>
                <div>
                    <button
                        class="box-size-plus tc-button-sm-square"
                        data-cy="box-size-plus"
                        (click)="this.boxSize = this.boxSize + 1"
                        [disabled]="this.boxSize >= maxSize || !isMutable"
                    >
                        <div class="button-plus"></div>
                    </button>
                    <button
                        class="box-size-plus tc-button-sm-square"
                        data-cy="box-size-minus"
                        (click)="this.boxSize = this.boxSize - 1"
                        [disabled]="this.boxSize <= minSize || !isMutable"
                    >
                        <div class="icon">
                            <div class="button-minus"></div>
                        </div>
                    </button>
                </div>
            </div>

            <div class="option option-checkboxes">
                <div class="option-banner">
                    <label class="checkbox-container option-title">
                        Banner
                        <input
                            type="checkbox"
                            [checked]="this.banner !== undefined"
                            (change)="
                                this.banner === undefined
                                    ? (this.banner = {
                                          text: '',
                                          style: 'first'
                                      })
                                    : (this.banner = undefined)
                            "
                            [disabled]="!isMutable"
                        />
                        <span
                            class="checkmark"
                            data-cy="checkbox-banner"
                        ></span>
                        <webstore-info-popover
                            title="Banner"
                            text="Add or remove the banner from your design."
                        ></webstore-info-popover>
                    </label>

                    <div
                        *ngIf="this.banner !== undefined"
                        class="option-design-title"
                    >
                        <input
                            type="text"
                            class="title-input"
                            [value]="this.banner ? this.banner.text : ''"
                            (keyup)="updateBannerText($event)"
                            placeholder="Banner text"
                            data-cy="design-banner-input"
                            maxlength="50"
                            [disabled]="!isMutable"
                        />
                    </div>
                </div>
                <div class="option-large-font">
                    <label class="checkbox-container option-title">
                        Large font
                        <input
                            type="checkbox"
                            [checked]="this.isLargeFont"
                            (change)="this.isLargeFont = !this.isLargeFont"
                            [disabled]="!isMutable"
                        />
                        <span
                            class="checkmark"
                            data-cy="checkbox-large-font"
                        ></span>
                        <webstore-info-popover
                            title="Large font"
                            text="Add or remove large font. With the large font the visibility will be better, but there wont be space for a surname."
                        ></webstore-info-popover>
                    </label>
                </div>
            </div>

            <div class="option option-actions">
                <button
                    class="btn-save-design tc-button-50"
                    (click)="saveDesign({ persists: true })"
                    [disabled]="!isDesignValid || !isMutable"
                >
                    Save
                    <img
                        src="/assets/icons/save-icon.svg"
                        alt=""
                        class="option-icon"
                    />
                </button>
                <button
                    class="btn-add-to-cart tc-button-50"
                    (click)="openAddToBasketModal()"
                    [disabled]="!isMutable"
                >
                    Add
                    <img
                        src="/assets/icons/basket-white-icon.svg"
                        alt=""
                        class="option-icon"
                    />
                </button>
            </div>

            <div class="option misc-option-actions">
                <button
                    class="tc-button-33"
                    (click)="clearDesignCanvas()"
                    [disabled]="!isMutable"
                >
                    Reset
                    <img
                        src="/assets/icons/seed-icon.svg"
                        alt=""
                        class="option-icon"
                    />
                </button>
            </div>

            <ngb-alert *ngIf="!isMutable" type="warning" [dismissible]="false">
                This design can't be updated</ngb-alert
            >
        </div>
    </div>
</section>
