@media screen and (max-width: 1130px) {
  .design-options-desktop {
    display: none;
  }
  .option-toggler {
    display: block;
  }
  .design-container {
    width: 100vw;
    overflow-x: scroll;
    margin: 0 auto;
  }
}

@media screen and (max-width: 640px) {
  .design-screen {
    width: 100vw;
    height: 100vw;
  }
  .mobile-options-items {
    transform: scale(0.7);
    top: 114px;
    right: -10px;
  }
}

@media screen and (max-width: 400px) {
  .design-screen {
    width: 100vw;
    height: 100vw;
  }
  .mobile-options-items {
    transform: scale(0.7);
    top: 114px;
    right: -31px;
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  .design-screen {
    width: 100vh;
    height: 100vh;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .mobile-options-items {
    top: 80px;
  }
}
