# This file contains all environment variables needed by the apps when running with docker-compose, docker etc
# Create a new file called .env, copy over the contents and adjust when needed (confidential data etc)
API_URL=http://localhost:5050
GTAG=G-4VY53TX2KS