.newsletters-table {
  box-shadow: none;
  width: 100%;
  max-width: 71.25vw;
  height: 100%;
  max-height: 60.7vh;
}

.mat-header-cell {
  color: black;
  font-weight: bold;
  padding: 0 5px;
  border-bottom-style: none;
}

.mat-cell {
  max-width: 30%;
  text-overflow: ellipsis;
  padding: 0 5px;
  border-bottom-style: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3vh;
  min-width: fit-content;
  min-height: 15px;
  margin: 5px;
}

.actions,
.id-container {
  display: flex;
}

.icon {
  transform: scale(0.8);
  opacity: 0.7;
  position: relative;
  top: -7px;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: fit-content;
  min-width: 30px;
  height: 2.3vh;
  min-height: 15px;
  padding: 0 6px;
  border-radius: 2px;
  margin-left: 1vw;
}

.sub-header-option {
  width: 9em;
  height: 1em;
  font-size: larger;
  justify-content: space-between;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.sub-header {
  display: flex;
  justify-content: end;
}
