<ngb-carousel class="carousel-container">
    <ng-template ngbSlide>
        <div class="review-section">
            <div class="review-container">
                <div class="header-icons">
                    <div class="quotation-mark">
                        <img
                            src="/assets/icons/quote-brown-icon.svg"
                            width="30"
                            height="30"
                        />
                    </div>
                    <div class="rating">
                        <div class="star-container">
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                        </div>
                    </div>
                </div>
                <div class="review-text">
                    “Fantastisk fint og helt unikt produkt, som rammer lige i
                    "skabet". Vi købte stamtræer til begge hold bedsteforældre
                    som gaver, hvilket var en stor succes.”
                </div>
                <div class="review-author">
                    <strong> - Birgitte Hansson</strong>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="review-section">
            <div class="review-container">
                <div class="header-icons">
                    <div class="quotation-mark">
                        <img
                            src="/assets/icons/quote-brown-icon.svg"
                            width="30"
                            height="30"
                        />
                    </div>
                    <div class="rating">
                        <div class="star-container">
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                        </div>
                    </div>
                </div>
                <div class="review-text">
                    “10/10! Og mere til .. det for ros hvergang vi har gæster,
                    og mange spørg til det. Meget lækkert produkt, kvalitet i
                    top, vi er mere end tilfredse.”
                </div>
                <div class="review-author">
                    <strong> - Stine Olsen</strong>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="review-section">
            <div class="review-container">
                <div class="header-icons">
                    <div class="quotation-mark">
                        <img
                            src="/assets/icons/quote-brown-icon.svg"
                            width="30"
                            height="30"
                        />
                    </div>
                    <div class="rating">
                        <div class="star-container">
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star-yellow-icon.svg"
                                class="star-icon"
                            />
                        </div>
                    </div>
                </div>
                <div class="review-text">
                    “Min familie blev utroligt glade for gave, jeg synes at det
                    er fedt at kunne få familien med ind i indretning!”
                </div>
                <div class="review-author">
                    <strong> - Sabrine Dam</strong>
                </div>
            </div>
        </div>
    </ng-template>
</ngb-carousel>
