<nav data-cy="navbar" class="navbar fixed-top navbar-expand-lg add-transition">
    <div class="purchase-info" *ngIf="router.url === '/home'">
        <span class="info-text">
            <span i18n="@@delivery-4-7">7 days delivery</span>
            <img src="/assets/icons/check-white-icon.svg" class="check-icon" alt="Hurtig levering icon" />
        </span>
        <span class="info-text">
            <span i18n="@@free-delivery">Free over 350,-</span>
            <img src="/assets/icons/check-white-icon.svg" class="check-icon" alt="Gratis fragt icon" />
        </span>
        <span class="info-text remove">
            <span i18n="@@plant-a-tree">1 purchase = 1 tree</span>
            <img src="/assets/icons/check-white-icon.svg" class="check-icon" alt="Plant et træ gratis icon" />
        </span>
    </div>

    <div class="container">
        <div class="nav-start">
            <!-- Dropdown => not shown on desktop -->
            <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                <div class="icon" [ngClass]="isMenuCollapsed ? '' : 'active'">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </button>

            <!-- Logo, always shown -->
            <a class="navbar-brand" routerLink="/">
                <img data-cy="navbar-logo-img" src="/assets/logos/tc-black-text-logo.svg" class="logo" />
            </a>

            <!-- Dropdown => language change, always shown -->
            <div
                ngbDropdown
                class="d-inline-block language-icon"
                (mouseenter)="showLanguageChange()"
                (mouseleave)="hideLanguageChange()"
                data-cy="navbar-localization"
            >
                <a class="nav-item" ngbDropdownToggle class="waves-light">
                    {{ localeCode }}
                </a>
                <div
                    class="dropdown-menu-container language-dropdown dropdown-item-list"
                    ngbDropdownMenu
                    aria-labelledby="dropdownBasic"
                    #languageChange
                >
                    <a
                        ngbDropdownItem
                        (click)="changeLocale('en')"
                        href="/{{ localeCode }}/"
                        data-cy="navbar-localization-en"
                        i18n="@@engelsk"
                        >Engelsk</a
                    >
                    <a
                        ngbDropdownItem
                        (click)="changeLocale('dk')"
                        href="/{{ localeCode }}/"
                        data-cy="navbar-localization-dk"
                        i18n="@@dansk"
                        >Dansk</a
                    >
                </div>
            </div>
        </div>

        <!-- Buy / Basket button => only shown on mobile, changes depending on items being in basket -->
        <div class="nav-section">
            <button
                class="navbar-basket-icon tc-button-100 show-on-mobile"
                (click)="autoCollapse()"
                routerLink="/basket"
                *ngIf="itemsInBasket !== 0"
            >
                <img src="/assets/icons/basket-white-icon.svg" class="nav-icon-mobile" />
                <span class="item-number">{{ itemsInBasket }}</span>
            </button>
            <button
                class="tc-button-100 show-on-mobile"
                (click)="autoCollapse()"
                routerLink="/products"
                *ngIf="itemsInBasket === 0"
            >
                <img src="/assets/icons/basket-white-icon.svg" class="nav-icon-mobile" />
                <span class="buy-button-text" i18n="@@buy">Buy</span>
            </button>
        </div>

        <!-- Links section => changes to dropdown depending on screensize -->
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link waves-light" routerLink="/home" (click)="autoCollapse()">Home</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link waves-light"
                        routerLink="/products"
                        i18n="@@product"
                        data-cy="navbar-product-page-button"
                        (click)="autoCollapse()"
                        >Products</a
                    >
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link waves-light" routerLink="/login" (click)="autoCollapse()" i18n="@@login"
                        >Log in</a
                    >
                </li>

                <li class="nav-item show-on-mobile">
                    <a
                        class="nav-link waves-light"
                        *ngIf="isLoggedIn"
                        routerLink="/collection"
                        (click)="autoCollapse()"
                        i18n="@@collection"
                        >Collection</a
                    >
                </li>
                <li class="nav-item show-on-mobile">
                    <a
                        class="nav-link waves-light"
                        *ngIf="isLoggedIn"
                        routerLink="/profile"
                        (click)="autoCollapse()"
                        i18n="@@profile"
                        >Profile</a
                    >
                </li>
                <li class="nav-item show-on-mobile">
                    <a
                        class="nav-link waves-light"
                        *ngIf="isLoggedIn"
                        routerLink="/orders"
                        (click)="autoCollapse()"
                        i18n="@@orders"
                        >Orders</a
                    >
                </li>

                <li class="nav-item show-on-mobile">
                    <a
                        class="nav-link waves-light"
                        *ngIf="isLoggedIn"
                        (click)="logout(); autoCollapse()"
                        i18n="@@logout"
                        data-cy="navbar-log-out-btn"
                        >Log out</a
                    >
                </li>

                <div class="remove-on-mobile">
                    <div ngbDropdown class="d-inline-block" *ngIf="isLoggedIn" (mouseleave)="hideProfileMenu()">
                        <a
                            class="nav-item"
                            ngbDropdownToggle
                            class="nav-link waves-light"
                            (mouseenter)="showProfileMenu()"
                            i18n="@@profile"
                            data-cy="navbar-profile-dropdown"
                            >Profile</a
                        >
                        <div
                            class="dropdown-menu-container dropdown-item-list"
                            ngbDropdownMenu
                            aria-labelledby="dropdownBasic"
                            #profileMenu
                        >
                            <a ngbDropdownItem routerLink="/profile" (click)="scrollTop()" i18n="@@account-info"
                                >Account info</a
                            >
                            <a ngbDropdownItem routerLink="/collection" (click)="scrollTop()" i18n="@@collection"
                                >Collection</a
                            >
                            <a ngbDropdownItem routerLink="/orders" (click)="scrollTop()" i18n="@@orders">Orders</a>
                            <a ngbDropdownItem (click)="logout(); scrollTop()" i18n="@@logout">Log Out</a>
                        </div>
                    </div>
                </div>

                <!-- Buy button => changes between showing basket and buyNow -->
                <div class="nav-section remove-on-mobile">
                    <button
                        class="navbar-basket-icon"
                        (click)="autoCollapse()"
                        routerLink="/basket"
                        *ngIf="itemsInBasket !== 0"
                    >
                        <img src="/assets/icons/basket-white-icon.svg" class="nav-icon-mobile" />
                        <span class="item-number">{{ itemsInBasket }}</span>
                    </button>
                    <button
                        class="tc-button-100"
                        (click)="autoCollapse()"
                        routerLink="/products"
                        data-cy="navbar-basket-link"
                        *ngIf="itemsInBasket === 0"
                    >
                        <img src="/assets/icons/basket-white-icon.svg" class="nav-icon-mobile" />
                        <span class="buy-button-text" i18n="@@buy">Buy</span>
                    </button>
                </div>
            </ul>
        </div>
    </div>
</nav>
<div class="backdrop" *ngIf="!isMenuCollapsed" (click)="isMenuCollapsed = !isMenuCollapsed"></div>
