.nav-link {
  transition-duration: 0.5s;
  padding-bottom: 5px;
}
.nav-item {
  padding: 0 10px;
  transition-duration: 0.5s;
}
.nav-item:hover > .nav-link {
  background: none;
  transform: scale(0.95);
  text-decoration: none;
  opacity: 0.5;
}
.nav-section:hover > .navbar-basket-icon {
  transform: scale(1.05);
}
.nav-start {
  display: flex;
  align-items: center;
}
.navbar-brand {
  margin-right: 0 !important;
}
.logo {
  width: 100px;
  transition: 0.4s;
}
.nav-icon {
  width: 1.2rem;
  padding-bottom: 1px;
}
.navbar a {
  color: black !important;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  transition: 0.4s;
  padding: 0.5rem;
}
.navbar-brand:hover > .logo {
  transform: scale(1.05);
}
.waves-light {
  text-align: center;
}
.navbar-toggler {
  outline: none;
}
.navbar-language {
  position: relative;
  bottom: 1px;
}
.language-icon {
  position: relative;
  top: -2px;
  padding: 10px 15px;
}
.language-dropdown {
  left: -45px;
}
/* menu toggle button */
.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}
.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.active .bar2 {
  opacity: 0;
}
.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}
.dropdown-menu {
  top: 35px;
  left: -45px;
  border: none;
  box-shadow: 0px 3px 10px 0 rgb(0 0 0 / 15%);
  padding: 0;
}
.dropdown-menu-container {
  text-align: center;
}
.dropdown-item-list a:hover {
  background-color: var(--second-action-color);
  color: white !important;
}
.dropdown-item-list a:first-child:hover {
  border-radius: 4px 4px 0 0;
}
.dropdown-item-list a:last-child:hover {
  border-radius: 0 0 4px 4px;
}
.dropdown-item-list a {
  padding: 10px;
}
.dropdown-item:focus {
  background-color: var(--light-second-action-color);
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000;
}
.show-on-mobile {
  display: none;
}
.nav-section {
  display: flex;
}
.navbar-basket-icon {
  background-color: transparent;
  border: none;
  transition: 0.5s;
}
.navbar-basket-icon {
  background-color: var(--green-color);
  transition: 0.4s;
  border-radius: 5px;
  color: white;
  padding: 0 8px 3px 8px;
  margin: 5px;
}
.nav-icon-mobile {
  width: 15px;
}
.item-number {
  margin-left: 4px;
  position: relative;
  top: 1px;
  font-size: 12px;
}
.loading-spinner-btn {
  position: relative;
  left: 5px;
}

.unverified-email {
  font-size: var(--extra-small-font);
  margin-top: 3px;
  position: fixed;
  top: 56px;
  background-color: var(--second-action-color);
  opacity: 0.7;
  width: 100%;
  color: white;
  text-align: center;
  backdrop-filter: blur(10px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.verify-email-link {
  color: white;
  background-color: transparent;
  border: none;
}
.verify-email-link:hover {
  text-decoration: underline;
}
.spinner-style {
  height: 10px;
  width: 10px;
  position: relative;
  top: -2px;
}

@media all and (max-width: 992px) {
  .remove-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
  .nav-item {
    padding: 0 1rem 0 0;
  }
  .nav-item:hover {
    border-bottom: none;
  }
}
