<nav data-cy="navbar" class="navbar fixed-top navbar-expand-lg mb-3 add-transition">
    <div class="container min-width">
        <div class="nav-start">
            <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                <div class="icon" [ngClass]="isMenuCollapsed ? '' : 'active'">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </button>

            <a class="navbar-brand" routerLink="/">
                <img data-cy="navbar-logo-img" src="/assets/logos/tc-black-text-logo.svg" class="logo" />
            </a>
            <!-- localization -->
            <div
                ngbDropdown
                class="d-inline-block language-icon"
                (mouseenter)="showLanguageChange()"
                (mouseleave)="hideLanguageChange()"
                data-cy="navbar-localization"
            >
                <a class="nav-item" ngbDropdownToggle class="waves-light">
                    <img src="/assets/icons/globe.svg" width="15px" />
                </a>
                <div
                    class="dropdown-menu-container language-dropdown dropdown-item-list"
                    ngbDropdownMenu
                    aria-labelledby="dropdownBasic"
                    #languageChange
                >
                    <a
                        ngbDropdownItem
                        (click)="changeLocale('en')"
                        href="/{{ localeCode }}/"
                        data-cy="navbar-localization-en"
                        i18n="@@engelsk"
                        >Engelsk</a
                    >
                    <a
                        ngbDropdownItem
                        (click)="changeLocale('dk')"
                        href="/{{ localeCode }}/"
                        data-cy="navbar-localization-dk"
                        i18n="@@dansk"
                        >Dansk</a
                    >
                </div>
            </div>

            <!-- <a
                class="navbar-language"
                href="/{{ localeCode }}/"
                data-cy="navbar-localization"
            >
                <img
                    class="language-icon"
                    [ngClass]="isDanish() ? 'dk' : 'en'"
                    attr.data-cy="{{ environment.locale }}"
                    i18n-src
                    i18n-alt
                    i18n="@@language"
                    alt="Language"
                    (click)="changeLocale()"
                />
            </a> -->
        </div>

        <div class="nav-section">
            <button class="navbar-basket-icon show-on-mobile" (click)="autoCollapse()" routerLink="/basket">
                <img src="/assets/icons/basket-white-icon.svg" class="nav-icon-mobile" />
                <span class="item-number">{{ itemsInBasket }}</span>
            </button>
        </div>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link waves-light" routerLink="/home" (click)="autoCollapse()">Home</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link waves-light"
                        routerLink="/catalog"
                        i18n="@@product"
                        data-cy="navbar-product-page-button"
                        (click)="autoCollapse()"
                        >Products</a
                    >
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link waves-light" routerLink="/login" (click)="autoCollapse()" i18n="@@login"
                        >Log in</a
                    >
                </li>

                <li class="nav-item show-on-mobile">
                    <a
                        class="nav-link waves-light"
                        *ngIf="isLoggedIn"
                        routerLink="/collection"
                        (click)="autoCollapse()"
                        i18n="@@collection"
                        >Collection</a
                    >
                </li>
                <li class="nav-item show-on-mobile">
                    <a
                        class="nav-link waves-light"
                        *ngIf="isLoggedIn"
                        routerLink="/profile"
                        (click)="autoCollapse()"
                        i18n="@@profile"
                        >Profile</a
                    >
                </li>
                <li class="nav-item show-on-mobile">
                    <a
                        class="nav-link waves-light"
                        *ngIf="isLoggedIn"
                        routerLink="/orders"
                        (click)="autoCollapse()"
                        i18n="@@orders"
                        >Orders</a
                    >
                </li>

                <li class="nav-item show-on-mobile">
                    <a
                        class="nav-link waves-light"
                        *ngIf="isLoggedIn"
                        (click)="logout(); autoCollapse()"
                        i18n="@@logout"
                        data-cy="navbar-log-out-btn"
                        >Log out</a
                    >
                </li>

                <div class="remove-on-mobile">
                    <div ngbDropdown class="d-inline-block" *ngIf="isLoggedIn" (mouseleave)="hideProfileMenu()">
                        <a
                            class="nav-item"
                            ngbDropdownToggle
                            class="nav-link waves-light"
                            (mouseenter)="showProfileMenu()"
                            i18n="@@profile"
                            data-cy="navbar-profile-dropdown"
                            >Profile</a
                        >
                        <div
                            class="dropdown-menu-container dropdown-item-list"
                            ngbDropdownMenu
                            aria-labelledby="dropdownBasic"
                            #profileMenu
                        >
                            <a ngbDropdownItem routerLink="/profile" (click)="scrollTop()" i18n="@@account-info"
                                >Account info</a
                            >
                            <a ngbDropdownItem routerLink="/collection" (click)="scrollTop()" i18n="@@collection"
                                >Collection</a
                            >
                            <a ngbDropdownItem routerLink="/orders" (click)="scrollTop()" i18n="@@orders">Orders</a>
                            <a ngbDropdownItem (click)="logout(); scrollTop()" i18n="@@logout">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="nav-section remove-on-mobile">
                    <button
                        class="navbar-basket-icon"
                        (click)="autoCollapse()"
                        routerLink="/basket"
                        data-cy="navbar-basket-link"
                    >
                        <img src="/assets/icons/basket-white-icon.svg" class="nav-icon-mobile" />
                        <span class="item-number">{{ itemsInBasket }}</span>
                    </button>
                </div>
            </ul>
        </div>
    </div>
</nav>
<div class="backdrop" *ngIf="!isMenuCollapsed" (click)="isMenuCollapsed = !isMenuCollapsed"></div>
