<div class="page-container">
    <div class="content row">
        <div class="">
            <h1>404</h1>
            <h2>Page not found</h2>
            <p>
                I tried to catch some fog, but I mist. If you are having issues,
                feel free to send us an e-mail at:
            </p>

            <a
                data-cy="page-not-found-mail-treecreate-link"
                id="mailto"
                class="link"
                href="mailto:info@treecreate.dk"
                target="_blank"
            >
                info@treecreate.dk
            </a>
            <div class="wrapper">
                <button
                    data-cy="page-not-found-back-btn"
                    onclick="history.back()"
                    class="tc-button-25"
                >
                    Back
                </button>
                <button
                    data-cy="page-not-found-home-btn"
                    routerLink="/"
                    class="tc-button-25"
                >
                    Home
                </button>
            </div>
        </div>
    </div>
</div>
