<footer data-cy="footer" class="page-footer font-small bottom add-transition" id="footer">
    <div class="container">
        <div class="row container-footer">
            <section class="col-main col-md-3 border-right">
                <div class="row">
                    <div class="col">
                        <h5 class="font-weight-bold mt-3">Navigation</h5>
                    </div>
                    <div class="col">
                        <ul class="list-unstyled">
                            <li>
                                <a (click)="scrollTop()" routerLink="/">Home</a>
                            </li>
                            <li>
                                <a (click)="scrollTop()" routerLink="/products" i18n="@@product">Products</a>
                            </li>
                            <li *ngIf="!isLoggedIn">
                                <a (click)="scrollTop()" routerLink="/login" i18n="@@login">Log in</a>
                            </li>
                            <li *ngIf="isLoggedIn">
                                <a (click)="scrollTop()" routerLink="/profile" i18n="@@profile">Profile</a>
                            </li>
                            <li *ngIf="isLoggedIn">
                                <a (click)="scrollTop()" routerLink="/collection" i18n="@@collection">Collection</a>
                            </li>
                            <li>
                                <a (click)="scrollTop()" routerLink="/basket" i18n="@@basket">Basket</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <hr class="clearfix w-100 d-md-none" />

            <section class="col-main col-md-3 border-right">
                <div class="row">
                    <div class="col">
                        <h5 class="font-weight-bold mt-3 contact-mobile-margin" i18n="@@contact">Contact</h5>
                    </div>
                    <div class="col">
                        <ul class="list-unstyled">
                            <li>
                                <a id="mailto" href="mailto:info@treecreate.dk" target="_blank">E-mail</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/TreeCreate.dk" target="_blank" rel="noopener"
                                    >Facebook</a
                                >
                            </li>
                            <li>
                                <a href="https://www.instagram.com/treecreate.dk/" target="_blank" rel="noopener"
                                    >Instagram</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <hr class="remove-margin clearfix w-100 d-md-none" />

            <form class="col-main col-md-3 final-col" [formGroup]="signupNewsletterForm" (ngSubmit)="submit()">
                <h5 class="font-weight-bold mt-3" i18n="@@subscribe-to-newsletter-title">
                    Subscribe to our newsletter
                </h5>
                <p i18n="@@subscribe-to-newsletter-subtitle">Get 10% off your first purchase.</p>
                <div class="tc-input-group field">
                    <input
                        type="email"
                        class="tc-input-field"
                        placeholder="E-mail"
                        formControlName="email"
                        name="email"
                        id="email"
                        required
                        #emailInput
                    />
                    <label for="email" class="tc-input-label">E-mail</label>
                </div>
                <div class="signup-button">
                    <button type="submit" class="tc-button-50">
                        <span i18n="@@signup" *ngIf="!isLoading">Sign up</span>
                        <span
                            *ngIf="isLoading"
                            class="spinner-border spinner-border-sm text-light"
                            style="margin: 5px"
                            role="status"
                            aria-hidden="true"
                        ></span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Copyright footer bottom -->
    <section class="footer-copyright text-center py-3">
        <div class="container">
            <div class="row">
                <div class="col">© {{ this.currentYear }} Copyright Treecreate</div>
                <hr class="remove-mobile clearfix w-100 d-md-none" />
                <div class="col">
                    <a
                        data-cy="footer-terms-of-use-modal-link"
                        (click)="showTermsOfUse()"
                        class="terms TnC"
                        i18n="@@terms"
                        >Terms</a
                    >
                    -
                    <a
                        data-cy="footer-terms-of-sale-modal-link"
                        (click)="showTermsOfSale()"
                        class="terms TnC"
                        i18n="@@sale"
                        >Sale</a
                    >
                    -
                    <a
                        data-cy="footer-privacy-notice-modal-link"
                        (click)="showPrivacyNotice()"
                        class="terms TnC"
                        i18n="@@privacy"
                        >Privacy</a
                    >
                </div>
                <hr class="remove-mobile clearfix w-100 d-md-none" />
                <div class="col">
                    <img src="/assets/logos/payment/dankortLogo.svg" class="payment-icon" alt="Dankort icon" />
                    <img src="/assets/logos/payment/mastercardLogo.svg" class="payment-icon" alt="Mastercard icon" />
                    <img src="/assets/logos/payment/mobilePay.svg" class="payment-icon" alt="Mobilpay icon" />
                    <img src="/assets/logos/payment/visaLogo.svg" class="payment-icon" alt="Visa dankort icon" />
                </div>
            </div>
        </div>
    </section>
</footer>
