<footer
    data-cy="footer"
    class="page-footer font-small bottom add-transition"
    id="footer"
>
    <div class="container">
        <div class="row container-footer">
            <div class="col-main col-md-3 border-right">
                <div class="row">
                    <div class="col">
                        <h5 class="font-weight-bold mt-3">Navigation</h5>
                    </div>
                    <div class="col">
                        <ul class="list-unstyled">
                            <li>
                                <a routerLink="/home">Home</a>
                            </li>
                            <li>
                                <a
                                    routerLink="{{
                                        isLoggedIn ? '/product' : '/notSignedIn'
                                    }}"
                                    i18n="@@product"
                                    >Product</a
                                >
                            </li>
                            <li *ngIf="!isLoggedIn">
                                <a routerLink="/login" i18n="@@login">Log in</a>
                            </li>
                            <li *ngIf="isLoggedIn">
                                <a routerLink="/profile" i18n="@@profile"
                                    >Profile</a
                                >
                            </li>
                            <li *ngIf="isLoggedIn">
                                <a routerLink="/collection" i18n="@@collection"
                                    >Collection</a
                                >
                            </li>
                            <li>
                                <a routerLink="/basket" i18n="@@basket"
                                    >Basket</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr class="clearfix w-100 d-md-none" />

            <div class="col-main col-md-3 border-right">
                <div class="row">
                    <div class="col">
                        <h5
                            class="font-weight-bold mt-3 contact-mobile-margin"
                            i18n="@@contact"
                        >
                            Contact
                        </h5>
                    </div>
                    <div class="col">
                        <ul class="list-unstyled">
                            <li>
                                <a
                                    id="mailto"
                                    href="mailto:info@treecreate.dk"
                                    target="_blank"
                                    >E-mail</a
                                >
                            </li>
                            <li>
                                <a
                                    href="https://www.facebook.com/TreeCreate.dk"
                                    target="_blank"
                                    >Facebook</a
                                >
                            </li>
                            <li>
                                <a
                                    href="https://www.instagram.com/treecreate.dk/"
                                    target="_blank"
                                    >Instagram</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr class="remove-margin clearfix w-100 d-md-none" />

            <div class="col-main col-md-3 final-col">
                <h5
                    class="font-weight-bold mt-3"
                    i18n="@@subscribe-to-newsletter-title"
                >
                    Subscribe to our newsletter
                </h5>
                <p i18n="@@subscribe-to-newsletter-subtitle">
                    Get 10% off your first purchase.
                </p>
                <div class="tc-input-group field">
                    <input
                        type="email"
                        class="tc-input-field"
                        placeholder="E-mail"
                        name="email"
                        id="email"
                        required
                    />
                    <label for="email" class="tc-input-label">E-mail</label>
                </div>
                <div class="signup-button">
                    <button type="button" class="tc-button-50">
                        <span i18n="@@signup">Sign up</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright footer bottom -->
    <div class="footer-copyright text-center py-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    © {{ this.currentYear }} Copyright Treecreate
                </div>
                <hr class="remove-mobile clearfix w-100 d-md-none" />
                <div class="col">
                    <a
                        data-cy="footer-terms-of-use-modal-link"
                        (click)="showTermsOfUse()"
                        class="terms TnC"
                        >Terms</a
                    >
                    -
                    <a
                        data-cy="footer-terms-of-sale-modal-link"
                        (click)="showTermsOfSale()"
                        class="terms TnC"
                        >Sale</a
                    >
                    -
                    <a
                        data-cy="footer-privacy-notice-modal-link"
                        (click)="showPrivacyNotice()"
                        class="terms TnC"
                        >Privacy</a
                    >
                </div>
                <hr class="remove-mobile clearfix w-100 d-md-none" />
                <div class="col">
                    <img
                        src="/assets/logos/payment/dankortLogo.svg"
                        class="payment-icon"
                    />
                    <img
                        src="/assets/logos/payment/mastercardLogo.svg"
                        class="payment-icon"
                    />
                    <img
                        src="/assets/logos/payment/mobilePay.svg"
                        class="payment-icon"
                    />
                    <img
                        src="/assets/logos/payment/visaLogo.svg"
                        class="payment-icon"
                    />
                </div>
            </div>
        </div>
    </div>
</footer>
