<div class="order-container">
    <div class="title" i18n="@@items">Order number #{{ orderNumber }}</div>
    <hr />
    <div class="line">
        <span class="sub-title" i18n="@@order-id"> Order id </span>
        <span>{{ order.orderId }}</span>
    </div>

    <div class="info-container">
        <div class="row-2">
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@order-status"
                        >Order status
                    </span>
                    <span> {{ order.state }} </span>
                </div>
                <div class="section-row margin-top">
                    <div class="line">
                        <span class="sub-title">E-mail </span>
                        <span> {{ order.contactInfo.email }} </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-2">
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@created-at"
                        >Created at</span
                    >
                    <span>{{ order.createdAt | date }}</span>
                </div>
            </div>
            <div class="section-row margin-top">
                <div class="line">
                    <span class="sub-title" i18n="@@phone-number"
                        >Phone nr</span
                    >
                    <span>{{ order.contactInfo.phoneNumber }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="title" i18n="@@items">Items</div>
    <hr />
    <div class="order-items-container">
        <div *ngFor="let item of order.transactionItems" class="item">
            <div class="item-info-container">
                <div class="row-2">
                    <div class="section-row">
                        <div class="line">
                            <span class="sub-title" i18n="@@title">Title </span>
                            <span>{{
                                item.design.designProperties.title
                            }}</span>
                        </div>
                    </div>

                    <div class="section-row">
                        <div class="line">
                            <span class="sub-title" i18n="@@amount"
                                >Amount</span
                            >
                            <span>{{ item.quantity }} stk</span>
                        </div>
                    </div>
                </div>
                <div class="row-2">
                    <div class="section-row">
                        <div class="line">
                            <span class="sub-title" i18n="@@price">Price</span>
                            <span>{{ getPrice(item) }} DKK</span>
                        </div>
                    </div>
                    <div class="section-row">
                        <div class="line">
                            <span class="sub-title" i18n="@@size">Size</span>
                            <span>{{ item.dimension }}</span>
                        </div>
                    </div>
                </div>

                <div class="special-row">
                    <button
                        class="tc-button-square button-placement"
                        (click)="scrollTop()"
                        [routerLink]="'/product'"
                        [queryParams]="{ designId: item.design.designId }"
                    >
                        <img
                            src="/assets/icons/eye-white-icon.svg"
                            alt=""
                            class="icon"
                        />
                    </button>
                </div>
            </div>
            <hr class="light" />
        </div>
    </div>

    <div class="title margin-top" i18n="@@address">Address</div>
    <hr />
    <div class="info-wrap-container">
        <div class="row-2-ed address">
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@shipping-address"
                        >Shipping address
                    </span>
                </div>
            </div>
            <hr class="light" />
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@name">Name</span>
                    <span>{{ order.billingInfo.name }}</span>
                </div>
            </div>
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@city">City </span>
                    <span>{{ order.billingInfo.city }}</span>
                </div>
            </div>
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@country">Country</span>
                    <span>{{ order.billingInfo.country }}</span>
                </div>
            </div>
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@postcode">Postcode</span>
                    <span>{{ order.billingInfo.postcode }}</span>
                </div>
            </div>
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@street-address"
                        >Street</span
                    >
                    <span>{{ order.billingInfo.streetAddress }}</span>
                </div>
            </div>
        </div>

        <div class="row-2-ed address">
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@billing-address"
                        >Billing address
                    </span>
                </div>
            </div>
            <hr class="light" />
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@name">Name</span>
                    <span>{{ order.contactInfo.name }}</span>
                </div>
            </div>
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@city">City</span>
                    <span>{{ order.contactInfo.city }}</span>
                </div>
            </div>
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@country">Country</span>
                    <span>{{ order.contactInfo.country }}</span>
                </div>
            </div>
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@postcode">Postcode</span>
                    <span>{{ order.contactInfo.postcode }}</span>
                </div>
            </div>
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@street-address"
                        >Street</span
                    >
                    <span>{{ order.contactInfo.streetAddress }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="title margin-top" i18n="@@order-info">Order info</div>
    <hr />
    <div class="line">
        <span class="sub-title" i18n="@@payment-id">Payment id</span>
        <span>{{ order.paymentId }}</span>
    </div>

    <div class="info-wrap-container">
        <div class="row-2-ed">
            <div class="section-row" *ngIf="order.discount != null">
                <div class="line">
                    <span class="sub-title" i18n="@@discount-code"
                        >Discount code
                    </span>
                    <span>{{ order.discount.discountCode }}</span>
                </div>
            </div>

            <div class="section-row" *ngIf="order.discount != null">
                <div class="line">
                    <span class="sub-title" i18n="@@discount-amount"
                        >Discount amount</span
                    >
                    <span *ngIf="order.discount.type === 'AMOUNT'"
                        >{{ order.discount.amount }} DKK</span
                    >
                    <span *ngIf="order.discount.type === 'PERCENT'"
                        >{{ order.discount.amount }} %</span
                    >
                </div>
            </div>

            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@subtotal">Subtotal</span>
                    <span>{{ order.subtotal }} DKK</span>
                </div>
            </div>
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@saved">Saved</span>
                    <span>{{ order.subtotal - order.total }} DKK</span>
                </div>
            </div>
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@total">Total</span>
                    <span class="bold">{{ order.total }} DKK</span>
                </div>
            </div>
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@vat">VAT</span>
                    <span>{{ order.total * 0.2 }} DKK</span>
                </div>
            </div>
        </div>

        <div class="row-2-ed">
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@delivery">Delivery</span>
                    <span>{{ order.shippingMethod }}</span>
                </div>
            </div>
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@delivery-price"
                        >Delivery price
                    </span>
                    <span
                        *ngIf="
                            order.shippingMethod === 'PICK_UP_POINT' ||
                            order.shippingMethod === 'OWN_DELIVERY'
                        "
                        >0 DKK</span
                    >
                    <span *ngIf="order.shippingMethod === 'HOME_DELIVERY'"
                        >29 DKK</span
                    >
                </div>
            </div>
            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@trees-planted"
                        >Trees planted
                    </span>
                    <span>{{ order.plantedTrees }} stk</span>
                </div>
            </div>

            <div class="section-row">
                <div class="line">
                    <span class="sub-title" i18n="@@tree-donation"
                        >Tree donation</span
                    >
                    <span>{{ (order.plantedTrees - 1) * 10 }} DKK</span>
                </div>
            </div>
        </div>
    </div>
</div>
