.page-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.page-wrapper {
  max-width: 1600px;
}

.title {
  font-size: 36px !important;
  text-shadow: 0px 0px 10px #0000;
}

.main-subtext {
  font-size: 1.25em;
  text-shadow: 0px 0px 10px #0000;
}

.price-text {
  font-weight: 900;
  margin: 0.8em 0;
}

.main-section {
  min-height: 500px;
  height: 100vh;
  max-width: 100vw;
  display: flex;
  /* Background image properties */
  background-image: url('apps/webstore/src/assets/img/main-img-02.jpg');
  background-size: cover;
  background-position: bottom center;
}

.darkener {
  position: absolute;
  max-width: 1600px;
  width: 100vw;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.12) 60%, rgba(0, 0, 0, 0) 100%);
}

.main-text-container {
  z-index: 901;
  width: 45vw;
  margin: 125px 0 0 50px;
  height: 100vh;
  letter-spacing: 2px;
  color: white;
}

.main-text {
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}

.descriptive-content-container {
  display: flex;
  max-height: 850px;
  align-items: center;
}

figure {
  margin: 0;
}

.left-content,
.right-content {
  height: 90vh;
  width: 50%;
  max-height: 850px;
  display: flex;
  justify-content: center;
}

.right-content {
  padding: 4em;
  flex-direction: column;
  text-align: left;
  background-color: #f9e9d8;
}

.left-content {
  align-items: center;
}

#image {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  filter: drop-shadow(0px 5px 35px rgba(0, 0, 0, 0.2));
}

.background-image-container {
  width: 800px;
  position: absolute;
  height: 100%;
  overflow: hidden;
}

#background-image {
  height: 100%;
  -webkit-filter: blur(8px);
  background-image: url('/assets/img/family-tree/family-tree-display-img/family-tree-04.jpg');
  background-size: cover;
  background-position: center center;
  position: absolute;
  transform: scale(1.1);
  width: 100%;
  z-index: -10;
  filter: brightness(70%) blur(8px);
}

.hide .arrow-up-item,
.hide {
  transition: 0.4s;
  opacity: 0 !important;
  bottom: 30px;
}

.remove {
  bottom: 100px;
}

.show {
  transition: 0.4s;
  opacity: 1;
}
/* Arrow button */
.arrow-up-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}
.arrow-up-item {
  transition: 1s;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.up-arrow {
  margin: 4vh 2vh 2vh 2vh;
  padding-right: 2px;
  outline: none;
  background-color: transparent;
  border: none;
}
.up-bar1,
.up-bar2 {
  width: 25px;
  height: 3px;
  background-color: var(--second-action-color);
  margin: 5px 0;
  transition: 0.4s;
}
.up-bar2 {
  -webkit-transform: rotate(-45deg) translate(-2px, -11px);
  transform: rotate(-45deg) translate(-2px, -11px);
}
.up-bar1 {
  -webkit-transform: rotate(45deg) translate(6px, -4px);
  transform: rotate(45deg) translate(6px, -4px);
}

.review-section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
  flex-direction: column;
  height: 90vh;
  max-height: 800px;
}

.review-name {
  font-size: 1.75em;
  font-weight: 900;
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 430px;
  overflow: scroll;
}

.review-wrapper {
  width: 250px;
  height: 375px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.15));
  margin: 1.5em;
  padding: 1em;
  background-color: white;
  border-radius: 5px;
  font-size: 0.75em;
}

.review-wrapper p {
  margin-bottom: 0;
}

.reviews-container img {
  width: 225px;
  height: 225px;
  margin-bottom: 0.5em;
}

.trustpilot-reviews {
  width: 300px;
}

.values-container {
  min-height: 55vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3.5em 2em 2em 2em;
  background-color: white;
}

.values-container {
  justify-content: center;
}

.value-wrapper {
  text-align: center;
  margin: 1em 2em;
  width: 200px;
}

.value-wrapper h3 {
  font-size: 1.25em;
  font-weight: 900;
}

.values-container img {
  height: 70px;
  width: 70px;
  margin-bottom: 0.5em;
}

.values {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.values h3 {
  margin-bottom: 0.7em;
}

.so-me-icon {
  margin: 0 0.5em;
  width: 35px;
  height: 35px;
}

.title {
  margin: 0.5em 0 0.3em 0;
}

.trustpilot-section {
  margin: 1.25em 0 0 0;
  display: flex;
  align-items: center;
  z-index: 10;
}

.trustpilot-rating {
  margin-left: 1em;
  height: 30px;
}

.trustpilot-rating-number {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

.trustpilot-rating {
  margin-left: 0.5em;
}

.trustpilot-rating-text {
  font-size: 1em;
  font-weight: 400;
}

.link {
  color: var(--second-action-color) !important;
  text-decoration: underline;
}

.button-section {
  display: flex;
  justify-content: space-between;
}

.trustpilot-link {
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .purchase-button {
    width: 100%;
  }
  .button-section {
    flex-direction: column-reverse;
  }
  .so-me-container {
    margin-top: 1em;
  }
}

@media screen and (max-width: 945px) {
  .right-content {
    padding: 7em 2em 2em 2em;
    height: 100vh;
  }

  .descriptive-content-container {
    flex-direction: column;
  }

  .left-content,
  .right-content {
    width: 100%;
    display: flex;
  }

  .left-content {
    height: 40%;
    justify-content: center;
  }
  .right-content {
    height: 100%;
    text-align: center;
    justify-content: center;
  }

  .main-text {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
  }

  #image {
    max-width: 300px;
    min-width: 200px;
    width: 80vw;
    max-height: 300px;
    min-height: 200px;
    height: 80vw;
    position: relative;
    top: 100px;
  }

  #background-image {
    background-position: top;
    background-size: cover;
  }

  .background-image-container {
    width: 100%;
    min-width: 350px;
  }

  /* Old */
  .main-text-container {
    width: 70vw;
  }

  .descriptive-img {
    width: 60vw;
    height: 60vw;
  }
}

@media screen and (max-width: 620px) {
  .title {
    font-size: 28px;
    font-weight: 400;
  }

  .main-subtext {
    font-size: 1.5em;
  }

  .main-text-container {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85vw;
    margin: 0;
    text-align: center;
  }

  .main-section {
    background-image: url('apps/webstore/src/assets/img/main-background-mobile.jpg');
    background-position: bottom center;
    justify-content: center;
  }

  .descriptive-img {
    width: 80vw;
    height: 80vw;
  }

  .text-container {
    width: 80vw;
  }
}

@media screen and (max-width: 540px) {
  .remove {
    display: none;
  }

  .main-text-container {
    height: 35vh;
    margin-top: 6em;
  }

  .trustpilot-section {
    margin-top: 2em;
    display: flex;
    justify-content: center;
  }

  .trustpilot-rating {
    margin-left: 0.5em;
    height: 20px;
  }

  .trustpilot-rating-number {
    margin-left: 0.25em;
    font-size: 1em;
  }

  .trustpilot-rating-text {
    font-size: 0.7em;
  }

  .trustpilot-reviews {
    width: 240px;
  }

  .page-container {
    display: inline;
  }
}

@media screen and (max-width: 470px) {
  .main-text-container {
    margin-top: 6em;
  }

  .left-content {
    height: 30%;
    justify-content: center;
  }

  .right-content {
    padding: 10em 2em 2em 2em;
    height: 100vh;
  }

  .descriptive-content-container {
    height: 125vh;
  }

  .main-subtext {
    font-size: 1em;
    line-height: 20px;
    margin: 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  .main-text-container {
    margin-top: 90px;
    letter-spacing: 2px;
  }
}
