<div class="page-container">
    <!-- Front page -->
    <div class="main-section add-transition">
        <div class="darkener"></div>
        <div class="main-text-container add-transition">
            <h1 class="title title-font">
                <strong i18n="@@home-01-title">More than just a family tree</strong>
            </h1>
            <h5 class="main-subtext" i18n="@@home-01-text">
                A tree, that binds the whole family together. In just a few minutes, you can order a very special
                present to someone you care about. Treecreate, a personal present of high quality and with special care
                for the environment.
            </h5>
            <h5><span i18n="@@prices-from">Prices from </span> 299 DKK</h5>
        </div>
    </div>

    <div class="delivery-estimate">
        <span class="info-text">
            <span i18n="@@delivery-4-7"> 4-7 days delivery</span>
            <img src="/assets/icons/check-white-icon.svg" class="check-icon" />
        </span>
        <span class="info-text">
            <span i18n="@@free-delivery">Free delivery </span>
            <img src="/assets/icons/check-white-icon.svg" class="check-icon" />
        </span>
        <span class="info-text remove">
            <span i18n="@@produced-in-denmark">Produced in Denmark </span>
            <img src="/assets/icons/check-white-icon.svg" class="check-icon" />
        </span>
        <span class="info-text remove">
            <span i18n="@@plant-a-tree">Plant a tree </span>
            <img src="/assets/icons/check-white-icon.svg" class="check-icon" />
        </span>
    </div>

    <!-- Review section -->
    <div id="review">
        <webstore-review-carousel></webstore-review-carousel>
    </div>

    <div class="descriptive-content-container">
        <img src="/assets/img/description1.jpg" class="descriptive-img" />
        <div class="text-container">
            <h1 class="discriptive-title title title-font" i18n="@@home-03-title">The most personal present</h1>
            <div class="descriptive-text">
                <span i18n="@@home-03-text-01"
                    >When you give a Treecreate family tree, you can be sure to surprise your nearest every time. Your
                    gift is completely unique to the person you give it to, and it does not get more personal.</span
                >
                <br />
                <br />
                <span i18n="@@home-03-text-02"
                    >Your Treecreate family tree is carefully carved in beautiful fragant oak wood with bark on top. it
                    gives a natural expression as your thoughts are easily led to a lovely summerday with the
                    family.</span
                >
            </div>
        </div>
    </div>

    <div class="descriptive-content-container reverse">
        <img src="/assets/img/description2.jpg" class="descriptive-img" />
        <div class="text-container">
            <h1 class="discriptive-title title title-font align-right" i18n="@@home-04-title">A present with care</h1>
            <div class="descriptive-text align-right">
                <span i18n="@@home-04-text-01"
                    >For each family tree you order from Treecreate, we plant a tree. That way we can help each other
                    protect our nature and thereby make the world a greener place.</span
                >
                <br />
                <br />
                <span i18n="@@home-04-text-02"
                    >When we sendt your Treecreate family tree, it is carefully packed in strong FSC-certified re-use
                    paper. In that way we secure that your valuable present is protected on the journey home, and we
                    avoid using unnecessary plastic.</span
                >
            </div>
        </div>
    </div>

    <div class="arrow-up-container" [ngClass]="showUpArrow ? 'show' : 'hide'">
        <div class="arrow-up-item" (click)="scrollTop()">
            <button class="up-arrow">
                <div class="icon">
                    <div class="up-bar1"></div>
                    <div class="up-bar2"></div>
                </div>
            </button>
        </div>
    </div>

    <div class="start-creating-button-container" [ngClass]="showStartButton ? 'show' : 'hide'">
        <button class="start-creating-button title-font" routerLink="/products" (click)="scrollTop()">
            <img src="/assets/icons/arrow-white-right.svg" class="start-creating-icon" />
            <div class="start-button-text" i18n="@@start-creating">Start creating</div>
        </button>
    </div>
</div>
