/* Main section */
.main-section {
  width: 100%;
  color: white;
  background-color: white;
  padding-bottom: 5vh;
}
.main-section-container {
  background-image: url('/assets/img/coverPhoto02.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 30em;
  min-width: 100%;
  margin: auto;
  margin-top: 13rem;
}
.main-text {
  padding-top: 4vh;
}
.arrow-container {
  padding: 5vh 0;
  text-align: center;
  background-color: white;
}
.main-title {
  padding-top: 8rem;
  font-family: Argesta Display;
  font-style: normal;
  font-weight: normal;
  font-size: var(--massive-font);
  align-items: center;
  letter-spacing: 0.2em;
}
.main-subtitle {
  font-family: Seravek;
  font-style: normal;
  font-weight: 100;
  font-size: var(--large-font);
  line-height: 30px;
  letter-spacing: 0.1em;
}
/* END Main section */

/* Product section */
.product-content {
  text-align: center;
  background-color: white;
}
.home-text {
  margin: 0 auto;
  padding: 4rem;
  min-width: 320px;
  max-width: 750px;
}
.home-title {
  margin: 1rem;
}
/* END Product section */

/* Buttons */
.tc-start-main {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-family: Seravek;
  font-style: normal;
  font-weight: 200;
  font-size: var(--regular-font);
  letter-spacing: 0.1em;
  padding: 0.1rem 1.5rem;
  border: 2px solid white;
  margin: 1rem;
  transition: 0.5s;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.25);
}
.tc-start-main:hover {
  transform: scale(0.97);
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}
/* Arrow down button */
.down-arrow {
  margin: 4vh 2vh 2vh 2vh;
  padding-right: 2px;
  outline: none;
  background-color: transparent;
  border: none;
}
.bar1,
.bar2 {
  width: 25px;
  height: 3px;
  background-color: rgb(193, 193, 193);
  margin: 5px 0;
  transition: 0.4s;
}
.bar1 {
  -webkit-transform: rotate(-45deg) translate(1px, 9px);
  transform: rotate(-45deg) translate(1px, 9px);
}
.bar2 {
  -webkit-transform: rotate(45deg) translate(-8px, 5px);
  transform: rotate(45deg) translate(-8px, 5px);
}
/* END Arrow down button */
/* END Buttons */

/* Parallax */
.parallax-img {
  background-image: url('/assets/img/coverPhoto01-9.png');
  position: fixed;
  margin-top: 610px;
  z-index: -1;
  right: 0px;
  width: 100%;
  min-height: 800px;
  min-width: 1300px;

  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-space {
  height: 450px;
  background-color: rgba(255, 255, 255, 0.25);
}

.start-btn-container {
  text-align: center;
  padding: 30px;
}
.start-design-button {
  border-radius: 6px;
  height: 50px;
  font-size: var(--regular-font);
}

.example-img {
  height: 100%;
  padding: 20px 7px;
}
.desktop-remove {
  display: none;
}

.package-images {
  text-align: center;
  margin-bottom: 5em;
}
.package-stand-img {
  padding-top: 20px;
  height: 200px !important;
}
.package-tree-img {
  height: 200px !important;
}
.package-image {
  height: 250px;
  margin: 20px;
}

.start-btn-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.arrow-up-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.arrow-up-item {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.up-arrow {
  margin: 4vh 2vh 2vh 2vh;
  padding-right: 2px;
  outline: none;
  background-color: transparent;
  border: none;
}
.up-bar1,
.up-bar2 {
  width: 25px;
  height: 3px;
  background-color: rgb(193, 193, 193);
  margin: 5px 0;
  transition: 0.4s;
}
.up-bar2 {
  -webkit-transform: rotate(-45deg) translate(-1px, -11px);
  transform: rotate(-45deg) translate(-1px, -11px);
}
.up-bar1 {
  -webkit-transform: rotate(45deg) translate(7px, -5px);
  transform: rotate(45deg) translate(7px, -5px);
}

.hide {
  transition: 0.5s;
  opacity: 0;
}

.show {
  transition: 0.5s;
  opacity: 1;
}
