.title {
  font-size: 36px !important;
  text-shadow: 0px 0px 10px #0000;
}

.main-subtext {
  font-size: 18px;
  text-shadow: 0px 0px 10px #0000;
}

.main-section {
  min-height: 500px;
  height: 100vh;
  width: 100vw;
  display: flex;
  /* Background image properties */
  background-image: url('apps/webstore/src/assets/img/main-img-02.jpg');
  background-size: cover;
  background-position: bottom center;
}

.darkener {
  position: absolute;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.12) 60%, rgba(0, 0, 0, 0) 100%);
}

.main-text-container {
  z-index: 901;
  width: 45vw;
  margin: 100px 0 0 50px;
  letter-spacing: 2px;
  color: white;
}

.descriptive-content-container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

.left-content,
.right-content {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.left-content {
  align-items: center;
}

#image {
  width: 450px;
  height: 450px;
  border-radius: 5px;
  filter: drop-shadow(0px 5px 35px rgba(0, 0, 0, 0.2));
}

#background-image {
  height: 100%;
  -webkit-filter: blur(8px);
  background-image: url('/assets/img/family-tree/family-tree-display-img/family-tree-04.jpg');
  background-size: cover;
  background-position: bottom center;
  position: absolute;
  width: 50%;
  transform: scale(1.1);
  z-index: -10;
  filter: brightness(70%) blur(8px);
}

.right-content {
  padding: 4em;
  flex-direction: column;
  text-align: left;
  background-color: #f9e9d8;
}

.hide .arrow-up-item,
.hide {
  transition: 0.4s;
  opacity: 0 !important;
  bottom: 30px;
}

.remove {
  bottom: 100px;
}

.show {
  transition: 0.4s;
  opacity: 1;
}
/* Arrow button */
.arrow-up-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}
.arrow-up-item {
  transition: 1s;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.up-arrow {
  margin: 4vh 2vh 2vh 2vh;
  padding-right: 2px;
  outline: none;
  background-color: transparent;
  border: none;
}
.up-bar1,
.up-bar2 {
  width: 25px;
  height: 3px;
  background-color: var(--second-action-color);
  margin: 5px 0;
  transition: 0.4s;
}
.up-bar2 {
  -webkit-transform: rotate(-45deg) translate(-2px, -11px);
  transform: rotate(-45deg) translate(-2px, -11px);
}
.up-bar1 {
  -webkit-transform: rotate(45deg) translate(6px, -4px);
  transform: rotate(45deg) translate(6px, -4px);
}

.purchase-info {
  color: white;
  background-color: rgb(197, 158, 118);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text {
  padding: 0 10px;
}

.check-icon {
  width: 20px;
  margin: 5px;
}

.review-section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
  flex-direction: column;
}

.review-name {
  font-size: 1.75em;
  font-weight: 900;
}

.reviews-container {
  display: flex;
}

.review-wrapper {
  width: 100%;
  justify-content: center;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.15));
  margin: 1.5em;
  padding: 1em;
  background-color: white;
  border-radius: 5px;
  font-size: 0.75em;
}

.review-wrapper p {
  margin-bottom: 0;
}

.reviews-container img {
  width: 220px;
  height: 220px;
  margin-bottom: 0.5em;
  margin: auto;
}

@media screen and (max-width: 945px) {
  .main-text-container {
    width: 70vw;
    margin-top: 12vw;
  }

  .text-container {
    width: 60vw;
    text-align: center;
    margin-top: 20px;
  }

  .descriptive-img {
    width: 60vw;
    height: 60vw;
  }
}

@media screen and (max-width: 620px) {
  .title {
    font-size: 28px;
    font-weight: 400;
  }

  .main-subtext {
    font-size: 18px;
  }

  .main-text-container {
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85vw;
    margin: 0;
    text-align: center;
  }

  .main-section {
    background-image: url('apps/webstore/src/assets/img/main-background-mobile.jpg');
    background-position: bottom center;
    justify-content: center;
  }

  .descriptive-img {
    width: 80vw;
    height: 80vw;
  }

  .text-container {
    width: 80vw;
  }
}

@media screen and (max-width: 540px) {
  .remove {
    display: none;
  }

  .main-text-container {
    height: 35vh;
    margin-top: 50px;
  }
}

@media screen and (max-width: 450px) {
  .main-text-container {
    margin-top: 80px;
  }

  .title {
    font-size: 20px !important;
    margin-bottom: 4px;
  }

  .main-subtext {
    font-size: 12px;
    line-height: 20px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  .main-text-container {
    margin-top: 90px;
    letter-spacing: 2px;
  }
}
