@media (min-width: 2000px) {
  .parallax-img {
    margin-top: 570px;
    min-height: 1006px;
    min-width: 1220px;
  }
}
@media (min-width: 1700px) {
  .parallax-img {
    margin-top: 700px;
    min-height: 900px;
    min-width: 1220px;
  }
}
@media (max-width: 1125px) {
  .main-title {
    font-size: 3.5rem;
  }
}
@media (max-width: 992px) {
  .main-section-container {
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 60vh;
    max-width: 100vw;
    margin: auto;
    margin-top: 120px;
  }
  .main-text {
    padding-top: 6vh;
  }
  .parallax-img {
  }
}
@media (max-width: 650px) {
  .main-title {
    font-size: 2.5rem;
  }
  .main-subtitle {
    font-size: 1.25rem;
  }
  .main-text {
    padding-top: 10vh;
  }
  .clearfix hr {
    margin-bottom: 0 !important;
  }
  .arrow-container {
    display: none;
  }
  .parallax-img {
    background-position-x: -83%;
  }
}
@media (max-width: 450px) {
  .main-section-container {
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 50vh;
    max-width: 100vw;
    margin: auto;
    margin-top: 27vh !important;
    margin-bottom: 10vh;
  }
  .main-title {
    padding-top: 4.25rem;
  }
  .main-text {
    padding-top: 0vh;
  }
  .home-text {
    padding: 4rem 2rem;
  }
  .parallax-img {
    margin-top: 660px;
    min-height: 441px;
    min-width: 741px;
  }
  .parallax-space {
    height: 290px;
  }
}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  .parallax-img {
    right: -160px;
    margin-top: 400px;
  }
}
/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
}
/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  .main-title {
    padding-top: 4.5rem;
  }
}
