<section class="main-section">
    <div class="main-section-container">
        <div class="main-text">
            <h2 class="main-title">MY FAMILY TREE</h2>
            <h5 class="main-subtitle">Prices from: 396kr</h5>
            <button class="tc-start-main" routerLink="/product">
                Start Creating
            </button>
        </div>
    </div>
</section>

<div class="arrow-container">
    <button
        class="down-arrow"
        onClick="document.getElementById('product').scrollIntoView();"
    >
        <div class="icon">
            <div class="bar1"></div>
            <div class="bar2"></div>
        </div>
    </button>
</div>

<section class="product-section" id="product">
    <div class="product-content">
        <div class="home-text">
            <h1 class="home-title">Product</h1>
            <p>
                Unique wood design with several styling options which make every
                product become completely unique. In just a few minutes, you can
                create your own family tree and get it laser-cut into a
                beautiful piece of oak wood.
            </p>
        </div>
    </div>

    <div class="parallax-space">
        <div class="parallax-img" [style.top]="onWindowScroll()"></div>
    </div>

    <div class="arrow-container">
        <button
            class="down-arrow"
            onClick="document.getElementById('create').scrollIntoView();"
        >
            <div class="icon">
                <div class="bar1"></div>
                <div class="bar2"></div>
            </div>
        </button>
    </div>
</section>

<section class="product-section" id="create">
    <div class="product-content">
        <div class="home-text create-section">
            <h1 class="home-title">Create</h1>
            <p>
                There are many ways to create your family tree design. In this
                example, of a family tree, the couples in the family are
                connected by having their names placed next to each other. If
                there are too many names you can also put the couples on top of
                each other so the tree doesn't get too wide. Be inspired or
                experiment with your own design, until you find the design that
                suits you best.
            </p>
        </div>
    </div>

    <div class="scroll-view mobile-remove">
        <div class="slider">
            <div class="slides slides-desktop">
                <div id="slide-1">
                    <img
                        src="/assets/img/design-ex1-img.png"
                        class="example-img"
                    />
                    <img
                        src="/assets/img/design-ex1-result.png"
                        class="example-img"
                    />
                </div>
                <div id="slide-2">
                    <img
                        src="/assets/img/design-ex1-img.png"
                        class="example-img"
                    />
                    <img
                        src="/assets/img/design-ex1-result.png"
                        class="example-img"
                    />
                </div>
                <div id="slide-3">
                    <img
                        src="/assets/img/design-ex1-img.png"
                        class="example-img"
                    />
                    <img
                        src="/assets/img/design-ex1-result.png"
                        class="example-img"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="scroll-view desktop-remove">
        <div class="slider">
            <div class="slides">
                <div id="slide-1">
                    <img
                        src="/assets/img/design-ex1-img.png"
                        class="example-img"
                    />
                </div>
                <div id="slide-2">
                    <img
                        src="/assets/img/design-ex1-result.png"
                        class="example-img"
                    />
                </div>
                <div id="slide-3">
                    <img
                        src="/assets/img/design-ex1-img.png"
                        class="example-img"
                    />
                </div>
                <div id="slide-4">
                    <img
                        src="/assets/img/design-ex1-result.png"
                        class="example-img"
                    />
                </div>
                <div id="slide-5">
                    <img
                        src="/assets/img/design-ex1-img.png"
                        class="example-img"
                    />
                </div>
                <div id="slide-6">
                    <img
                        src="/assets/img/design-ex1-result.png"
                        class="example-img"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="arrow-container">
        <button
            class="down-arrow"
            onClick="document.getElementById('package').scrollIntoView();"
        >
            <div class="icon">
                <div class="bar1"></div>
                <div class="bar2"></div>
            </div>
        </button>
    </div>
</section>

<section class="product-section" id="package">
    <div class="product-content">
        <div class="home-text">
            <h1 class="home-title">Package</h1>
            <p>
                When you purchase a tree design, you are automatically planting
                a tree. The packaging is made with a zero procent waste agenda:
                0% plastic and 100% reused FSC certified paper. You also receive
                a treecreate keychain, as well as a wooden stand that matches
                your family tree.
            </p>
        </div>
    </div>

    <div class="package-images">
        <img
            src="/assets/img/design-ex1-result.png"
            class="package-design-img package-image"
        />
        <img
            src="/assets/img/design-stand.png"
            class="package-stand-img package-image"
        />
    </div>

    <div class="start-btn-section">
        <button class="tc-button-static" routerLink="/product">
            Start Creating
        </button>
    </div>

    <div class="arrow-up-container" [ngClass]="showUpArrow ? 'show' : 'hide'">
        <div class="arrow-up-item">
            <button class="up-arrow" onClick="window.scrollTo(0,0);">
                <div class="icon">
                    <div class="up-bar1"></div>
                    <div class="up-bar2"></div>
                </div>
            </button>
        </div>
    </div>
</section>
