<main class="page-container">
    <section class="content row">
        <div class="rejected-cookies-container">
            <h2 i18n="@@rejected-cookies-title">You have rejected cookies</h2>
            <p i18n="@@rejected-cookies-text">
                We've baked some cookies for you and we are very sad that you don't like them. This means that you
                cannot access Treecreate until you do accept them.
            </p>
            <p>
                <span i18n="@@rejected-cookies-text2"
                    >If you wish to see the cookies that we store, you can go to this link:</span
                >

                <strong><a (click)="showTermsOfUse()" i18n="@@terms-of-use">Terms of use</a></strong>
            </p>
            <button
                data-cy="rejected-cookies-accept-all-btn"
                routerLink="/home"
                class="tc-button-25"
                (click)="acceptCookies()"
                i18n="@@accept-all-cookies"
            >
                Accept all Cookies
            </button>
            <br /><br />
            <p i18n="@@if-you-have-questions">If you have any questions, feel free to send us an e-mail at:</p>

            <a
                data-cy="rejected-cookies-mail-treecreate-link"
                id="mailto"
                class="link"
                href="mailto:info@treecreate.dk"
                target="_blank"
                >info@treecreate.dk
            </a>
        </div>
    </section>
</main>
