<div class="page-container">
  <div class="content row">
    <div class="">
      <h2>You have rejected cookies</h2>
      <p>
        We've baked some cookies for you and we are very sad that you don't like
        them. This means that you cannot access Treecreate until you do accept
        them.
      </p>
      <p>
        If you wish to see the cookies that we store, you can go to this link:
        <strong><a (click)="showTermsOfUse()">Terms of Use</a></strong>
      </p>
      <button
        data-cy="rejected-cookies-accept-all-btn"
        routerLink="/home"
        class="tc-button-25"
        (click)="acceptCookies()"
      >
        Accept all Cookies
      </button>
      <br /><br />
      <p>If you have any questions, feel free to send us an e-mail at:</p>

      <a
        data-cy="rejected-cookies-mail-treecreate-link"
        id="mailto"
        class="link"
        href="mailto:info@treecreate.dk"
        target="_blank"
      >
        --> info@treecreate.dk <--
      </a>
    </div>
  </div>
</div>
