<div class="basket-page-container">
    <div class="basket-content-wrapper">
        <div class="basket-content">
            <div class="wrapper">
                <h2 class="desktop-title">BASKET</h2>
                <div class="basket-items-container">
                    <h2 class="mobile-title">BASKET</h2>
                    <!-- basket items -->
                    <div
                        class="basket-items"
                        *ngIf="!(basketItems.length <= 0)"
                    >
                        <webstore-basket-item
                            *ngFor="let item of basketItems"
                            [item]="item"
                        ></webstore-basket-item>
                    </div>
                    <!-- If there are not items in basket -->
                    <div class="no-items" *ngIf="basketItems.length <= 0">
                        <img
                            src="../../../../assets/icons/no-design-icon.svg"
                            alt=""
                            routerLink="/product"
                            class="no-design-icon"
                        />
                        <div class="no-items-text">
                            You have no items in your basket
                        </div>
                        <button class="tc-button-50" routerLink="/product">
                            Start Creating
                        </button>
                    </div>
                </div>
            </div>
            <div class="basket-options">
                <h2 class="desktop-title opacity">|</h2>
                <!-- Tree donation -->
                <div class="basket-options-item">
                    <div class="tree-title">
                        Plant an extra tree - 10kr
                        <div class="subtext">
                            (Planting 1 tree is included in the price)
                        </div>
                    </div>

                    <div class="donate-tree-option">
                        <button
                            class="box-size-plus tc-button-sm-square low-dropshadow"
                            (click)="decreaseDonatingAmount()"
                        >
                            <div class="icon">
                                <div class="button-minus"></div>
                            </div>
                        </button>
                        <div class="amount-of-trees">
                            {{ donatedTrees }} x
                            <img
                                src="../../../../assets/icons/seed-icon.svg"
                                alt=""
                                class="seed-icon"
                            />
                        </div>
                        <button
                            class="box-size-plus tc-button-sm-square low-dropshadow"
                            (click)="donatedTrees = donatedTrees + 1"
                        >
                            <div class="button-plus"></div>
                        </button>
                    </div>
                </div>
                <!-- Discount code -->
                <form
                    [formGroup]="discountForm"
                    (ngSubmit)="applyDiscount()"
                    class="basket-options-item"
                >
                    <input
                        formControlName="discountCode"
                        type="text"
                        class="special-input-field"
                        placeholder="Discount code"
                    />
                    <button
                        class="tc-button-100 margin-top low-dropshadow"
                        type="submit"
                    >
                        Apply Discount
                    </button>
                    <div *ngIf="discount > 0" class="discount-code-display">
                        <span>Amount dicount:</span>
                        <span>-{{ discount * 100 }}% </span>
                    </div>
                </form>
                <!-- Price info -->
                <div class="basket-options-item">
                    <div class="price-info-container">
                        <div class="price-subtitles">
                            <span> Subtotal <br /> </span>
                            <span> You Save <br /> </span>
                            <span class="weight">
                                <strong> Total </strong> <br />
                            </span>
                            <span> VAT <br /> </span>
                        </div>
                        <div class="price-info">
                            <span>
                                {{ calcSubtotalPrice().toFixed(2) }} DKK <br />
                            </span>
                            <span>
                                {{ calcAmountSaved().toFixed(2) }} DKK <br />
                            </span>
                            <span class="weight">
                                <strong>
                                    {{
                                        (
                                            calcTotal() + calcDonationPrice()
                                        ).toFixed(2)
                                    }}
                                    DKK
                                </strong>
                                <br />
                            </span>
                            <span>
                                {{ calcVat().toFixed(2) }} DKK
                                <br />
                            </span>
                        </div>
                    </div>
                    <button
                        class="tc-button-100 green low-dropshadow"
                        routerLink="/checkout"
                        (click)="scrollTop()"
                    >
                        Go To Checkout
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
