<main class="basket-page-container">
    <div class="basket-content-wrapper">
        <div class="basket-content">
            <section class="wrapper">
                <div class="back-container">
                    <a onclick="history.back()" class="back" data-cy="view-only-back-button">
                        < <span i18n="@@back">Back</span>
                    </a>
                </div>
                <h2 class="desktop-title" i18n="@@basket-upper">BASKET</h2>
                <div class="basket-items-container">
                    <h2 class="mobile-title" i18n="@@basket-upper">BASKET</h2>
                    <ngb-alert
                        *ngIf="alert"
                        type="danger"
                        (closed)="alert = undefined"
                        [dismissible]="alert.dismissible"
                    >
                        <h3>{{ alert.type === 'danger' ? 'Error' : alert.type }}!</h3>
                        {{ alert.message }}</ngb-alert
                    >
                    <!-- basket items -->
                    <div class="basket-items" *ngIf="!(itemList.length <= 0) && !isLoading">
                        <webstore-basket-item
                            (priceChangeEvent)="itemPriceChange($event)"
                            (deleteItemEvent)="deleteItemChange($event)"
                            *ngFor="let item of itemList; let i = index"
                            [item]="item"
                            [index]="i"
                        ></webstore-basket-item>
                    </div>
                    <!-- If there are not items in basket -->
                    <div class="no-items" *ngIf="itemList.length <= 0 && !isLoading" data-cy="no-items-in-basket">
                        <img
                            src="/assets/icons/no-design-icon.svg"
                            routerLink="/products"
                            class="no-design-icon"
                            alt="No design icon"
                        />
                        <div class="no-items-text" i18n="@@no-items-text">You have no items in your basket</div>
                        <button class="tc-button-50" routerLink="/products" i18n="@@start-creating">
                            Start Creating
                        </button>
                    </div>
                    <div class="no-items" *ngIf="isLoading">
                        Loading . . .
                        <span
                            class="spinner-border spinner-border-sm"
                            style="margin: 0 10px"
                            role="status"
                            aria-hidden="true"
                        ></span>
                    </div>
                </div>
                <div class="basket-subtext">
                    <h5 i18n="@@basket-subtext-title">You are not only getting a unique and personal gift:</h5>
                    <ul>
                        <li class="heart" i18n="@@basket-subtext-item-1">
                            You are also planting a tree for each item in your order.
                        </li>
                        <li class="heart" i18n="@@basket-subtext-item-2">
                            You are supporting local and environmental business.
                        </li>
                        <li class="heart" i18n="@@basket-subtext-item-3">
                            You are getting a memory that will last a lifetime.
                        </li>
                    </ul>
                </div>
            </section>
            <section class="basket-options">
                <h2 class="desktop-title opacity">|</h2>
                <!-- Tree donation -->
                <div class="basket-options-item">
                    <div class="tree-title">
                        <span i18n="@@plant-extra-trees">Plant an extra tree - 10kr</span>
                    </div>

                    <div class="planted-tree-option">
                        <button
                            class="box-size-plus tc-button-sm-square low-dropshadow"
                            id="planted-less-trees-btn"
                            (click)="decreaseDonation()"
                            [disabled]="plantedTrees === 1"
                            data-cy="basket-decrease-planted-trees-button"
                        >
                            <div class="icon">
                                <div class="button-minus"></div>
                            </div>
                        </button>
                        <div class="amount-of-trees">
                            {{ plantedTrees }} x
                            <img src="/assets/icons/seed-icon.svg" class="seed-icon" alt="Tree icon" />
                        </div>
                        <button
                            class="box-size-plus tc-button-sm-square low-dropshadow"
                            id="planted-extra-trees-btn"
                            (click)="increaseDonation()"
                            data-cy="basket-increase-planted-trees-button"
                        >
                            <div class="button-plus"></div>
                        </button>
                    </div>
                </div>
                <!-- Discount code -->
                <form [formGroup]="discountForm" (ngSubmit)="applyDiscount()" class="basket-options-item">
                    <input
                        formControlName="discountCode"
                        type="text"
                        class="special-input-field"
                        placeholder="Discount code"
                        data-cy="basket-apply-discount-input"
                    />
                    <button
                        class="tc-button-100 margin-top low-dropshadow"
                        type="submit"
                        data-cy="basket-apply-discount-button"
                    >
                        <span i18n="@@apply-discount" *ngIf="!discountIsLoading">Apply</span>
                        <span
                            *ngIf="discountIsLoading"
                            class="spinner-border spinner-border-sm text-light"
                            style="margin: 5px"
                            role="status"
                            aria-hidden="true"
                        >
                        </span>
                    </button>

                    <!-- Discount display -->
                    <div
                        *ngIf="priceInfo.discountAmount > 0"
                        class="discount-code-display"
                        data-cy="discount-amount-basket"
                    >
                        <span i18n="@@amount-discount">Amount dicount:</span>
                        <span data-cy="discount-price-amount-basket"
                            >-{{ priceInfo.discountAmount.toFixed(2) }} DKK</span
                        >
                    </div>
                </form>
                <!-- Price info -->
                <div class="basket-options-item">
                    <div class="line-container">
                        <span i18n="@@subtotal">Subtotal</span>
                        <span data-cy="subtotal-price-basket"> {{ priceInfo.fullPrice.toFixed(2) }} DKK <br /> </span>
                    </div>
                    <div
                        *ngIf="priceInfo.discountAmount > 0"
                        class="line-container"
                        [ngClass]="priceInfo.discountAmount > 0 ? 'green-text' : ''"
                    >
                        <span i18n="@@you-save">You save</span>
                        <span> - {{ priceInfo.discountAmount.toFixed(2) }} DKK </span>
                    </div>
                    <div class="line-container" [ngClass]="priceInfo.deliveryPrice === 0 ? 'green-text' : ''">
                        <span i18n="@@delivery">Delivery</span>
                        <span> {{ priceInfo.deliveryPrice.toFixed(2) }} DKK </span>
                    </div>
                    <div class="line-container weight">
                        <span>
                            <strong i18n="@@total">Total</strong>
                        </span>
                        <span data-cy="total-price-basket">
                            <strong>{{ priceInfo.finalPrice.toFixed(2) }} DKK </strong>
                        </span>
                    </div>
                    <div class="line-container margin-bottom vat">
                        <span i18n="@@vat">VAT</span>
                        <span> {{ priceInfo.vat.toFixed(2) }} DKK </span>
                    </div>

                    <button
                        class="tc-button-100 green low-dropshadow"
                        (click)="goToCheckout()"
                        i18n="@@go-to-checkout"
                        [disabled]="itemList.length <= 0"
                        data-cy="basket-checkout-button"
                    >
                        Go to checkout
                    </button>
                </div>
            </section>
        </div>
    </div>
</main>

<div class="hide" data-cy="basket-planted-trees">{{ plantedTrees }}</div>
