.basket-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.desktop-title,
.mobile-title {
  font-weight: 400;
  margin: 0 20px;
}

.mobile-title {
  display: none;
}

.basket-content-wrapper {
  margin-top: 100px;
}

.basket-content {
  width: 100vw;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.basket-items-container {
  box-shadow: 0px 7px 20px -3px rgb(0 0 0 / 10%);
  background-color: white;
  width: fit-content;
  max-width: 650px;
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px 15px;
  flex-direction: column;
}

.basket-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.basket-options {
  width: 32%;
}

.basket-options-item {
  background-color: #e8e3e3;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.tree-title {
  font-size: small;
  font-weight: 600;
  margin-bottom: 4px;
}

.special-input-field {
  border: none;
  width: 100%;
  padding: 5px;
}

.special-input-field:focus {
  outline: none;
}

.special-input-field::placeholder {
  padding-left: 5px;
  opacity: 0.5;
}

.margin-top {
  margin-top: 10px;
}

.price-info-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.price-subtitles,
.price-info {
  line-height: 36px;
  font-weight: 300;
}

.price-subtitles {
  text-align: left;
}

.weight {
  font-weight: 500;
}

.price-info {
  text-align: right;
}

.donate-tree-option {
  display: flex;
}

.amount-of-trees {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  margin: 0 10px;
}

.seed-icon {
  margin: 2px;
}

.no-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.no-items-text {
  margin: 20px;
  font-size: larger;
  font-weight: 500;
}

.no-design-icon {
  width: 50px;
  height: 50px;
}

.opacity {
  opacity: 0;
}

// TODO: make page mobile responsive Because my brain is dying and i cant make it work
@media screen and (max-width: 1095px) {
  .mobile-title {
    text-align: center;
    display: block;
    margin: 10px 0;
  }
  .desktop-title {
    display: none;
  }
  .basket-items-container {
    margin-bottom: 0;
  }
  .basket-options {
    width: 650px;
    margin: 0;
    margin-bottom: 20px;
  }
  .basket-options-item {
    margin: 10px 0;
  }
}

@media screen and (max-width: 750px) {
  .basket-items-container {
    width: 90vw;
    min-width: none;
  }
  .basket-options {
    width: 90vw;
    margin: 0;
    margin-bottom: 20px;
  }
}
