.basket-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.line-container {
  display: flex;
  justify-content: space-between;
  line-height: 36px;
  font-weight: 300;
}

.basket-subtext {
  max-width: 85vw;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    position: relative;
    padding: 0 0 0 20px;
    font-size: var(--extra-small-font);
  }

  li.heart::before,
  li.heart::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 5px;
    width: 7px;
    height: 12px;
    background: var(--second-action-color);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }

  li.heart::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
}

.margin-bottom {
  margin-bottom: 10px;
}

.green-text {
  color: var(--green);
}

.desktop-title,
.mobile-title {
  font-weight: 400;
  margin: 0 20px;
  width: 100%;
  padding-left: 10px;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.basket-title {
  margin: 10px 0;
  text-align: center;
}

.basket-content-wrapper {
  margin-top: 100px;
}

.basket-content {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.basket-items-container {
  box-shadow: 0px 7px 20px -3px rgb(0 0 0 / 20%);
  width: fit-content;
  max-width: 650px;
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px 15px;
  flex-direction: column;
  align-self: stretch;
}

.basket-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.basket-options-item {
  background-color: var(--gray-box-color);
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.tree-title {
  font-size: var(--medium-small-font);
  font-weight: 600;
  margin-bottom: 4px;
}

.subtext {
  font-weight: 200;
}

.error-message {
  margin-top: 12px;
}

.discount-code-display {
  margin-top: 7px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
}

.special-input-field {
  border: none;
  width: 100%;
  padding: 5px;
}

.special-input-field:focus {
  outline: none;
}

.special-input-field::placeholder {
  padding-left: 5px;
  opacity: 0.5;
}

.margin-top {
  margin-top: 10px;
}

.price-info-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.price-subtitles,
.price-info {
  line-height: 36px;
  font-weight: 300;
}

.price-subtitles {
  text-align: left;
}

.weight {
  font-weight: 500;
}

.price-info {
  text-align: right;
}

.planted-tree-option {
  display: flex;
}

.quantity-of-trees {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  margin: 0 10px;
}

.seed-icon {
  margin: 2px;
  margin-left: 7px;
  width: 20px;
}

.no-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 388px;
  width: 650px;
}

.no-items-text {
  text-align: center;
  margin: 20px;
  font-size: var(--regular-font);
  font-weight: 500;
}

.no-design-icon {
  width: 50px;
  height: 50px;
}

.opacity {
  opacity: 0;
}

.amount-of-trees {
  background-color: white;
  padding: 0 5px;
  width: 100%;
  border-radius: 3px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vat {
  opacity: 0.5;
}

.back-container {
  height: 0;
  position: relative;
  top: -20px;
}

@media screen and (max-width: 1095px) {
  .desktop-title {
    display: none;
  }
  .basket-items-container {
    margin-bottom: 0;
  }
  .basket-options,
  .no-items {
    width: 650px;
    margin: 0;
    margin-bottom: 20px;
  }
  .basket-options-item {
    margin: 10px 0;
  }
  .basket-subtext {
    margin-top: 1.3em;
    text-align: center;
    padding-right: 1em;
  }
}

@media screen and (max-width: 750px) {
  .basket-content-wrapper {
    margin-top: 80px;
  }
  .basket-items-container {
    width: 90vw;
    min-width: none;
  }
  .basket-options {
    width: 90vw;
    margin: 0;
    margin-bottom: 20px;
  }
  .no-items {
    width: 100%;
  }
  .basket-subtext {
    text-align: start;
  }
}
