<div class="basket-page-container">
    <div class="basket-content-wrapper">
        <div class="basket-content">
            <div class="wrapper">
                <h2 class="desktop-title" i18n="@@basket-upper">BASKET</h2>
                <div class="basket-items-container">
                    <h2 class="mobile-title" i18n="@@basket-upper">BASKET</h2>
                    <ngb-alert
                        *ngIf="alert"
                        type="danger"
                        (closed)="alert = undefined"
                        [dismissible]="alert.dismissible"
                    >
                        <h3>
                            {{
                                alert.type === 'danger' ? 'Error' : alert.type
                            }}!
                        </h3>
                        {{ alert.message }}</ngb-alert
                    >
                    <!-- basket items -->
                    <div
                        class="basket-items"
                        *ngIf="!(itemList.length <= 0) && !isLoading"
                    >
                        <webstore-basket-item
                            (click)="updatePrices()"
                            *ngFor="let item of itemList"
                            [item]="item"
                        ></webstore-basket-item>
                    </div>
                    <!-- If there are not items in basket -->
                    <div
                        class="no-items"
                        *ngIf="itemList.length <= 0 && !isLoading"
                    >
                        <img
                            src="/assets/icons/no-design-icon.svg"
                            routerLink="/product"
                            class="no-design-icon"
                        />
                        <div class="no-items-text" i18n="@@no-items-text">
                            You have no items in your basket
                        </div>
                        <button
                            class="tc-button-50"
                            routerLink="/product"
                            i18n="@@start-creating"
                        >
                            Start Creating
                        </button>
                    </div>
                    <div class="no-items" *ngIf="isLoading">
                        Loading . . .
                        <span
                            class="spinner-border spinner-border-sm"
                            style="margin: 0 10px"
                            role="status"
                            aria-hidden="true"
                        ></span>
                    </div>
                </div>
            </div>
            <div class="basket-options">
                <h2 class="desktop-title opacity">|</h2>
                <!-- Tree donation -->
                <div class="basket-options-item">
                    <div class="tree-title">
                        <span i18n="@@plant-extra-trees"
                            >Plant an extra tree - 10kr</span
                        >

                        <div class="subtext" i18n="@@plant-extra-trees-subtext">
                            (Planting 1 tree is included in the price)
                        </div>
                    </div>

                    <div class="donate-tree-option">
                        <button
                            class="box-size-plus tc-button-sm-square low-dropshadow"
                            id="donate-less-trees-btn"
                            (click)="decreaseDonatingAmount(); updatePrices()"
                            [disabled]="donatedTrees === 1"
                            data-cy="basket-decrease-donated-trees-button"
                        >
                            <div class="icon">
                                <div class="button-minus"></div>
                            </div>
                        </button>
                        <div class="amount-of-trees">
                            {{ donatedTrees }} x
                            <img
                                src="/assets/icons/seed-icon.svg"
                                class="seed-icon"
                            />
                        </div>
                        <button
                            class="box-size-plus tc-button-sm-square low-dropshadow"
                            id="donate-extra-trees-btn"
                            (click)="
                                donatedTrees = donatedTrees + 1; updatePrices()
                            "
                            data-cy="basket-increase-donated-trees-button"
                        >
                            <div class="button-plus"></div>
                        </button>
                    </div>
                </div>
                <!-- Discount code -->
                <form
                    [formGroup]="discountForm"
                    (ngSubmit)="applyDiscount(); updatePrices()"
                    class="basket-options-item"
                >
                    <input
                        formControlName="discountCode"
                        type="text"
                        class="special-input-field"
                        placeholder="Discount code"
                        data-cy="basket-apply-discount-input"
                    />
                    <button
                        class="tc-button-100 margin-top low-dropshadow"
                        type="submit"
                        i18n="@@apply-discount"
                        data-cy="basket-apply-discount-button"
                    >
                        Apply discount
                    </button>

                    <!-- Discount display -->
                    <div
                        *ngIf="priceInfo.discountAmount > 0"
                        class="discount-code-display"
                    >
                        <span i18n="@@amount-discount">Amount dicount:</span>
                        <span
                            >-{{
                                priceInfo.discountAmount.toFixed(2)
                            }}
                            DKK</span
                        >
                    </div>
                </form>
                <!-- Price info -->
                <div class="basket-options-item">
                    <div class="line-container">
                        <span i18n="@@subtotal"> Subtotal </span>
                        <span>
                            {{ priceInfo.fullPrice.toFixed(2) }} DKK <br />
                        </span>
                    </div>
                    <div
                        class="line-container"
                        [ngClass]="
                            priceInfo.discountAmount > 0 ? 'green-text' : ''
                        "
                    >
                        <span i18n="@@you-save"> You save </span>
                        <span>
                            - {{ priceInfo.discountAmount.toFixed(2) }} DKK
                        </span>
                    </div>
                    <div class="line-container weight">
                        <span>
                            <strong i18n="@@total"> Total </strong>
                        </span>
                        <span>
                            <strong
                                >{{ priceInfo.finalPrice.toFixed(2) }} DKK
                            </strong>
                        </span>
                    </div>
                    <div class="line-container margin-bottom">
                        <span i18n="@@vat"> VAT </span>
                        <span> {{ priceInfo.vat.toFixed(2) }} DKK </span>
                    </div>

                    <button
                        class="tc-button-100 green low-dropshadow"
                        routerLink="/checkout"
                        (click)="scrollTop()"
                        i18n="@@go-to-checkout"
                        [disabled]="itemList.length <= 0"
                        data-cy="basket-checkout-button"
                    >
                        Go to checkout
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hide" data-cy="basket-donated-trees">{{ donatedTrees }}</div>
