.modal-body {
  padding: 0 !important;
}

#quotable-template {
  height: auto;
  margin-bottom: 20px;
}

.template-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2em;
}

.template-img {
  height: 300px;
  width: 300px;
}

.template-title-container {
  text-align: center;
  margin: 1rem 0 1.5rem 0;
  font-weight: 900;
  font-size: 1.5em;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.template-text-container {
  min-height: 250px;
  width: 250px;
  border-radius: 3px;
  border: 1px solid var(--second-action-color);
  display: flex;
  font-size: 0.75em;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  text-align: center;
  font-family: 'calendas-italic';
}
