.modal-body {
  padding: 0;
  margin-bottom: 20px;
  height: auto !important;
}

::ng-deep .template-container webstore-quotable-design {
  height: fit-content !important;

  #backgroundImage {
    z-index: 0 !important;
  }
}

.template-list-container {
  overflow-x: scroll;
  display: flex;
}

.template-container {
  margin: 2em 3em;
  min-width: 250px;
  width: 450px;
  min-height: 350px;
  text-align: center;

  &:first-of-type {
    margin-left: 6em;
  }

  &:last-of-type {
    margin-right: 6em;
  }

  & webstore-quotable-design {
    & + div {
      margin: 1em 0;
    }
  }
}

/* width */
::-webkit-scrollbar {
  background-color: var(--light-action-color);
  border-radius: 10px;
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--second-action-color);
  border-radius: 10px;
}

@media screen and (max-width: 640px) {
  .template-container {
    margin: 2em 1.25em;

    &:first-of-type {
      margin-left: 2em;
    }

    &:last-of-type {
      margin-right: 2em;
    }
  }
}
