.modal-body {
  padding: 0 !important;
  height: auto !important;
  margin-bottom: 20px;
}

.modal-body span {
  margin: 2em;
  max-width: fit-content;
}

.template-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2em;
}

.template-img {
  height: 250px;
  width: 250px;
}

.template-title-container {
  text-align: center;
  margin: 1rem 0 1.5rem 0;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.template-container {
  display: flex;
  min-width: 350px;
  max-width: 250px;
  margin: 2em;
  text-align: center;
  padding-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
  background-color: var(--light-action-color);
  border-radius: 10px;
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--second-action-color);
  border-radius: 10px;
}
