.modal-body {
  padding: 0 !important;
  height: fit-content !important;
}

.modal-body span {
  margin: 2em;
}

.template-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2em;
}

.template-img {
  height: 300px;
  width: 300px;
}

.template-title-container {
  text-align: center;
  margin: 1rem 0 1.5rem 0;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
