<div class="verification-container">
    <div class="verification-section">
        <div class="header">
            <img
                src="../../../assets/icons/shield-icon.svg"
                class="header-icon"
            />
        </div>
        <br />
        <div>
            <h2 i18n="@@email-verification">Email Verification</h2>
        </div>
        <br />
        <div *ngIf="isLoading" class="verification-status-container">
            <p i18n="@@please-wait-while-we-verify">
                Please wait while we verify your email
            </p>
            <div class="spinner-border text-warning" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div *ngIf="!isLoading" class="verification-status-container">
            <div *ngIf="isVerificationSuccessful">
                <!-- TODO: add an icon to the success message (checkmark) -->
                <p i18n="@@verification-success-subtitle">
                    Your email address has been verified
                </p>
                <p
                    class="verification-success-message"
                    i18n="@@verified-success"
                >
                    Verification successfull!
                </p>
            </div>
            <div *ngIf="!isVerificationSuccessful">
                <p i18n="@@varification-failed-subtitle">
                    The verification of your email failed.
                </p>
                <!-- TODO: add an icon to the error message (exclamation mark) -->
                <span
                    class="glyphicon glyphicon-exclamation-sign"
                    aria-hidden="true"
                ></span>
                <p class="verification-failed-message">{{ errorMessage }}</p>
            </div>
            <div>
                <button
                    data-cy="page-not-found-home-btn"
                    routerLink="/"
                    class="tc-button-25 home-button"
                >
                    Home
                </button>
                <button
                    data-cy="page-not-found-home-btn"
                    routerLink="/profile"
                    class="tc-button-25 home-button"
                    i18n="@@profile"
                >
                    Profile
                </button>
            </div>
        </div>
    </div>
</div>
