<div class="reset-password-container">
    <form
        (ngSubmit)="onChangePassword()"
        name="changePasswordForm"
        class="change-password-form"
        [formGroup]="changePasswordForm"
    >
        <div class="reset-password-header">
            <img
                src="../../../assets/icons/shield-icon.svg"
                class="header-icon"
            />
        </div>

        <h3 i18n="@@reset-password">Reset your password</h3>
        <p i18n="@@reset-password-subtitle">Write your new password here:</p>
        <div class="tc-input-group field">
            <input
                type="password"
                class="tc-input-field"
                placeholder="New password"
                formControlName="password"
                name="password"
                id="password"
            />
            <label for="password" class="tc-input-label" i18n="@@new-password"
                >New password</label
            >
        </div>
        <div class="info-message" i18n="@@info-password">
            Password must contain: min 8 characters, at least one upper case
            letter, at least one lower case letter and at least one number.
        </div>
        <div
            class="error-message space-under"
            *ngIf="
                this.changePasswordForm.get('password').dirty &&
                this.changePasswordForm.get('password').invalid
            "
            i18n="@@invalid-password"
        >
            Invalid password
        </div>

        <div class="tc-input-group field">
            <input
                type="password"
                class="tc-input-field"
                formControlName="confirmPassword"
                placeholder="confirmPassword"
                name="confirmPassword"
                id="confirmPassword"
            />
            <label
                for="confirmPassword"
                class="tc-input-label"
                i18n="@@confirm-password"
                >Confirm password</label
            >
        </div>

        <div
            class="error-message"
            *ngIf="
                this.changePasswordForm.get('confirmPassword').dirty &&
                !this.matchingPasswords()
            "
            i18n="@@invalid-confirm-password"
        >
            The passwords must match each other
        </div>

        <div
            *ngIf="!isLoading && alertMessage !== ''"
            class="update-password-status-container"
        >
            <div *ngIf="isUpdateSuccessful">
                <p i18n="@@todo-danish">Your password has been updated</p>
                <div class="update-password-success-message">
                    <img
                        src="/assets/icons/success-white-icon.svg"
                        width="30"
                        height="30"
                        data-cy="update-password-success-icon"
                    />
                    <p
                        class="remove-margin"
                        i18n="@@todo-danish"
                        data-cy="update-password-success-message"
                    >
                        Unsubscribed!
                    </p>
                </div>
            </div>
            <div *ngIf="!isUpdateSuccessful">
                <p i18n="@@todo-danish">Your password has been reset!</p>

                <span
                    class="glyphicon glyphicon-exclamation-sign"
                    aria-hidden="true"
                ></span>

                <div class="message-container update-password-failed-message">
                    <img
                        src="/assets/icons/error-icon.svg"
                        width="30"
                        height="30"
                        data-cy="update-password-failed-icon"
                    />
                    <p
                        class="remove-margin"
                        data-cy="update-password--error-message"
                    >
                        {{ alertMessage }}
                    </p>
                </div>
            </div>
        </div>
        <div class="reset-password-footer">
            <button
                *ngIf="!isUpdateSuccessful"
                class="tc-button-50"
                type="submit"
                [ngClass]="isDisabled() ? 'disabled' : ''"
                [disabled]="isDisabled() || isUpdateSuccessful"
            >
                <span *ngIf="!isLoading" i18n="@@reset-password">
                    Reset password</span
                >
                <span
                    *ngIf="isLoading"
                    class="spinner-border spinner-border-sm text-light"
                    style="margin: 5px"
                    role="status"
                    aria-hidden="true"
                ></span>
            </button>
            <button
                *ngIf="isUpdateSuccessful"
                class="tc-button-50"
                data-cy="goto-login-btn"
                routerLink="/login"
                [disabled]="!isUpdateSuccessful"
                i18n="@@todo-danish"
            >
                Go to login page
            </button>
        </div>
    </form>
</div>
