<div class="reset-password-container">
    <form
        (ngSubmit)="onChangePassword()"
        name="changePasswordForm"
        class="change-password-form"
        [formGroup]="changePasswordForm"
    >
        <div class="reset-password-header">
            <img src="../../../assets/icons/shield-icon.svg" class="header-icon" />
        </div>

        <h3 i18n="@@reset-password">Reset your password</h3>
        <p i18n="@@reset-password-subtitle">Write your new password here:</p>
        <div class="password-input">
            <div class="tc-input-group field">
                <input
                    #updatePassword
                    type="password"
                    class="tc-input-field"
                    placeholder="New password"
                    formControlName="password"
                    name="password"
                    id="password"
                    data-cy="reset-password-password-input"
                />
                <label for="password" class="tc-input-label" i18n="@@new-password">New password</label>
            </div>
            <button
                class="show-password-btn"
                type="button"
                (click)="updatePassword.type = updatePassword.type == 'password' ? 'text' : 'password'"
            >
                <img
                    src="/assets/icons/error-icon.svg"
                    class="password-icon"
                    [ngClass]="updatePassword.type === 'text' ? 'password-show-icon' : 'password-hide-icon'"
                />
            </button>
        </div>
        <div class="info-message" i18n="@@info-password">
            Password must contain: min 8 characters, at least one upper case letter, one lower case letter and one
            number.
        </div>
        <div
            class="error-message space-under"
            *ngIf="this.changePasswordForm.get('password').dirty && this.changePasswordForm.get('password').invalid"
            i18n="@@invalid-password"
            data-cy="reset-password-password-error-message"
        >
            Invalid password
        </div>

        <div class="password-input">
            <div class="tc-input-group field">
                <input
                    #updateConfirmPassword
                    type="password"
                    class="tc-input-field"
                    formControlName="confirmPassword"
                    placeholder="confirmPassword"
                    name="confirmPassword"
                    id="confirmPassword"
                    data-cy="reset-password-confirm-password-input"
                />
                <label for="confirmPassword" class="tc-input-label" i18n="@@confirm-password">Confirm password</label>
            </div>
            <button
                class="show-password-btn"
                type="button"
                (click)="updateConfirmPassword.type = updateConfirmPassword.type == 'password' ? 'text' : 'password'"
            >
                <img
                    src="/assets/icons/error-icon.svg"
                    class="password-icon"
                    [ngClass]="updateConfirmPassword.type === 'text' ? 'password-show-icon' : 'password-hide-icon'"
                />
            </button>
        </div>

        <div
            class="error-message"
            *ngIf="this.changePasswordForm.get('confirmPassword').dirty && !this.matchingPasswords()"
            i18n="@@invalid-confirm-password"
            data-cy="reset-password-confirm-password-error-message"
        >
            The passwords must match each other
        </div>

        <div *ngIf="!isLoading && alertMessage !== ''" class="update-password-status-container">
            <div *ngIf="isUpdateSuccessful">
                <p i18n="@@password-has-been-updated">Your password has been updated</p>
                <div class="update-password-success-message">
                    <img
                        src="/assets/icons/success-white-icon.svg"
                        width="30"
                        height="30"
                        data-cy="update-password-success-icon"
                    />
                    <p class="remove-margin" i18n="@@updated" data-cy="update-password-success-message">Updated</p>
                </div>
            </div>
            <div *ngIf="!isUpdateSuccessful" data-cy="reset-password-failed">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

                <div class="message-container update-password-failed-message">
                    <img
                        src="/assets/icons/error-icon.svg"
                        width="30"
                        height="30"
                        data-cy="update-password-failed-icon"
                    />
                    <p class="remove-margin" data-cy="update-password-error-message">
                        {{ alertMessage }}
                    </p>
                </div>
            </div>
        </div>
        <div class="reset-password-footer">
            <button
                *ngIf="!isUpdateSuccessful"
                class="tc-button-50"
                type="submit"
                data-cy="reset-password-button"
                [ngClass]="isDisabled() ? 'disabled' : ''"
                [disabled]="isDisabled() || isUpdateSuccessful"
            >
                <span i18n="@@reset-password"> Reset password</span>
                <span
                    *ngIf="isLoading"
                    class="spinner-border spinner-border-sm text-light"
                    style="margin: 5px"
                    role="status"
                    aria-hidden="true"
                ></span>
            </button>
            <button
                *ngIf="isUpdateSuccessful"
                class="tc-button-50"
                data-cy="goto-login-btn"
                routerLink="/login"
                [disabled]="!isUpdateSuccessful"
                i18n="@@go-to-login"
            >
                Go to login
            </button>
        </div>
    </form>
</div>
