.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.change-password-form {
  padding: 20px 30px 30px 30px;
  width: 500px;
  max-width: 100vw;
}
.reset-password-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.reset-password-footer {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
p {
  margin: 0;
}
.header-icon {
  margin-left: 1.5rem;
}
.space-under {
  margin-bottom: 5px;
}
@media (max-width: 500px) {
  .tc-button-50 {
    width: 100% !important;
  }
}

.update-password-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.update-password-success-message {
  color: white;
  background-color: #52d73d;
  border-radius: 3px;
  border: 2px solid rgb(13, 177, 13);
  padding: 10px;
  margin: 20px;
}

.message-container {
  color: darkred;
  background-color: lightpink;
  border-radius: 3px;
  border: 2px solid lightcoral;
  padding: 10px;
  margin: 20px;
}

@media (max-width: 900px) and (orientation: landscape) {
  .update-password-container {
    height: auto;
  }
}

@media (max-width: 600px) {
  .update-password-container {
    margin-bottom: 40px;
  }
  .update-password-section {
    width: 90vw;
  }
}
