<div class="reset-password-container">
    <form
        (ngSubmit)="onChangePassword()"
        name="changePasswordForm"
        class="change-password-form"
        [formGroup]="changePasswordForm"
    >
        <div class="reset-password-header">
            <img
                src="../../../assets/icons/shield-icon.svg"
                class="header-icon"
            />
        </div>

        <h3 i18n="@@reset-password">Reset your password</h3>
        <p i18n="@@reset-password-subtitle">Write your new password here:</p>
        <div class="tc-input-group field">
            <input
                type="password"
                class="tc-input-field"
                placeholder="New password"
                formControlName="password"
                name="password"
                id="password"
            />
            <label for="password" class="tc-input-label" i18n="@@new-password"
                >New password</label
            >
        </div>
        <div
            class="error-message space-under"
            *ngIf="
                this.changePasswordForm.get('password').dirty &&
                this.changePasswordForm.get('password').invalid
            "
            i18n="@@password-error-message"
        >
            Must contain at least one upper- and lowecase letter and a number.
        </div>

        <div class="tc-input-group field">
            <input
                type="password"
                class="tc-input-field"
                formControlName="confirmPassword"
                placeholder="confirmPassword"
                name="confirmPassword"
                id="confirmPassword"
            />
            <label
                for="confirmPassword"
                class="tc-input-label"
                i18n="@@confirma-password"
                >Confirm password</label
            >
        </div>

        <div
            class="error-message"
            *ngIf="
                this.changePasswordForm.get('confirmPassword').dirty &&
                !this.matchingPasswords()
            "
            i18n="@@confirm-password-error-message"
        >
            The passwords must match each other
        </div>

        <p>
            Onve you've reset your password, you can try to log in again with
            the new password.
        </p>

        <div class="reset-password-footer">
            <button
                class="tc-button-50"
                type="submit"
                [ngClass]="isDisabled() ? 'disabled' : ''"
                [disabled]="isDisabled()"
                i18n="@@reset-password"
            >
                Reset password
            </button>
        </div>
    </form>
</div>
