.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.change-password-form {
  padding: 20px 30px 30px 30px;
  width: 500px;
  max-width: 100vw;
}
.reset-password-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.reset-password-footer {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
p {
  margin: 0;
}
.header-icon {
  margin-left: 1.5rem;
}
.space-under {
  margin-bottom: 5px;
}
@media (max-width: 500px) {
  .tc-button-50 {
    width: 100% !important;
  }
}
