.custom-order-container {
  width: fit-content;
  background-color: white;
  box-shadow: 0px 1px 18px -2px rgb(0 0 0 / 15%);
  padding: 0.75em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.custom-order-img {
  height: 200px;
}

.custom-order-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 0;
  width: 200px;
}

.custom-order-info {
  font-size: 0.75em;
}

.text-field {
  margin-top: 0.4em;
}

@media (max-width: 550px) {
  .custom-order-info-container,
  .custom-order-img {
    width: 250px;
  }
  .custom-order-img {
    height: 250px;
  }
  .custom-order-container {
    width: 80vw;
    flex-direction: column;
  }
  .price {
    margin-top: 1em;
  }
}
