.product-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 4em);
  margin-top: 4em;
}

.mini-product-display-container {
  display: flex;
}

.mini-product {
  width: 150px;
  height: 200px;
  background-color: antiquewhite;
  margin: 1em;
}

.product {
  width: 50vw;
  height: 300px;
  background-color: antiquewhite;
  margin: 1em;
}