<!-- <div class="temp-styling-box-wrapper">
    <section id="centered-div">
        <h1>Products works!</h1>
        <h2>Here be the products</h2>
        <br /><br />
        <a routerLink="family-tree" class="stupid-link">Family Tree</a>
        <a routerLink="quotable" class="stupid-link">Quototuabale</a>
    </section>
</div> -->

<div class="product-page-container">
    <div class="mini-product-display-container">
        <div class="mini-product"></div>
        <div class="mini-product"></div>
        <div class="mini-product"></div>
    </div>
    <div class="product-listing-container">
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
    </div>
</div>
