.products {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 4em);
  margin-top: 4em;
}

.products-page-container {
  max-width: 1300px;
  width: 90vw;
}

.product-listing-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .products-page-container {
    width: 95vw;
  }
}
