<!-- I'm just having fun feel free to wipe it all-->

<video autoplay muted loop id="background-vid">
    <source src="https://pic.pikbest.com/18/43/23/35u888piC5AW.mp4" type="video/mp4" />
</video>

<div class="temp-styling-box-wrapper">
    <section id="centered-div">
        <h1>Products works!</h1>
        <h2>Here be the products</h2>
        <br /><br />
        <a routerLink="family-tree" class="stupid-link">Family Tree</a>
        <a routerLink="quotable" class="stupid-link">Quototuabale</a>
    </section>
</div>
