<div class="modal-container">
    <div class="modal-content">
        <div class="modal-header-secondary">
            <img
                src="/assets/icons/shield-icon.svg"
                class="modal-header-icon"
            />
        </div>
        <form
            (ngSubmit)="changePassword()"
            name="changePasswordForm"
            [formGroup]="changePasswordForm"
        >
            <div class="modal-body-secondary">
                <div class="title">
                    <h3 i18n="@@change-password">Change password</h3>
                    <!-- new password -->
                    <div class="tc-input-group field">
                        <input
                            type="text"
                            formControlName="password"
                            class="tc-input-field"
                            placeholder="E-mail"
                            name="password"
                            id="password"
                            required
                        />
                        <label for="password" class="tc-input-label"
                            >E-mail</label
                        >
                    </div>
                    <div
                        class="error-message"
                        *ngIf="
                            this.changePasswordForm.get('password').dirty &&
                            this.changePasswordForm.get('password').invalid
                        "
                        i18n="@@invalid-password"
                    >
                        Invalid password
                    </div>
                    <!-- confirm password -->
                    <div class="tc-input-group field">
                        <input
                            type="text"
                            formControlName="confirmPassword"
                            class="tc-input-field"
                            placeholder="E-mail"
                            name="confirmPassword"
                            id="confirmPassword"
                            required
                        />
                        <label for="confirmPassword" class="tc-input-label"
                            >E-mail</label
                        >
                    </div>
                    <div
                        class="error-message"
                        *ngIf="
                            this.changePasswordForm.get('confirmPassword')
                                .dirty &&
                            this.changePasswordForm.get('confirmPassword')
                                .invalid
                        "
                        i18n="@@invalid-confirm-password"
                    >
                        Invalid password
                    </div>
                </div>
            </div>
            <div class="modal-footer-secondary">
                <button
                    type="submit"
                    class="tc-button-50"
                    [disabled]="isDisabled()"
                    [ngClass]="isDisabled() ? 'disabled' : ''"
                    i18n="@@reset-password"
                >
                    Reset Password
                </button>
                <button
                    type="button"
                    class="tc-button-50"
                    (click)="activeModal.close()"
                    i18n="@@close"
                    data-cy="change-password-modal-close-btn"
                >
                    Close
                </button>
            </div>
        </form>
    </div>
</div>
