.password-input {
  display: flex;
}
.show-password-btn {
  position: relative;
  top: 5px;
  border: none;
  background: none;
}
.password-icon {
  width: 15px;
  height: 15px;
}
.password-show-icon {
  content: url('/assets/icons/visibility.svg');
}
.password-hide-icon {
  content: url('/assets/icons/visibility-off.svg');
}
.tc-input-group {
  width: 100%;
}
