<div class="modal-container">
    <div class="modal-content" data-cy="change-password-modal">
        <div class="modal-header-secondary">
            <img
                src="/assets/icons/shield-icon.svg"
                class="modal-header-icon"
            />
        </div>
        <form
            (ngSubmit)="changePassword()"
            name="changePasswordForm"
            [formGroup]="changePasswordForm"
        >
            <div class="modal-body-secondary">
                <div class="title">
                    <h3 i18n="@@change-password">Change password</h3>
                    <!-- new password -->
                    <div class="password-input">
                        <div class="tc-input-group field">
                            <input
                                #newPassword
                                type="password"
                                formControlName="password"
                                class="tc-input-field"
                                placeholder="E-mail"
                                name="password"
                                id="password"
                                data-cy="change-password-password-input"
                                required
                            />
                            <label
                                for="password"
                                class="tc-input-label"
                                i18n="@@new-password"
                                >New password</label
                            >
                        </div>
                        <button
                            class="show-password-btn"
                            type="button"
                            (click)="
                                newPassword.type =
                                    newPassword.type === 'password'
                                        ? 'text'
                                        : 'password'
                            "
                        >
                            <img
                                src="/assets/icons/error-icon.svg"
                                class="password-icon"
                                [ngClass]="
                                    newPassword.type === 'text'
                                        ? 'password-show-icon'
                                        : 'password-hide-icon'
                                "
                            />
                        </button>
                    </div>
                    <div class="info-message" i18n="@@info-password">
                        Password must contain: min 8 characters, at least one
                        upper case letter, one lower case letter and one number.
                    </div>
                    <div
                        class="error-message"
                        *ngIf="
                            this.changePasswordForm.get('password').dirty &&
                            this.changePasswordForm.get('password').invalid
                        "
                        i18n="@@invalid-password"
                    >
                        Invalid password
                    </div>
                    <!-- confirm password -->
                    <div class="password-input">
                        <div class="tc-input-group field">
                            <input
                                #newConfirmPassword
                                type="password"
                                formControlName="confirmPassword"
                                class="tc-input-field"
                                placeholder="E-mail"
                                name="confirmPassword"
                                id="confirmPassword"
                                data-cy="change-password-confirm-password-input"
                                required
                            />
                            <label
                                for="confirmPassword"
                                class="tc-input-label"
                                i18n="@@confirm-password"
                                >Confirm password</label
                            >
                        </div>
                        <button
                            class="show-password-btn"
                            type="button"
                            (click)="
                                newConfirmPassword.type =
                                    newConfirmPassword.type === 'password'
                                        ? 'text'
                                        : 'password'
                            "
                        >
                            <img
                                src="/assets/icons/error-icon.svg"
                                class="password-icon"
                                [ngClass]="
                                    newConfirmPassword.type === 'text'
                                        ? 'password-show-icon'
                                        : 'password-hide-icon'
                                "
                            />
                        </button>
                    </div>
                    <div
                        class="error-message"
                        *ngIf="
                            (this.changePasswordForm.get('confirmPassword')
                                .dirty &&
                                this.changePasswordForm.get('confirmPassword')
                                    .invalid) ||
                            !passwordsMatch()
                        "
                        i18n="@@invalid-confirm-password"
                        data-cy="change-password-not-matching-message"
                    >
                        Passwords must match
                    </div>
                </div>
            </div>
            <div class="modal-footer-secondary">
                <button
                    type="submit"
                    class="tc-button-50"
                    [disabled]="!isEnabled()"
                    data-cy="update-password-btn"
                >
                    <span i18n="@@update-password" *ngIf="!isLoading"
                        >Update Password</span
                    >
                    <div class="spinner" *ngIf="isLoading">
                        <span
                            class="spinner-border spinner-border-sm"
                            style="margin: 0 10px"
                            role="status"
                            aria-hidden="true"
                        ></span>
                    </div>
                </button>
                <button
                    type="button"
                    class="tc-button-50"
                    (click)="activeModal.close()"
                    i18n="@@close"
                    data-cy="change-password-modal-close-btn"
                >
                    Close
                </button>
            </div>
        </form>
    </div>
</div>
