<div class="modal-container">
    <div class="modal-content">
        <div data-cy="privacy-notice-modal" class="modal-header">
            <h1>Privatlivspolitik</h1>
            <div data-cy="privacy-notice-modal-x-btn" class="tc-button-square" (click)="activeModal.close()">
                <div class="icon">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="text">
                <p><strong>Standardkontraktsbestemmelser</strong></p>
                <p>
                    <span
                        >I henhold til artikel 28, stk. 3, i forordning 2016/679 (databeskyttelsesforordningen) med
                        henblik p&aring; databehandlerens behandling af personoplysninger</span
                    >
                </p>

                <p><span>mellem</span></p>

                <p>
                    <span>Treecreate</span><br />
                    <span>CVR: 38 45 31 14</span><br />
                    <span>Hiller&oslash;dgade 69, 3.</span><br />
                    <span>2200, K&oslash;benhavn</span><br />
                    <span>Danmark</span>
                </p>

                <p><span>herefter &rdquo;den dataansvarlige&rdquo;</span></p>

                <p>
                    <span>Treecreate</span> <br />
                    <span>CVR: 38 45 31 14</span><br />
                    <span>Hiller&oslash;dgade 69, 3.</span><br />
                    <span>2200, K&oslash;benhavn</span><br />
                    <span>Danmark</span>
                </p>

                <p>
                    <span
                        >der hver is&aelig;r er en &rdquo;part&rdquo; og sammen udg&oslash;r
                        &rdquo;parterne&rdquo;</span
                    >
                </p>

                <p>
                    <span
                        >HAR AFTALT f&oslash;lgende standardkontraktsbestemmelser (Bestemmelserne) med henblik p&aring;
                        at overholde databeskyttelsesforordningen og sikre beskyttelse af privatlivets fred og fysiske
                        personers grundl&aelig;ggende rettigheder og frihedsrettigheder</span
                    >
                </p>
                <p>&nbsp;</p>

                <p><span>Indhold</span></p>
                <ol start="2">
                    <li><span> Pr&aelig;ambel</span></li>
                    <li>
                        <span> Den dataansvarliges rettigheder og forpligtelser</span>
                    </li>
                    <li>
                        <span> Databehandleren handler efter instruks</span>
                    </li>
                    <li><span> Fortrolighed</span></li>
                    <li><span> Behandlingssikkerhed</span></li>
                    <li><span> Bistand til den dataansvarlige</span></li>
                    <li>
                        <span> Underretning om brud p&aring; persondatasikkerheden</span>
                    </li>
                    <li>
                        <span> Sletning og returnering af oplysninger</span>
                    </li>
                    <li><span> Revision, herunder inspektion</span></li>
                    <li><span> Parternes aftale om andre forhold</span></li>
                    <li><span> Ikrafttr&aelig;den og oph&oslash;r</span></li>
                    <li>
                        <span> Kontaktpersoner hos den dataansvarlige og databehandleren</span>
                    </li>
                </ol>
                <p>
                    <span>Bilag A</span><span>&nbsp; </span>
                    <span>Oplysninger om behandlingen</span>
                </p>
                <p>
                    <span>Bilag B </span><span>&nbsp;</span>
                    <span>Instruks vedr&oslash;rende behandling af personoplysninger</span>
                </p>

                <p>&nbsp;</p>

                <h1><strong>1. Pr&aelig;ambel</strong></h1>

                <ol>
                    <li>
                        <span
                            >Disse Bestemmelser fasts&aelig;tter databehandlerens rettigheder og forpligtelser,
                            n&aring;r denne foretager behandling af personoplysninger p&aring; vegne af den
                            dataansvarlige.</span
                        >
                    </li>
                </ol>

                <ol start="2">
                    <li>
                        <span
                            >Disse bestemmelser er udformet med henblik p&aring; parternes efterlevelse af artikel 28,
                            stk. 3, i Europa-Parlamentets og R&aring;dets forordning (EU) 2016/679 af 27. april 2016 om
                            beskyttelse af fysiske personer i forbindelse med behandling af personoplysninger og om fri
                            udveksling af s&aring;danne oplysninger og om oph&aelig;velse af direktiv 95/46/EF
                            (databeskyttelsesforordningen).</span
                        >
                    </li>
                </ol>

                <ol start="3">
                    <li>
                        <span
                            >I forbindelse med leveringen af Treecreate.dk hjemmesiden behandler databehandleren
                            personoplysninger p&aring; vegne af den dataansvarlige i overensstemmelse med disse
                            Bestemmelser.</span
                        >
                    </li>
                </ol>

                <ol start="4">
                    <li>
                        <span
                            >Bestemmelserne har forrang i forhold til eventuelle tilsvarende bestemmelser i andre
                            aftaler mellem parterne.</span
                        >
                    </li>
                </ol>

                <ol start="5">
                    <li>
                        <span
                            >Der h&oslash;rer fire bilag til disse Bestemmelser, og bilagene udg&oslash;r en integreret
                            del af Bestemmelserne.</span
                        >
                    </li>
                </ol>

                <ol start="6">
                    <li>
                        <span
                            >Bilag A indeholder n&aelig;rmere oplysninger om behandlingen af personoplysninger, herunder
                            om behandlingens form&aring;l og karakter, typen af personoplysninger, kategorierne af
                            registrerede og varighed af behandlingen.</span
                        >
                    </li>
                </ol>

                <ol start="7">
                    <li>
                        <span
                            >Bilag C indeholder den dataansvarliges instruks for s&aring; vidt ang&aring;r
                            databehandlerens behandling af personoplysninger, en beskrivelse af de
                            sikkerhedsforanstaltninger, som databehandleren som minimum skal gennemf&oslash;re, og
                            hvordan der f&oslash;res tilsyn med databehandleren og eventuelle underdatabehandlere.</span
                        >
                    </li>
                </ol>

                <ol start="8">
                    <li>
                        <span
                            >Bilag D indeholder bestemmelser vedr&oslash;rende andre aktiviteter, som ikke af omfattet
                            af Bestemmelserne.</span
                        >
                    </li>
                </ol>

                <ol start="9">
                    <li>
                        <span
                            >Bestemmelserne med tilh&oslash;rende bilag skal opbevares skriftligt, herunder elektronisk,
                            af begge parter.</span
                        >
                    </li>
                </ol>

                <ol start="10">
                    <li>
                        <span> &nbsp; </span
                        ><span
                            >Disse Bestemmelser frig&oslash;r ikke databehandleren fra forpligtelser, som
                            databehandleren er p&aring;lagt efter databeskyttelsesforordningen eller enhver anden
                            lovgivning.</span
                        >
                    </li>
                </ol>
                <h1>
                    <strong>2. Den dataansvarliges rettigheder og forpligtelser</strong>
                </h1>

                <ol>
                    <li>
                        <span
                            >Den dataansvarlige er ansvarlig for at sikre, at behandlingen af personoplysninger sker i
                            overensstemmelse med databeskyttelsesforordningen (se forordningens artikel 24),
                            databeskyttelsesbestemmelser i anden EU-ret eller medlemsstaternes</span
                        ><span>[1]</span><span> nationale ret og disse Bestemmelser.</span>
                    </li>
                </ol>

                <ol start="2">
                    <li>
                        <span
                            >Den dataansvarlige har ret og pligt til at tr&aelig;ffe beslutninger om, til hvilke(t)
                            form&aring;l og med hvilke hj&aelig;lpemidler, der m&aring; ske behandling af
                            personoplysninger.</span
                        >
                    </li>
                </ol>

                <ol start="3">
                    <li>
                        <span
                            >Den dataansvarlige er ansvarlig for, blandt andet, at sikre, at der er et
                            behandlingsgrundlag for behandlingen af personoplysninger, som databehandleren instrueres i
                            at foretage.</span
                        >
                    </li>
                </ol>
                <h1>
                    <strong>3. Databehandleren handler efter instruks</strong>
                </h1>

                <ol>
                    <li>
                        <span
                            >Databehandleren m&aring; kun behandle personoplysninger efter dokumenteret instruks fra den
                            dataansvarlige, medmindre det kr&aelig;ves i henhold til EU-ret eller medlemsstaternes
                            nationale ret, som databehandleren er underlagt. Denne instruks skal v&aelig;re specificeret
                            i bilag A og C. Efterf&oslash;lgende instruks kan ogs&aring; gives af den dataansvarlige,
                            mens der sker behandling af personoplysninger, men instruksen skal altid v&aelig;re
                            dokumenteret og opbevares skriftligt, herunder elektronisk, sammen med disse
                            Bestemmelser.</span
                        >
                    </li>
                </ol>

                <ol start="2">
                    <li>
                        <span
                            >Databehandleren underretter omg&aring;ende den dataansvarlige, hvis en instruks efter
                            vedkommendes mening er i strid med denne forordning eller databeskyttelsesbestemmelser i
                            anden EU-ret eller medlemsstaternes nationale ret.</span
                        >
                    </li>
                </ol>
                <h1><strong>4. Fortrolighed</strong></h1>

                <ol>
                    <li>
                        <span
                            >Databehandleren m&aring; kun give adgang til personoplysninger, som behandles p&aring; den
                            dataansvarliges vegne, til personer, som er underlagt databehandlerens
                            instruktionsbef&oslash;jelser, som har forpligtet sig til fortrolighed eller er underlagt en
                            passende lovbestemt tavshedspligt, og kun i det n&oslash;dvendige omfang. Listen af
                            personer, som har f&aring;et tildelt adgang, skal l&oslash;bende gennemg&aring;s. P&aring;
                            baggrund af denne gennemgang kan adgangen til personoplysninger lukkes, hvis adgangen ikke
                            l&aelig;ngere er n&oslash;dvendig, og personoplysningerne skal herefter ikke l&aelig;ngere
                            v&aelig;re tilg&aelig;ngelige for disse personer.</span
                        >
                    </li>
                </ol>

                <ol start="2">
                    <li>
                        <span
                            >Databehandleren skal efter anmodning fra den dataansvarlige kunne p&aring;vise, at de
                            p&aring;g&aelig;ldende personer, som er underlagt databehandlerens
                            instruktionsbef&oslash;jelser, er underlagt ovenn&aelig;vnte tavshedspligt.</span
                        >
                    </li>
                </ol>
                <h1><strong>5. Behandlingssikkerhed</strong></h1>

                <ol>
                    <li>
                        <span
                            >Databeskyttelsesforordningens artikel 32 fastsl&aring;r, at den dataansvarlige og
                            databehandleren, under hensyntagen til det aktuelle tekniske niveau,
                            implementeringsomkostningerne og den p&aring;g&aelig;ldende behandlings karakter, omfang,
                            sammenh&aelig;ng og form&aring;l samt risiciene af varierende sandsynlighed og alvor for
                            fysiske personers rettigheder og frihedsrettigheder, gennemf&oslash;rer passende tekniske og
                            organisatoriske foranstaltninger for at sikre et beskyttelsesniveau, der passer til disse
                            risici.</span
                        >
                    </li>
                </ol>

                <p>
                    <span
                        >Den dataansvarlige skal vurdere risiciene for fysiske personers rettigheder og
                        frihedsrettigheder som behandlingen udg&oslash;r og gennemf&oslash;re foranstaltninger for at
                        im&oslash;deg&aring; disse risici. Afh&aelig;ngig af deres relevans kan det omfatte:</span
                    >
                </p>

                <ol>
                    <li>
                        <span>Pseudonymisering og kryptering af personoplysninger</span>
                    </li>
                </ol>

                <ol>
                    <li>
                        <span
                            >evne til at sikre vedvarende fortrolighed, integritet, tilg&aelig;ngelighed og robusthed af
                            behandlingssystemer og -tjenester</span
                        >
                    </li>
                </ol>

                <ol>
                    <li>
                        <span
                            >evne til rettidigt at genoprette tilg&aelig;ngeligheden af og adgangen til
                            personoplysninger i tilf&aelig;lde af en fysisk eller teknisk h&aelig;ndelse</span
                        >
                    </li>
                </ol>

                <ol>
                    <li>
                        <span
                            >en procedure for regelm&aelig;ssig afpr&oslash;vning, vurdering og evaluering af
                            effektiviteten af de tekniske og organisatoriske foranstaltninger til sikring af
                            behandlingssikkerhed.</span
                        >
                    </li>
                </ol>

                <ol start="2">
                    <li>
                        <span
                            >Efter forordningens artikel 32 skal databehandleren &ndash; uafh&aelig;ngigt af den
                            dataansvarlige &ndash; ogs&aring; vurdere risiciene for fysiske personers rettigheder som
                            behandlingen udg&oslash;r og gennemf&oslash;re foranstaltninger for at im&oslash;deg&aring;
                            disse risici. Med henblik p&aring; denne vurdering skal den dataansvarlige stille den
                            n&oslash;dvendige information til r&aring;dighed for databehandleren som g&oslash;r
                            vedkommende i stand til at identificere og vurdere s&aring;danne risici.</span
                        >
                    </li>
                </ol>

                <ol start="3">
                    <li>
                        <span
                            >Derudover skal databehandleren bist&aring; den dataansvarlige med vedkommendes overholdelse
                            af den dataansvarliges forpligtelse efter forordningens artikel 32, ved bl.a. at stille den
                            n&oslash;dvendige information til r&aring;dighed for den dataansvarlige vedr&oslash;rende de
                            tekniske og organisatoriske sikkerhedsforanstaltninger, som databehandleren allerede har
                            gennemf&oslash;rt i henhold til forordningens artikel 32, og al anden information, der er
                            n&oslash;dvendig for den dataansvarliges overholdelse af sin forpligtelse efter
                            forordningens artikel 32.</span
                        >
                    </li>
                </ol>

                <p>
                    <span
                        >Hvis im&oslash;deg&aring;else af de identificerede risici &ndash; efter den dataansvarliges
                        vurdering &ndash; kr&aelig;ver gennemf&oslash;relse af yderligere foranstaltninger end de
                        foranstaltninger, som databehandleren allerede har gennemf&oslash;rt, skal den dataansvarlige
                        angive de yderligere foranstaltninger, der skal gennemf&oslash;res, i bilag C.</span
                    >
                </p>
                <h1><strong>6. Bistand til den dataansvarlige</strong></h1>

                <ol>
                    <li>
                        <span
                            >Databehandleren bist&aring;r, under hensyntagen til behandlingens karakter, s&aring; vidt
                            muligt den dataansvarlige ved hj&aelig;lp af passende tekniske og organisatoriske
                            foranstaltninger med opfyldelse af den dataansvarliges forpligtelse til at besvare
                            anmodninger om ud&oslash;velsen af de registreredes rettigheder som fastlagt i
                            databeskyttelsesforordningens kapitel III.</span
                        >
                    </li>
                </ol>

                <p>
                    <span
                        >Dette indeb&aelig;rer, at databehandleren s&aring; vidt muligt skal bist&aring; den
                        dataansvarlige i forbindelse med, at den dataansvarlige skal sikre overholdelsen af:</span
                    >
                </p>

                <ol>
                    <li>
                        <span>oplysningspligten ved indsamling af personoplysninger hos den registrerede</span>
                    </li>
                    <li>
                        <span>oplysningspligten, hvis personoplysninger ikke er indsamlet hos den registrerede</span>
                    </li>
                    <li><span>indsigtsretten</span></li>
                    <li><span>retten til berigtigelse</span></li>
                    <li>
                        <span>retten til sletning (&rdquo;retten til at blive glemt&rdquo;)</span>
                    </li>
                    <li>
                        <span> &nbsp; </span>
                        <span>retten til begr&aelig;nsning af behandling</span>
                    </li>
                    <li>
                        <span
                            >underretningspligten i forbindelse med berigtigelse eller sletning af personoplysninger
                            eller begr&aelig;nsning af behandling</span
                        >
                    </li>
                    <li><span>retten til dataportabilitet</span></li>
                    <li><span> &nbsp; </span> <span>retten til indsigelse</span></li>
                    <li>
                        <span> &nbsp; </span>
                        <span
                            >retten til ikke at v&aelig;re genstand for en afg&oslash;relse, der alene er baseret
                            p&aring; automatisk behandling, herunder profilering</span
                        >
                    </li>
                </ol>

                <ol start="2">
                    <li>
                        <span
                            >I till&aelig;g til databehandlerens forpligtelse til at bist&aring; den dataansvarlige i
                            henhold til Bestemmelse 6.3., bist&aring;r databehandleren endvidere, under hensyntagen til
                            behandlingens karakter og de oplysninger, der er tilg&aelig;ngelige for databehandleren, den
                            dataansvarlige med:</span
                        >
                    </li>
                </ol>

                <ol>
                    <li>
                        <span
                            >den dataansvarliges forpligtelse til uden un&oslash;dig forsinkelse og om muligt senest 72
                            timer, efter at denne er blevet bekendt med det, at anmelde brud p&aring;
                            persondatasikkerheden til den kompetente tilsynsmyndighed, ankestyrelsen, medmindre at det
                            er usandsynligt, at bruddet p&aring; persondatasikkerheden indeb&aelig;rer en risiko for
                            fysiske personers rettigheder eller frihedsrettigheder</span
                        >
                    </li>
                </ol>

                <ol>
                    <li>
                        <span
                            >den dataansvarliges forpligtelse til uden un&oslash;dig forsinkelse at underrette den
                            registrerede om brud p&aring; persondatasikkerheden, n&aring;r bruddet sandsynligvis vil
                            medf&oslash;re en h&oslash;j risiko for fysiske personers rettigheder og
                            frihedsrettigheder</span
                        >
                    </li>
                </ol>

                <ol>
                    <li>
                        <span
                            >den dataansvarliges forpligtelse til forud for behandlingen at foretage en analyse af de
                            p&aring;t&aelig;nkte behandlingsaktiviteters konsekvenser for beskyttelse af
                            personoplysninger (en konsekvensanalyse)</span
                        >
                    </li>
                </ol>

                <ol>
                    <li>
                        <span
                            >den dataansvarliges forpligtelse til at h&oslash;re den kompetente tilsynsmyndighed,
                            ankestyrelsen, inden behandling, s&aring;fremt en konsekvensanalyse vedr&oslash;rende
                            databeskyttelse viser, at behandlingen vil f&oslash;re til h&oslash;j risiko i mangel af
                            foranstaltninger truffet af den dataansvarlige for at begr&aelig;nse risikoen.</span
                        >
                    </li>
                </ol>

                <ol start="3">
                    <li>
                        <span
                            >Parterne skal i bilag C angive de forn&oslash;dne tekniske og organisatoriske
                            foranstaltninger, hvormed databehandleren skal bist&aring; den dataansvarlige samt i hvilket
                            omfang og udstr&aelig;kning. Det g&aelig;lder for de forpligtelser, der f&oslash;lger af
                            Bestemmelse 9.1. og 9.2.</span
                        >
                    </li>
                </ol>
                <h1>
                    <strong>7. Underretning om brud p&aring; persondatasikkerheden</strong>
                </h1>

                <ol>
                    <li>
                        <span
                            >Databehandleren underretter uden un&oslash;dig forsinkelse den dataansvarlige efter at
                            v&aelig;re blevet opm&aelig;rksom p&aring;, at der er sket et brud p&aring;
                            persondatasikkerheden.</span
                        >
                    </li>
                </ol>

                <ol start="2">
                    <li>
                        <span
                            >Databehandlerens underretning til den dataansvarlige skal om muligt ske senest 48 timer
                            efter, at denne er blevet bekendt med bruddet, s&aring;dan at den dataansvarlige kan
                            overholde sin forpligtelse til at anmelde bruddet p&aring; persondatasikkerheden til den
                            kompetente tilsynsmyndighed, jf. databeskyttelsesforordningens artikel 33.</span
                        >
                    </li>
                </ol>

                <ol start="3">
                    <li>
                        <span
                            >I overensstemmelse med Bestemmelse 9.2.a skal databehandleren bist&aring; den
                            dataansvarlige med at foretage anmeldelse af bruddet til den kompetente tilsynsmyndighed.
                            Det betyder, at databehandleren skal bist&aring; med at tilvejebringe nedenst&aring;ende
                            information, som if&oslash;lge artikel 33, stk. 3, skal fremg&aring; af den dataansvarliges
                            anmeldelse af bruddet til den kompetente tilsynsmyndighed:</span
                        >
                    </li>
                </ol>

                <ol>
                    <li>
                        <span
                            >karakteren af bruddet p&aring; persondatasikkerheden, herunder, hvis det er muligt,
                            kategorierne og det omtrentlige antal ber&oslash;rte registrerede samt kategorierne og det
                            omtrentlige antal ber&oslash;rte registreringer af personoplysninger</span
                        >
                    </li>
                </ol>

                <ol>
                    <li>
                        <span>de sandsynlige konsekvenser af bruddet p&aring; persondatasikkerheden</span>
                    </li>
                </ol>

                <ol>
                    <li>
                        <span
                            >de foranstaltninger, som den dataansvarlige har truffet eller foresl&aring;r truffet for at
                            h&aring;ndtere bruddet p&aring; persondatasikkerheden, herunder, hvis det er relevant,
                            foranstaltninger for at begr&aelig;nse dets mulige skadevirkninger.</span
                        >
                    </li>
                </ol>

                <ol start="4">
                    <li>
                        <span
                            >Parterne skal i bilag C angive den information, som databehandleren skal tilvejebringe i
                            forbindelse med sin bistand til den dataansvarlige i dennes forpligtelse til at anmelde brud
                            p&aring; persondatasikkerheden til den kompetente tilsynsmyndighed.</span
                        >
                    </li>
                </ol>
                <h1>
                    <strong>8. Sletning og returnering af oplysninger</strong>
                </h1>

                <ol>
                    <li>
                        <span
                            >Ved oph&oslash;r af tjenesterne vedr&oslash;rende behandling af personoplysninger, er
                            databehandleren forpligtet til at slette alle personoplysninger, der er blevet behandlet
                            p&aring; vegne af den dataansvarlige og bekr&aelig;fte over for den dataansvarlig, at
                            oplysningerne er slettet, medmindre EU-retten eller medlemsstaternes nationale ret
                            foreskriver opbevaring af personoplysningerne.</span
                        >
                    </li>
                </ol>

                <p>
                    <span
                        >Databehandleren forpligter sig til alene at behandle personoplysningerne til de(t)
                        form&aring;l, i den periode og under de betingelser, som disse regler foreskriver.</span
                    >
                </p>
                <h1><strong>9. Revision, herunder inspektion</strong></h1>

                <ol>
                    <li>
                        <span
                            >Databehandleren stiller alle oplysninger, der er n&oslash;dvendige for at p&aring;vise
                            overholdelsen af databeskyttelsesforordningens artikel 28 og disse Bestemmelser, til
                            r&aring;dighed for den dataansvarlige og giver mulighed for og bidrager til revisioner,
                            herunder inspektioner, der foretages af den dataansvarlige eller en anden revisor, som er
                            bemyndiget af den dataansvarlige.</span
                        >
                    </li>
                </ol>

                <ol start="2">
                    <li>
                        <span
                            >Databehandleren er forpligtet til at give tilsynsmyndigheder, som efter g&aelig;ldende
                            lovgivningen har adgang til den dataansvarliges eller databehandlerens faciliteter, eller
                            repr&aelig;sentanter, der optr&aelig;der p&aring; tilsynsmyndighedens vegne, adgang til
                            databehandlerens fysiske faciliteter mod beh&oslash;rig legitimation.</span
                        >
                    </li>
                </ol>
                <h1><strong>10. Parternes aftale om andre forhold</strong></h1>

                <ol>
                    <li>
                        <span
                            >Parterne kan aftale andre bestemmelser vedr&oslash;rende tjenesten vedr&oslash;rende
                            behandling af personoplysninger om f.eks. erstatningsansvar, s&aring; l&aelig;nge disse
                            andre bestemmelser ikke direkte eller indirekte strider imod Bestemmelserne eller forringer
                            den registreredes grundl&aelig;ggende rettigheder og frihedsrettigheder, som f&oslash;lger
                            af databeskyttelsesforordningen.</span
                        >
                    </li>
                </ol>
                <h1><strong>11. Ikrafttr&aelig;den og oph&oslash;r</strong></h1>

                <ol>
                    <li>
                        <span
                            >Bestemmelserne tr&aelig;der i kraft p&aring; datoen for begge parters underskrift
                            heraf.</span
                        >
                    </li>
                </ol>

                <ol start="2">
                    <li>
                        <span
                            >Begge parter kan kr&aelig;ve Bestemmelserne genforhandlet, hvis lov&aelig;ndringer eller
                            uhensigtsm&aelig;ssigheder i Bestemmelserne giver anledning hertil.</span
                        >
                    </li>
                </ol>

                <ol start="3">
                    <li>
                        <span
                            >Bestemmelserne er g&aelig;ldende, s&aring; l&aelig;nge tjenesten vedr&oslash;rende
                            behandling af personoplysninger varer. I denne periode kan Bestemmelserne ikke opsiges,
                            medmindre andre bestemmelser, der regulerer levering af tjenesten vedr&oslash;rende
                            behandling af personoplysninger, aftales mellem parterne.</span
                        >
                    </li>
                </ol>

                <ol start="4">
                    <li>
                        <span
                            >Hvis levering af tjenesterne vedr&oslash;rende behandling af personoplysninger
                            oph&oslash;rer, og personoplysningerne er slettet eller returneret til den dataansvarlige i
                            overensstemmelse med Bestemmelse 11.1 og Bilag C.4, kan Bestemmelserne opsiges med skriftlig
                            varsel af begge parter.</span
                        >
                    </li>
                </ol>

                <ol start="5">
                    <li><span>Underskrift</span></li>
                </ol>

                <p><span>P&aring; vegne af den databehandleren</span></p>

                <p>
                    <span>Navn &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                    <span>Teodor Sylvester Jonasson</span>
                </p>
                <p>
                    <span>Stilling &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                    <span>CEO</span>
                </p>
                <p><span>Telefonnummer&nbsp; 26 19 23 27</span></p>
                <p>
                    <span>E-mail &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                    <span>Teodor_jonasson@hotmail.com</span>
                </p>

                <p><span>P&aring; vegne af den dataansvarlige</span></p>

                <p>
                    <span>Navn &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                    <span>Teodor Sylvester Jonasson</span>
                </p>
                <p>
                    <span>Stilling &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                    <span>CEO</span>
                </p>
                <p><span>Telefonnummer&nbsp; 26 19 23 27</span></p>
                <p>
                    <span>E-mail &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                    <span>Teodor_jonasson@hotmail.com</span>
                </p>
                <p><span>Underskrift</span></p>

                <h1>
                    <strong>12. Kontaktpersoner hos den dataansvarlige og databehandleren</strong>
                </h1>

                <ol>
                    <li>
                        <span>Parterne kan kontakte hinanden via nedenst&aring;ende kontaktpersoner.</span>
                    </li>
                </ol>

                <ol start="2">
                    <li>
                        <span
                            >Parterne er forpligtet til l&oslash;bende at orientere hinanden om &aelig;ndringer
                            vedr&oslash;rende kontaktpersoner.</span
                        >
                    </li>
                </ol>

                <p>
                    <span>Navn &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                    <span>Teodor Sylvester Jonasson</span>
                </p>
                <p>
                    <span>Stilling &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                    <span>CEO</span>
                </p>
                <p><span>Telefonnummer&nbsp; 26 19 23 27</span></p>
                <p>
                    <span>E-mail &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                    <span>Teodor_jonasson@hotmail.com</span>
                </p>
                <p><span>Underskrift</span></p>
                <p>&nbsp;</p>

                <h1>
                    <strong>Bilag A&nbsp; &nbsp; &nbsp; &nbsp; </strong>
                    <strong>Oplysninger om behandlingen</strong>
                </h1>
                <p><strong>&nbsp;</strong></p>
                <p>
                    <strong
                        >A.1. Form&aring;let med databehandlerens behandling af personoplysninger p&aring; vegne af den
                        dataansvarlige</strong
                    >
                </p>

                <p>
                    <strong
                        >A.2. Databehandlerens behandling af personoplysninger p&aring; vegne af den dataansvarlige
                        drejer sig prim&aelig;rt om (karakteren af behandlingen)</strong
                    >
                </p>

                <p>
                    <span
                        >E-mail: Brugerens e-mail vil blive brugt som Treecreate.dk profilens konto navn, og er dermed
                        det brugeren vil logge ind p&aring; Treecreate.dk med. Hvis brugeren v&aelig;lger at tilknytte
                        sig e-mail servicen, vil e-mailen komme p&aring; en mail liste som modtager reklamer
                        ang&aring;ende Treecreate.dk produkter.</span
                    >
                </p>

                <p>
                    <span
                        >Navne: Med navne menes der de navne som brugeren v&aelig;lger at skrive p&aring; sine designs
                        inde p&aring; Treecreate.dk. De vil blive gemt p&aring; Treecreate&rsquo;s databaser med det
                        form&aring;l at brugeren har mulighed for at gemme sit design og senere redigere i det. Navnene
                        og designs kommer til at v&aelig;re private og vil ikke blive delt.</span
                    >
                </p>

                <p>
                    <span
                        >Adresse: N&aring;r brugeren v&aelig;lger at k&oslash;be et produkt, skal vedkommende skrive
                        deres adresse for at deres bestilling kan blive sendt. Denne adresse vil blive gemt i systemet i
                        tilf&aelig;ldet af at brugeren laver flere bestillinger. Informationerne om adressen vil
                        udelukkende blive brugt til at sende produkter som brugeren har bestilt.</span
                    >
                </p>
                <p><strong>&nbsp;</strong></p>
                <p>
                    <strong
                        >A.3. Behandlingen omfatter f&oslash;lgende typer af personoplysninger om de
                        registrerede</strong
                    >
                </p>

                <p>
                    <span>Navn, e-mailadresse, navne p&aring; bekendte, telefonnummer og adresse.</span>
                </p>
                <p>&nbsp;</p>

                <h1>
                    <strong>Bilag B&nbsp; &nbsp; &nbsp; &nbsp; </strong>
                    <strong>Instruks vedr&oslash;rende behandling af personoplysninger</strong>
                </h1>
                <p><strong>&nbsp;</strong></p>
                <p><strong>C.1. Behandlingens genstand/instruks</strong></p>
                <p>
                    <span
                        >Databehandlerens behandling af personoplysninger p&aring; vegne af den dataansvarlige sker ved,
                        at databehandleren udf&oslash;rer f&oslash;lgende:</span
                    >
                </p>

                <p>
                    <span
                        >Brugeren data vil blive brugt til at opn&aring; funktionaliteten bag Treecreate.dk. Den data
                        der vil blive gemt, er for at brugeren f&aring;r mulighed for at gemme sine designs og senere
                        logge ind igen og arbejde videre p&aring; dem. Hvis de er koblet p&aring; nyhedsbrevet vil deres
                        e-mail v&aelig;re gemt med det form&aring;l at sende brugeren markedsf&oslash;rings relaterede
                        e-mails.</span
                    >
                </p>
                <p><strong>&nbsp;</strong></p>
                <p><strong>C.2. Behandlingssikkerhed</strong></p>
                <p><span>Sikkerhedsniveauet skal afspejle:</span></p>

                <p>
                    <span
                        >&rdquo;BEHANDLINGEN OMFATTER EN ST&Oslash;RRE M&AElig;NGDE PERSONOPLYSNINGER OMFATTET AF
                        DATABESKYTTELSESFORORDNINGENS ARTIKEL 9 OM &rdquo;S&AElig;RLIGE KATEGORIER AF
                        PERSONOPLYSNINGER&rdquo;, HVORFOR DER SKAL ETABLERES ET &rdquo;H&Oslash;JT&rdquo;
                        SIKKERHEDSNIVEAU.&rdquo;</span
                    >
                </p>

                <p>
                    <span
                        >Databehandleren er herefter berettiget og forpligtet til at tr&aelig;ffe beslutninger om,
                        hvilke tekniske og organisatoriske sikkerhedsforanstaltninger, der skal gennemf&oslash;res for
                        at etableret det n&oslash;dvendige (og aftalte) sikkerhedsniveau.</span
                    >
                </p>

                <p>
                    <span
                        >Databehandleren skal dog &ndash; under alle omst&aelig;ndigheder og som minimum &ndash;
                        gennemf&oslash;re f&oslash;lgende foranstaltninger, som er aftalt med den dataansvarlige:</span
                    >
                </p>

                <p>
                    <span>Brugeres data bliver gemt via AWS sikre webservice databaser.</span>
                </p>
                <p><strong>&nbsp;</strong></p>
                <p><strong>C.3 Opbevaringsperiode/sletterutine</strong></p>
                <p>
                    <em
                        ><span
                            >Personoplysninger opbevares i op til to &aring;r, hvorefter de slettes hos
                            databehandleren.</span
                        ></em
                    >
                </p>
                <p>
                    <em><span>&nbsp;</span></em>
                </p>
                <p>
                    <em
                        ><span
                            >Ved oph&oslash;r af tjenesten vedr&oslash;rende behandling af personoplysninger, skal
                            databehandleren enten slette eller tilbagelevere personoplysningerne i overensstemmelse med
                            bestemmelse 11.1, medmindre den dataansvarlige &ndash; efter underskriften af disse
                            bestemmelser &ndash; har &aelig;ndret den dataansvarlige oprindelige valg. S&aring;danne
                            &aelig;ndringer skal v&aelig;re dokumenteret og opbevares skriftligt, herunder elektronisk,
                            i tilknytning til bestemmelserne.&rdquo;</span
                        ></em
                    >
                </p>
                <p><strong>&nbsp;</strong></p>
                <p><strong>C.4 Lokalitet for behandling</strong></p>
                <p>
                    <span
                        >Behandling af de af Bestemmelserne omfattede personoplysninger kan ikke uden den
                        dataansvarliges forudg&aring;ende skriftlige godkendelse ske p&aring; andre lokaliteter end
                        f&oslash;lgende:</span
                    >
                </p>
                <p><strong>&nbsp;</strong></p>
                <p>
                    <span
                        >Databasen vil v&aelig;re p&aring; AWS (Amazon web servises) og personoplysningerne vil
                        v&aelig;re gemt p&aring; deres sikrede web service faciliteter.</span
                    >
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button
                data-cy="privacy-notice-modal-close-btn"
                type="button"
                class="tc-button-50"
                (click)="activeModal.close()"
            >
                Close
            </button>
        </div>
    </div>
</div>
