.modal-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-header,
.modal-container,
.modal-body,
.modal-content {
  border: none !important;
  max-height: 100%;
}

.modal-content {
  padding: 20px;
}

.option-quantity,
.option-dimension,
.option-title,
.option-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.option {
  display: flex;
  margin-top: 7px;
}
.text {
  text-align: center;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.is-more-than-4,
.isnt-more-than-4,
.price {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 5px 0;
}

.is-more-than-4 {
  color: var(--green);
}

.quantity {
  border-radius: 2px;
  border: 2px solid var(--second-action-color);
  display: flex;
  margin: 0 5px;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
}

.price-text {
  display: flex;
  justify-content: flex-end;
}

.option-actions {
  display: flex;
  justify-content: space-between;
}

.title-success {
  border-radius: 2px;
  border: 2px solid var(--second-action-color);
}

.title-error {
  border-radius: 2px;
  border: 2px solid red;
}

.title-error input[type='text']::placeholder {
  color: red;
}

.tc-button-100 {
  margin: 5px 0;
}

.title-input {
  width: 100%;
  border: none;
  text-align: center;
  height: 35px;
}

.title {
  margin-bottom: 5px;
}

.title-input:focus {
  outline: none;
}

.button-container,
.extra-info,
.option,
.option-design-title {
  width: 60%;
}

.text-container {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.extra-info {
  text-align: center;
  font-weight: 200;
  font-size: small;
}

.button-plus,
.button-minus {
  position: relative;
  margin: 0px 2px 0px 2px;
  width: 20px;
  height: 20px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background-color: white;
  }
}

.button-plus {
  /* Vertical line */
  &:before {
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    margin-left: -2px;
  }

  /* horizontal line */
  &:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    margin-top: -2px;
  }
}
.button-minus {
  /* horizontal line */
  &:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    margin-top: -2px;
  }
}

.size-selection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 300px;

  & div {
    border: 2px solid rgba($color: #000000, $alpha: .3);
    background-color: white;
    position: absolute;

    .horizontal, .vertical {
      position: absolute;
      font-size: 12px;
      font-weight: 400;
      font-family: 'Abel';
      color: rgba(0, 0, 0, 0.4)
    }

    .horizontal {    
      top: 0px;
      right: 14px;  
    }

    .vertical {
      top: 17px;
      right: -10px;
      transform: rotate(90deg);
    }
  }

  .small-box {
    z-index: 2;
    height: 150px;
    width: 150px;
  }
  
  .medium-box {
    z-index: 1;
    height: 200px;
    width: 200px;
  }
  
  .large-box {
    z-index: 0;
    height: 250px;
    width: 250px;
  }
}

@media screen and (max-width: 470px) {
  .is-more-than-4,
  .isnt-more-than-4,
  .price,
  .button-container,
  .extra-info,
  .option,
  .option-design-title {
    width: 90%;
  }
}
