<div class="modal-container add-transition" data-cy="add-to-basket-modal">
    <form
        [formGroup]="addToBasketForm"
        (ngSubmit)="addDesignToBasket()"
        class="modal-content"
    >
        <div class="option-title">
            <div class="title">
                <span i18n="@@title">Title</span>
                <webstore-info-popover
                    title="{{ isEnglish() ? 'Title' : 'Titel' }}"
                    text="{{
                        isEnglish()
                            ? 'Add a good title so you can keep track of your designs.'
                            : 'Giv dit design en god titel så den er nemmere at huske.'
                    }}"
                ></webstore-info-popover>
            </div>
            <div
                class="option-design-title add-transition"
                [ngClass]="
                    this.addToBasketForm.get('title').invalid
                        ? 'title-error'
                        : 'title-success'
                "
            >
                <input
                    type="text"
                    class="title-input"
                    placeholder="Untitled-1"
                    formControlName="title"
                    data-cy="add-to-basket-title-input"
                />
            </div>
        </div>

        <!-- quantity -->
        <div class="option-quantity add-transition">
            <div class="text">
                <span i18n="@@amount"> Amount </span>
                <webstore-info-popover
                    title="{{ isEnglish() ? 'Quantity' : 'Antal' }}"
                    text="{{
                        isEnglish()
                            ? 'The quantity of designs you wish to purchase.'
                            : 'Antallet af designs du ønsker at købe.'
                    }}"
                ></webstore-info-popover>
            </div>
            <div class="option add-transition">
                <button
                    type="button"
                    class="box-dimension-plus tc-button-sm-square low-dropshadow"
                    (click)="decreaseQuantity()"
                    id="decrease-quantity-btn"
                    data-cy="add-to-basket-decrease-quantity-button"
                    [disabled]="
                        this.addToBasketForm.get('quantity').value === 1
                    "
                >
                    <div class="icon">
                        <div class="button-minus"></div>
                    </div>
                </button>
                <div class="quantity" data-cy="add-to-basket-quantity">
                    {{ this.addToBasketForm.get('quantity').value }}
                </div>
                <button
                    type="button"
                    class="box-dimension-plus tc-button-sm-square low-dropshadow"
                    (click)="increaseQuantity()"
                    data-cy="add-to-basket-increase-quantity-button"
                    id="increase-quantity-btn"
                >
                    <div class="button-plus"></div>
                </button>
            </div>
        </div>

        <!-- Dimension -->
        <div class="option-dimension add-transition">
            <div class="text">
                <span i18n="@@dimension"> Dimension </span>
                <webstore-info-popover
                    title="{{ isEnglish() ? 'Size' : 'Størrelse' }}"
                    text="{{
                        isEnglish()
                            ? 'The size of your design. You can choose between 20x20cm, 25x25cm and 30x30cm.'
                            : 'Størrelsen på dit design. Du kan vælge imellem 20x20cm, 25x25cm and 30x30cm.'
                    }}"
                ></webstore-info-popover>
            </div>
            <div class="option add-transition">
                <button
                    type="button"
                    class="box-dimension-plus tc-button-sm-square low-dropshadow"
                    (click)="decreaseDimension()"
                    id="decrease-dimension-btn"
                    data-cy="add-to-basket-decrease-dimension-button"
                    [disabled]="
                        this.addToBasketForm.get('dimension').value === 'SMALL'
                    "
                >
                    <div class="icon">
                        <div class="button-minus"></div>
                    </div>
                </button>
                <div class="quantity" data-cy="add-to-basket-dimension">
                    {{
                        translateDimension(
                            this.addToBasketForm.get('dimension').value
                        )
                    }}
                </div>
                <button
                    type="button"
                    class="box-dimension-plus tc-button-sm-square low-dropshadow"
                    (click)="increaseDimension()"
                    id="increase-dimension-btn"
                    data-cy="add-to-basket-increase-dimension-button"
                    [disabled]="
                        this.addToBasketForm.get('dimension').value === 'LARGE'
                    "
                >
                    <div class="button-plus"></div>
                </button>
            </div>
        </div>

        <span
            *ngIf="isLoading"
            class="spinner-border spinner-border-sm text-light"
            style="margin: 5px"
            role="status"
            aria-hidden="true"
        ></span>
        <!-- Price -->
        <div class="price-container" *ngIf="!isLoading && isLoggedIn">
            <div class="isnt-more-than-4 add-transition" *ngIf="!isMoreThan4">
                <span i18n="@@order">Order </span
                >{{
                    4 -
                        (this.itemsInBasket +
                            this.addToBasketForm.get('quantity').value)
                }}<span i18n="@@more-to-save">more to save </span>
                {{ amountSaved().toFixed(2) }} DKK
            </div>
            <div class="is-more-than-4 add-transition" *ngIf="isMoreThan4">
                <span i18n="@@you-save-25%">You save: (-25%)</span
                ><span>{{ amountSaved().toFixed(2) }}</span>
            </div>
            <div class="price add-transition">
                <span i18n="@@price">Price:</span
                ><span>{{
                    isMoreThan4 ? (price * 0.75).toFixed(2) : price.toFixed(2)
                }}</span>
            </div>
        </div>

        <!-- Actions -->
        <div class="option-actions add-transition">
            <div class="button-container add-transition">
                <button
                    class="tc-button-100 green"
                    type="submit"
                    data-cy="add-to-basket-add-to-basket-button"
                    [disabled]="this.addToBasketForm.get('title').invalid"
                >
                    <span i18n="@@add-to-basket" *ngIf="!isLoading"
                        >Add to basket</span
                    >
                    <span
                        *ngIf="isLoading"
                        class="spinner-border spinner-border-sm text-light"
                        style="margin: 5px"
                        role="status"
                        aria-hidden="true"
                    ></span>
                </button>
                <button
                    type="button"
                    class="tc-button-100"
                    type="button"
                    (click)="activeModal.close()"
                    i18n="@@cancel"
                >
                    Cancel
                </button>
            </div>
        </div>

        <!-- Extra info -->
        <div class="text-container add-transition">
            <div class="extra-info add-transition">
                <strong i18n="@@note">Note:</strong><br />
                <span i18n="@@add-to-basket-extra-info">
                    For every design you purchase, you are automatically
                    planting a tree. Thereby you support re-floreshing the
                    forrests, which has never been a more vital task.
                </span>
                <br />
                <strong>
                    <span i18n="@@thank-you-message"
                        >THANK YOU FOR YOUR SUPPORT!</span
                    ></strong
                >
            </div>
        </div>
    </form>
</div>
