.product-section {
  min-height: 96vh;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.design-screen {
  margin: 5px;
  height: 80vh;
  width: 80vh;
}

.hide {
  display: none;
}

.back {
  font-weight: 700;
  margin-left: 5px;
}

.back-container {
  text-align: left;
  width: 80vh;
}

.back:hover {
  text-decoration: none;
  margin-left: 0;
  color: var(--second-action-color) !important;
}
