<main class="product-section" [ngClass]="!isMutable ? 'flex-direction-column' : ''">
    <!-- Design -->
    <section class="design-screen">
        <div class="back-container">
            <a
                (click)="eventsService.create('webstore.quotable.clicked.back')"
                onclick=" history.back()"
                class="back add-transition"
                data-cy="view-only-back-button"
            >
                < <span i18n="@@back">Back</span>
            </a>
            <div class="view-button-container">
                <button
                    class="toggle-box-options tc-button-square view view-button"
                    type="button"
                    (click)="
                        toggleUserOptions(); eventsService.create('webstore.quotable.clicked.toggle-showing-options')
                    "
                    title="Hide/Show box options"
                    data-cy="hide-quotable-options"
                >
                    <img
                        class="toggle-box-options-icon"
                        [ngClass]="{'active' : !isMobileOptionOpen}"
                        alt="Toggle box options"
                        [src]="toggleUserOptionsIcon"
                    />
                </button>
            </div>
        </div>
        <webstore-quotable-design
            #quotableDesign
            [isMutable]="isMutable"
            [design]="design"
            style="text-align: center"
            [showInputFieldOptions]="showInputFieldOptions"
            [quotableType]="quotableType"
            (changeText)="design.text = $event"
            (changeTitleText)="design.title = $event"
            (isDesignValidEvent)="onIsDesignValidEvent($event)"
            [ngClass]="{ 'opacity-change': !hasLoadedDesign }"
        ></webstore-quotable-design>
        <div *ngIf="!hasLoadedDesign" class="opacity-change-spinner">
            <span
                class="spinner-border spinner-border-sm"
                style="margin: 0 10px"
                role="status"
                aria-hidden="true"
            ></span>
        </div>

        <!-- FOR CY TESTS -->
        <div class="hide">
            <div data-cy="font">{{ design.font }}</div>
            <div data-cy="design">{{ design.designSrc }}</div>
            <div data-cy="font-size">{{ design.fontSize }}</div>
            <div data-cy="text">{{ design.text }}</div>
            <div data-cy="title">{{ design.title }}</div>
            <div data-cy="show-title">{{ design.showTitle }}</div>
            <div data-cy="show-text">{{ design.showText }}</div>
        </div>
        <!-- END CY TESTS -->
    </section>

    <!-- Options -->
    <aside [ngClass]="{ 'desktop-options-container': !isMobileOptionOpen }" *ngIf="isMutable">
        <div
            class="blocker"
            *ngIf="isMobileOptionOpen"
            (click)="showOptions(); eventsService.create('webstore.quotable.clicked.show-options.mobile-background')"
        ></div>
        <menu [ngClass]="{ 'mobile-options-items': isMobileOptionOpen }">
            <!-- ====== Font selection ====== -->
            <div class="option option-font-select">
                <div class="option-title">
                    Font
                    <webstore-info-popover
                        title="Font"
                        text="{{
                            isEnglish()
                                ? 'Choose the font that best suits you.'
                                : 'Vælg hvilken font der passer dig bedst. '
                        }}"
                    ></webstore-info-popover>
                </div>
                <div class="option-frame-design-btn">
                    <div ngbDropdown class="font-dropdown-container" data-cy="font-select-option">
                        <button class="btn" ngbDropdownToggle [ngStyle]="{ 'font-family': displayFont }">
                            {{ displayFont }}
                        </button>
                        <div ngbDropdownMenu>
                            <button
                                (click)="changeFont(font)"
                                ngbDropdownItem
                                *ngFor="let font of fontOptions"
                                [ngStyle]="{ 'font-family': font.value }"
                            >
                                {{ font.key }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ====== Design selection option ====== -->
            <div class="option option-frame-design">
                <div class="option-title">
                    Design
                    <webstore-info-popover
                        title="Design"
                        text="{{
                            isEnglish() ? 'Choose the frame you like the most.' : 'Vælg den ramme der passer dig bedst.'
                        }}"
                    ></webstore-info-popover>
                </div>
                <div class="option-frame-design-btn">
                    <button
                        class="design-arrow-left tc-button-sm-square"
                        (click)="changeDesign('prev')"
                        data-cy="prev-design-button"
                    >
                        <span class="arrow-left"></span>
                    </button>
                    <div class="display display-design">
                        {{ getDesignName() }}
                    </div>
                    <button
                        class="design-arrow-right tc-button-sm-square"
                        (click)="changeDesign('next')"
                        [disabled]="!isMutable"
                        data-cy="next-design-button"
                    >
                        <span class="arrow-right"></span>
                    </button>
                </div>
            </div>

            <!-- ====== Font size change ====== -->
            <div class="option option-font-size">
                <div class="option-title">
                    <span i18n="@@font-size">Font Size</span>
                    <webstore-info-popover
                        title="{{ isEnglish() ? 'Font size' : 'Font størrelse' }}"
                        text="{{
                            isEnglish()
                                ? 'You can increase or decrease the size of the font. Make them larger for better visibility of your design.'
                                : 'Du kan gøre fonten større og mindre. Gør dem større for et mere tydeligt print.'
                        }}"
                    ></webstore-info-popover>
                    <ngx-slider
                        (userChange)="changeFontSize()"
                        [(value)]="design.fontSize"
                        [options]="fontSizeOptions"
                        data-cy="font-size-slider"
                    ></ngx-slider>
                </div>
            </div>

            <!-- ====== Save and reset buttons ====== -->
            <div class="option option-actions">
                <button
                    class="btn-save-design tc-button-50"
                    (click)="
                        saveDesign({ persists: true }); eventsService.create('webstore.quotable.clicked.save-design')
                    "
                    [disabled]="!isDesignValid"
                    data-cy="save-button"
                >
                    <span i18n="@@save">Save</span>
                    <img src="/assets/icons/save-icon.svg" class="option-icon" alt="Save icon" />
                </button>
                <button
                    class="tc-button-50"
                    (click)="clearDesign(); eventsService.create('webstore.quotable.clicked.reset')"
                    data-cy="reset-button"
                >
                    <span i18n="@@reset">Reset</span>
                    <img src="/assets/icons/reset-icon.svg" class="option-icon" alt="Reset icon" />
                </button>
            </div>

            <!-- ====== Add to Basket button ====== -->
            <div class="option">
                <button
                    class="tc-button-100"
                    (click)="
                        openQuotableTemplateModal(); eventsService.create('webstore.quotable.clicked.select-template')
                    "
                    data-cy="quotable-template-button"
                >
                    <span i18n="@@select-a-template">Select a template</span>
                    <img src="/assets/icons/template-icon.svg" class="option-icon" alt="Option icon" />
                </button>
            </div>
            <div class="option">
                <button
                    class="tc-button-100 green remove-on-mobile"
                    (click)="
                        openAddToBasketModal(); eventsService.create('webstore.quotable.clicked.add-to-basket.desktop')
                    "
                    [disabled]="!isDesignValid"
                    data-cy="add-quotable-to-basket-button"
                >
                    <span i18n="@@add">Add</span>
                    <img src="/assets/icons/basket-white-icon.svg" class="option-icon" alt="Basket icon" />
                </button>
            </div>
        </menu>
    </aside>
</main>
<!-- Floating icons -->
<div class="mobile-option-buttons-container" *ngIf="isMutable">
    <div class="mobile-options">
        <button
            class="option-toggler tc-button-square green add-to-basket-specific"
            (click)="openAddToBasketModal(); eventsService.create('webstore.quotable.clicked.add-to-basket.mobile')"
        >
            <img src="/assets/icons/add-to-basket-icon.svg" alt="basket icon" />
        </button>
        <button
            class="option-toggler tc-button-square edit"
            type="button"
            (click)="showOptions(); eventsService.create('webstore.quotable.clicked.show-options.mobile')"
        >
            <img class="toggle-box-options-icon" alt="Option icon" src="/assets/icons/pen-icon.svg" />
        </button>
    </div>
</div>
