@media screen and (max-width: 1130px) {
  .product-section {
    min-height: 92vh;
  }
}

@media screen and (max-width: 640px) {
  .design-screen {
    width: 100vw;
    height: 100vw;
  }
  .product-section {
    min-height: 88vh;
    padding-top: 70px;
  }
}

@media screen and (max-width: 400px) {
  .design-screen {
    width: 100vw;
    height: 100vw;
  }
}
