.draggable-box-input {
  position: absolute;
  border: none;
  background: transparent;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  line-height: 95%;
  overflow: hidden;
  resize: none;
  z-index: 2;
  outline: none;
  border: none;
}

.draggable-box-input:hover {
  cursor: pointer;
  box-shadow: none;
}

.draggable-box-input::placeholder {
  position: relative;
}

.draggable-box-input:disabled {
  opacity: 1;
  color: black;
}

.drag-button-icon,
.close-button-icon {
  position: absolute;
  background-repeat: no-repeat;
  background-size: fill;
  z-index: 1;
}
