<!-- NOTE: the top/left thing is broken since it doesn't scale -->
<textarea
    #draggableBoxInput
    placeholder="{{ isEnglish() ? 'Write name...' : 'Skriv navn...' }}"
    class="draggable-box-input"
    (ngModelChange)="onInputChange($event)"
    [ngStyle]="{
        top: y + (height - calculateInputHeight()) / 2 + 'px',
        left: x + (width - calculateInputWidth()) / 2 + 'px',
        'z-index': zIndex + 1,
        width: calculateInputWidth() + 'px',
        height: calculateInputHeight() + 'px',
        'font-size': fontSize * 0.8 + 'rem'
    }"
    [maxLength]="maxLines * maxCharsPerLine"
    [ngModel]="text"
></textarea>
<img
    class="draggable-box-input"
    src="{{ backgroundImageUri }}"
    [ngStyle]="{
        top: y - 2 + 'px',
        left: x + 'px',
        'z-index': zIndex,
        width: width + 'px',
        height: height + 'px'
    }"
/>
<img
    [ngStyle]="{
        top: y + optionButtonOffset.closeY + 'px',
        left: x + optionButtonOffset.closeX + 'px',
        width: boxOptionDimensions.width + 'px',
        height: boxOptionDimensions.height + 'px'
    }"
    class="close-button-icon"
    src="{{ boxOptionsDesignEnum.closeButton1 }}"
    alt="Remove"
/>
<img
    [ngStyle]="{
        top: y + optionButtonOffset.dragY + 'px',
        left: x + optionButtonOffset.dragX + 'px',
        width: boxOptionDimensions.width + 'px',
        height: boxOptionDimensions.height + 'px'
    }"
    class="drag-button-icon"
    src="{{ boxOptionsDesignEnum.dragButton1 }}"
    alt="Drag"
/>
<!-- + width * -0.3 + 'px' + height * 0.3 + 'px' + width * 0.3 + 'px' -->
