.draggable-box-input {
  position: absolute;
  border: none;
  background: transparent;
  text-align: center;
}

.draggable-box-input:hover {
  cursor: pointer;
}

.draggable-box-input:focus {
  background: rgba(182, 102, 33, 0.04);
}

.draggable-box-input::placeholder {
  font-size: small;
  position: relative;
  top: -5px;
}
