<!-- NOTE: the top/left thing is broken since it doesn't scale -->
<input
    #draggableBoxInput
    type="input"
    placeholder="{{isEnglish() ? 'Write name...' : 'Skriv navn...'}}"
    [ngModel]="text"
    class="draggable-box-input"
    (ngModelChange)="onInputChange($event)"
    [ngStyle]="{
        top: y + 'px',
        left: x + 'px',
        'z-index': zIndex,
        'max-width': width * 0.8 + 'px',
        'max-height': height * 0.6 + 'px',
        margin: height * 0.3 + 'px ' + width * 0.12 + 'px',
        'font-size': fontSize + 'rem'
    }"
    [maxlength]="maxCharsPerLine * maxLines"
/>
