// Wrapper around signup form column and signup social buttons
.wrapper {
  width: 80%;
  height: 100%;
}

// General column container styles
.column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.form-container {
  @media screen and (min-width: 768px) {
    margin-top: 10rem;
  }
}

// Button styles
.submit-form-button {
  margin-bottom: 2rem;
}

// Success message container
.max-width {
  max-width: 350px;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
}

.alert {
  position: absolute;
  top: -5rem;
  width: 100%;
}

// Utility
.p-relative {
  position: relative;
}
