<div class="flex-container-signup">
    <form
        (ngSubmit)="onSubmit()"
        name="signupForm"
        class="signup-form"
        [formGroup]="signupForm"
    >
        <h1 class="page-title" i18n="@@signup">Sign up</h1>
        <div class="tc-input-group field">
            <input
                type="email"
                class="tc-input-field"
                placeholder="E-mail"
                formControlName="email"
                name="email"
                id="email"
                autocomplete="email"
                required
                data-cy="signup-email-input"
            />
            <label for="email" class="tc-input-label">E-mail</label>
        </div>

        <div
            class="error-message"
            *ngIf="
                this.signupForm.get('email').dirty &&
                this.signupForm.get('email').invalid
            "
            i18n="@@invalid-email"
            data-cy="signup-email-error"
        >
            Invalid e-mail
        </div>

        <div class="password-input">
            <div class="tc-input-group field">
                <input
                    #signupPassword
                    type="password"
                    class="tc-input-field"
                    formControlName="password"
                    placeholder="password"
                    name="password"
                    id="password"
                    autocomplete="new-password"
                    required
                    data-cy="signup-password-input"
                />
                <label for="password" class="tc-input-label" i18n="@@password"
                    >Password</label
                >
            </div>
            <button
                class="show-password-btn"
                type="button"
                (click)="
                    signupPassword.type =
                        signupPassword.type == 'password' ? 'text' : 'password'
                "
            >
                <img
                    src="/assets/icons/error-icon.svg"
                    class="password-icon"
                    [ngClass]="
                        signupPassword.type == 'text'
                            ? 'password-show-icon'
                            : 'password-hide-icon'
                    "
                />
            </button>
        </div>
        <div class="info-message" i18n="@@info-password">
            Password must contain: min 8 characters, at least one upper case
            letter, one lower case letter and one number.
        </div>
        <div
            class="error-message"
            *ngIf="
                this.signupForm.get('password').dirty &&
                this.signupForm.get('password').invalid
            "
            data-cy="signup-password-error"
            i18n="@@invalid-password"
        >
            Invalid password
        </div>

        <div class="password-input">
            <div class="tc-input-group field">
                <input
                    #signupConfirmPassword
                    type="password"
                    class="tc-input-field"
                    formControlName="confirmPassword"
                    placeholder="Confirm password"
                    name="confirmPassword"
                    id="confirmPassword"
                    autocomplete="new-password"
                    required
                    data-cy="signup-confirm-password-input"
                />
                <label
                    for="confirmPassword"
                    class="tc-input-label"
                    i18n="@@confirm-password"
                    >Confirm password</label
                >
            </div>
            <button
                class="show-password-btn"
                type="button"
                (click)="
                    signupConfirmPassword.type =
                        signupConfirmPassword.type == 'password'
                            ? 'text'
                            : 'password'
                "
            >
                <img
                    src="/assets/icons/error-icon.svg"
                    class="password-icon"
                    [ngClass]="
                        signupConfirmPassword.type == 'text'
                            ? 'password-show-icon'
                            : 'password-hide-icon'
                    "
                />
            </button>
        </div>

        <div
            class="error-message"
            *ngIf="
                this.signupForm.get('confirmPassword').dirty &&
                !this.matchingPasswords()
            "
            data-cy="signup-confirm-password-error"
            i18n="@@invalid-confirm-password"
        >
            The passwords must match each other
        </div>
        <div class="terms-and-conditions-container">
            <label class="checkbox-container">
                <input
                    type="checkbox"
                    (change)="
                        this.termsAndConditions = !this.termsAndConditions
                    "
                />
                <span class="checkmark" data-cy="checkbox-terms-of-use"></span>
            </label>
            <div class="terms-and-conditions">
                <span i18n="@@i-accept-terms"
                    >I accept terms and conditions</span
                ><a class="TnC" (click)="showTermsOfUse()" i18n="@@read-here"
                    >Read here</a
                >
            </div>
        </div>

        <div class="sign-up-container">
            <label class="checkbox-container">
                <input
                    type="checkbox"
                    (change)="
                        this.signUpForNewletter = !this.signUpForNewletter
                    "
                />
                <span class="checkmark" data-cy="checkbox-newsletter"></span>
            </label>
            <div class="sign-up" i18n="@@signup-for-newsletter-subtitle">
                Sign up for newsletter and get 10% off your first purchase!
            </div>
        </div>

        <button
            class="tc-button-100"
            type="submit"
            [disabled]="isDisabled()"
            data-cy="signup-btn"
        >
            <span i18n="@@create-account" *ngIf="!isLoading"
                >Create account</span
            >
            <span
                *ngIf="isLoading"
                class="spinner-border spinner-border-sm text-light"
                style="margin: 5px"
                role="status"
                aria-hidden="true"
            ></span>
        </button>

        <button
            class="tc-button-100"
            type="button"
            routerLink="/login"
            data-cy="signup-redirect-login-btn"
            i18n="@@back-to-login"
        >
            Back to login
        </button>
    </form>
</div>
