<div class="flex-container-signup">
    <form
        (ngSubmit)="onSubmit()"
        name="signupForm"
        class="signup-form"
        [formGroup]="signupForm"
    >
        <h1 class="page-title">Sign up</h1>
        <div class="tc-input-group field">
            <input
                type="email"
                class="tc-input-field"
                placeholder="E-mail"
                formControlName="email"
                name="email"
                id="email"
                autocomplete="email"
                required
            />
            <label for="email" class="tc-input-label">E-mail</label>
        </div>

        <div
            class="error-message"
            *ngIf="
                this.signupForm.get('email').dirty &&
                this.signupForm.get('email').invalid
            "
        >
            Invalid e-mail
        </div>

        <div class="tc-input-group field">
            <input
                type="password"
                class="tc-input-field"
                formControlName="password"
                placeholder="password"
                name="password"
                id="password"
                autocomplete="new-password"
                required
            />
            <label for="password" class="tc-input-label">Password</label>
        </div>

        <div
            class="error-message"
            *ngIf="
                this.signupForm.get('password').dirty &&
                this.signupForm.get('password').invalid
            "
        >
            Must contain at least one upper- and lowecase letter and a number.
        </div>

        <div class="tc-input-group field">
            <input
                type="password"
                class="tc-input-field"
                formControlName="confirmPassword"
                placeholder="Confirm password"
                name="confirmPassword"
                id="confirmPassword"
                autocomplete="new-password"
                required
            />
            <label for="confirmPassword" class="tc-input-label"
                >Confirm password</label
            >
        </div>

        <div
            class="error-message"
            *ngIf="
                this.signupForm.get('confirmPassword').dirty &&
                !this.matchingPasswords()
            "
        >
            The passwords must match each other
        </div>
        <div class="terms-and-conditions-container">
            <label class="checkbox-container">
                <input
                    type="checkbox"
                    (change)="
                        this.termsAndConditions = !this.termsAndConditions
                    "
                />
                <span class="checkmark" data-cy="checkbox-big-font"></span>
            </label>
            <div class="terms-and-conditions">
                I accept terms and conditions<a
                    class="TnC"
                    (click)="showTermsOfUse()"
                    >Read here</a
                >
            </div>
        </div>

        <div class="sign-up-container">
            <label class="checkbox-container">
                <input
                    type="checkbox"
                    (change)="
                        this.signUpForNewletter = !this.signUpForNewletter
                    "
                />
                <span class="checkmark" data-cy="checkbox-big-font"></span>
            </label>
            <!-- TODO: Make the link to terms and conditions more obvious (looks like normal, non-clickable text) -->
            <div class="sign-up">
                Sign up for newsletter and get 10% off your first purchase!
            </div>
        </div>

        <button
            class="tc-button-100"
            type="submit"
            [ngClass]="isDisabled() ? 'disabled' : ''"
            [disabled]="isDisabled()"
        >
            Create Account
        </button>

        <button class="tc-button-100" type="button" routerLink="/login">
            Back to login
        </button>
    </form>
</div>

<!-- For cy tests -->
<div class="hide" data-cy="signup-email">
    {{ this.signupForm.get('email').value }}
</div>
<div class="hide" data-cy="signup-password">
    {{ this.signupForm.get('password').value }}
</div>
<div class="hide" data-cy="signup-confirm-password">
    {{ this.signupForm.get('confirmPassword').value }}
</div>
<div class="hide" data-cy="signup-terms-and-conditions">
    {{ this.termsAndConditions }}
</div>
<!-- cy test end -->
