.row {
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
  align-items: center;
  width: 95%;
}

.icon {
  margin-left: 10px;
  position: relative;
  top: 5px;
  width: 3px;
}

.row mat-form-field {
  flex: 1;
}

.spacer {
  flex: 0.15;
}

.actions {
  width: 100%;
  padding-left: 13px;
}

.action-button {
  margin-right: 20px;
}

::ng-deep .order-details-content .mat-grid-tile-content {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.label {
  color: white;
  width: fit-content;
  height: 2.3vh;
  min-height: 15px;
  padding: 0 6px;
  border-radius: 2px;
}

.items-table {
  box-shadow: none;
  width: 100%;
}

.mat-header-cell {
  color: black;
  font-weight: bold;
  padding: 0 5px;
  border-bottom-style: none;
}

.mat-cell {
  text-overflow: ellipsis;
  padding: 0 5px;
  border-bottom-style: none;
}

.actions-row {
  display: flex;
  align-items: center;
  width: fit-content;
}

.actions-row button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.1vw;
  height: 2.3vh;
  min-width: fit-content;
  max-width: 110px;
  min-height: 15px;
  flex: 1;
}

.back-btn {
  color: #ababab;
  font-size: 12px;
  margin-bottom: 3px;
}

.back-btn mat-icon {
  width: 12px;
  height: 12px;
  font-size: 12px;
}

.order-status-select {
  width: 10vw;
  height: 2.3vh;
  min-width: 8.1vw;
  min-height: 15px;
  padding: 0 6px;
  border-radius: 3px;
}

::ng-deep .row .mat-select-value {
  color: white;
}

::ng-deep .mat-option-text {
  color: white;
}

mat-option {
  width: 10vw;
  min-width: 8.1vw;
  padding: 0 6px;
}

::ng-deep .mat-select-panel {
  min-width: 10vw !important;
}
