.row {
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
  align-items: center;
  width: 95%;
}

.row button {
  padding: 0 3.8vw;
}

.row mat-form-field {
  flex: 1;
}

.spacer {
  flex: 0.15;
}

::ng-deep .order-details-content .mat-grid-tile-content {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.label {
  color: white;
  width: fit-content;
  height: 2.3vh;
  min-height: 15px;
  padding: 0 6px;
  border-radius: 2px;
}

.table-container {
  overflow-y: auto;
}

.items-table {
  box-shadow: none;
  width: 100%;
}

.mat-header-cell {
  color: black;
  font-weight: bold;
  padding: 0 5px;
  border-bottom-style: none;
}

.mat-cell {
  text-overflow: ellipsis;
  padding: 0 5px;
  border-bottom-style: none;
}

.actions-row {
  display: flex;
  align-items: center;
  width: fit-content;
}

.actions-row button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.1vw;
  height: 2.3vh;
  min-width: fit-content;
  max-width: 110px;
  min-height: 15px;
  flex: 1;
}

.back-btn {
  color: #ABABAB;
  font-size: 12px;
  margin-bottom: 3px;
}

.back-btn mat-icon {
  width: 12px;
  height: 12px;
  font-size: 12px;
}
