.custom-order-container {
  width: fit-content;
  background-color: white;
  box-shadow: 0px 1px 18px -2px rgb(0 0 0 / 15%);
  padding: 0.75em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 370px;
}

.custom-order-img {
  height: 200px;
}

.custom-order-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5em;
  width: 200px;
}

.custom-order-info {
  font-size: 0.75em;
  height: 115px;
}

.text-field {
  margin-top: 0.4em;
}

@media (max-width: 550px) {

  .custom-order-container {
    width: 90vw;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin: .5em;
    min-height: 0;
  }

  .custom-order-info-container {
    padding: 0 0 0 0.5em;
  }

  .custom-order-img {
    width: 150px;
    height: 150px;
  }

  .price {
    margin-top: 1em;
  }
}
