<div class="item-info-container">
    <!-- info -->
    <div class="item-subtitle">
        <span> Amount </span>
        <span> Size </span>
        <span> Price </span>
        <button class="tc-button-100 margin-top">View</button>
    </div>

    <!-- options -->
    <div class="item-actions">
        <!-- amount -->
        <div class="option-amount">
            <button
                class="box-size-plus tc-button-sm-square low-dropshadow"
                data-cy="box-size-minus"
            >
                <div class="icon">
                    <div class="button-minus"></div>
                </div>
            </button>
            <div class="amount">{{ 1 }}</div>
            <button
                class="box-size-plus tc-button-sm-square low-dropshadow"
                data-cy="box-size-plus"
            >
                <div class="button-plus"></div>
            </button>
        </div>

        <!-- size -->
        <div class="option-size">
            <button
                class="box-size-plus tc-button-sm-square low-dropshadow"
                data-cy="box-size-minus"
            >
                <div class="icon">
                    <div class="button-minus"></div>
                </div>
            </button>
            <div class="amount">{{ item.size }}</div>
            <button
                class="box-size-plus tc-button-sm-square low-dropshadow"
                data-cy="box-size-plus"
            >
                <div class="button-plus"></div>
            </button>
        </div>

        <!-- price -->
        <div class="option-price"></div>
        <button class="tc-button-100 margin-top">Delete</button>
    </div>
</div>
