<div class="flex align-center">
    <h1>404</h1>

    <h2>Page not found</h2>
    <p>I tried to catch some fog, but I mist. If you are having issues, feel free to send us an e-mail at:</p>
    <a
        data-cy="page-not-found-mail-treecreate-link"
        id="mailto"
        class="link"
        href="mailto:info@treecreate.dk"
        target="_blank"
    >
        info@treecreate.dk
    </a>

    <div class="m-1">
        <button
            mat-raised-button
            color="accent"
            data-cy="page-not-found-back-btn"
            class="mr-1"
            onclick="history.back()"
        >
            Back
        </button>
        <a mat-raised-button color="primary" data-cy="page-not-found-home-btn" routerLink="/">Home</a>
    </div>
</div>
