<ng-container>
    <div nz-row nzJustify="center"><h1 nz-typography>404</h1></div>
    <div nz-row nzJustify="center"><h2 nz-typography>Page not found</h2></div>
    <div nz-row nzJustify="center">
        <p nz-typography>
            I tried to catch some fog, but I mist. If you are having issues, feel free to send us an e-mail at:
        </p>
    </div>
    <div nz-row nzJustify="center">
        <a
            data-cy="page-not-found-mail-treecreate-link"
            id="mailto"
            class="link"
            href="mailto:info@treecreate.dk"
            target="_blank"
        >
            info@treecreate.dk
        </a>
    </div>

    <div nz-row class="m-1" nzJustify="center">
        <button nz-button data-cy="page-not-found-back-btn" class="mr-1" onclick="history.back()">Back</button>
        <button nz-button data-cy="page-not-found-home-btn" routerLink="/">Home</button>
    </div>
</ng-container>
