.heading {
  margin-bottom: 2rem;
  text-align: center;
}

.form-container {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}

.error-container {
  text-align: center;
}

.alert {
  position: absolute;
  top: -5rem;
  width: 100%;
}

.form {
  margin-bottom: 3rem;
}
