<div class="background">
    <div class="container">
        <div class="table" *ngIf="!ordersIsLoading">
            <div class="table-header">
                <div class="header__item"><a id="orders" class="filter__link" href="#">Orders</a></div>
                <div class="header__item">
                    <a id="initial" class="filter__link filter__link--number" href="#">Initial</a>
                </div>
                <div class="header__item">
                    <a id="new" class="filter__link filter__link--number" href="#">New</a>
                </div>
                <div class="header__item">
                    <a id="pending" class="filter__link filter__link--number" href="#">Pending</a>
                </div>
                <div class="header__item">
                    <a id="assembling" class="filter__link filter__link--number" href="#">Assembling</a>
                </div>
                <div class="header__item">
                    <a id="shipping" class="filter__link filter__link--number" href="#">Shipping</a>
                </div>
                <div class="header__item">
                    <a id="delivered" class="filter__link filter__link--number" href="#">Delivered</a>
                </div>
            </div>
            <div class="table-content">
                <div class="table-row" *ngIf="!ordersIsLoading">
                    <div class="table-data">{{ ordersCount }}</div>
                    <div class="table-data">{{ ordersInitial }}</div>
                    <div class="table-data">{{ ordersNew }}</div>
                    <div class="table-data">{{ ordersPending }}</div>
                    <div class="table-data">{{ ordersAssembling }}</div>
                    <div class="table-data">{{ ordersShipping }}</div>
                    <div class="table-data">{{ ordersDelivered }}</div>
                </div>
            </div>
        </div>

        <div class="table" *ngIf="!ordersIsLoading">
            <div class="table-header">
                <div class="header__item"><a id="category" class="filter__link" href="#">Category</a></div>
                <div class="header__item">
                    <a id="2-Week" class="filter__link filter__link--number" href="#">2-Week</a>
                </div>
                <div class="header__item">
                    <a id="Month" class="filter__link filter__link--number" href="#">Month</a>
                </div>
                <div class="header__item">
                    <a id="3-Month" class="filter__link filter__link--number" href="#">3-Month</a>
                </div>
                <div class="header__item">
                    <a id="6-Month" class="filter__link filter__link--number" href="#">6-Month</a>
                </div>
            </div>

            <div class="table-content">
                <div class="table-row" *ngIf="!ordersIsLoading">
                    <div class="table-data">Orders</div>
                    <div class="table-data" [ngStyle]="{ color: twoWeekOrders > twoPastWeekOrders ? 'green' : 'red' }">
                        {{ twoWeekOrders }} / <span *ngIf="twoWeekOrders > twoPastWeekOrders">+</span
                        >{{ getPercentDiff(twoWeekOrders, twoPastWeekOrders) }}%
                    </div>
                    <div class="table-data" [ngStyle]="{ color: monthOrders > monthPastOrders ? 'green' : 'red' }">
                        {{ monthOrders }} / <span *ngIf="monthOrders > monthPastOrders">+</span
                        >{{ getPercentDiff(monthOrders, monthPastOrders) }}%
                    </div>
                    <div
                        class="table-data"
                        [ngStyle]="{ color: threeMonthOrders > threePastMonthOrders ? 'green' : 'red' }"
                    >
                        {{ threeMonthOrders }} / <span *ngIf="threeMonthOrders > threePastMonthOrders">+</span
                        >{{ getPercentDiff(threeMonthOrders, threePastMonthOrders) }}%
                    </div>
                    <div
                        class="table-data"
                        [ngStyle]="{ color: sixMonthOrders > sixPastMonthOrders ? 'green' : 'red' }"
                    >
                        {{ sixMonthOrders }} / <span *ngIf="sixMonthOrders > sixPastMonthOrders">+</span
                        >{{ getPercentDiff(sixMonthOrders, sixPastMonthOrders) }}%
                    </div>
                </div>
                <div class="table-row" *ngIf="!ordersIsLoading">
                    <div class="table-data">Revenue</div>
                    <div
                        class="table-data"
                        [ngStyle]="{ color: twoWeekRevenue > twoPastWeekRevenue ? 'green' : 'red' }"
                    >
                        {{ twoWeekRevenue }} / <span *ngIf="twoWeekRevenue > twoPastWeekRevenue">+</span
                        >{{ getPercentDiff(twoWeekRevenue, twoPastWeekRevenue) }}%
                    </div>
                    <div class="table-data" [ngStyle]="{ color: monthRevenue > monthPastRevenue ? 'green' : 'red' }">
                        {{ monthRevenue }} / <span *ngIf="monthRevenue > monthPastRevenue">+</span
                        >{{ getPercentDiff(monthRevenue, monthPastRevenue) }}%
                    </div>
                    <div
                        class="table-data"
                        [ngStyle]="{ color: threeMonthRevenue > threePastMonthRevenue ? 'green' : 'red' }"
                    >
                        {{ threeMonthRevenue }} / <span *ngIf="threeMonthRevenue > threePastMonthRevenue">+</span
                        >{{ getPercentDiff(threeMonthRevenue, threePastMonthRevenue) }}%
                    </div>
                    <div
                        class="table-data"
                        [ngStyle]="{ color: sixMonthRevenue > sixPastMonthRevenue ? 'green' : 'red' }"
                    >
                        {{ sixMonthRevenue }} / <span *ngIf="sixMonthRevenue > sixPastMonthRevenue">+</span
                        >{{ getPercentDiff(sixMonthRevenue, sixPastMonthRevenue) }}%
                    </div>
                </div>
                <div class="table-row" *ngIf="!ordersIsLoading">
                    <div class="table-data">Surplus</div>
                    <div
                        class="table-data"
                        [ngStyle]="{ color: twoWeekSurplus > twoPastWeekSurplus ? 'green' : 'red' }"
                    >
                        {{ twoWeekSurplus }} / <span *ngIf="twoWeekSurplus > twoPastWeekSurplus">+</span
                        >{{ getPercentDiff(twoPastWeekSurplus, twoPastWeekSurplus) }}%
                    </div>
                    <div class="table-data" [ngStyle]="{ color: monthSurplus > monthPastSurplus ? 'green' : 'red' }">
                        {{ monthSurplus }} / <span *ngIf="monthSurplus > monthPastSurplus">+</span
                        >{{ getPercentDiff(monthSurplus, monthPastSurplus) }}%
                    </div>
                    <div
                        class="table-data"
                        [ngStyle]="{ color: threeMonthSurplus > threePastMonthSurplus ? 'green' : 'red' }"
                    >
                        {{ threeMonthSurplus }} / <span *ngIf="threeMonthSurplus > threePastMonthSurplus">+</span
                        >{{ getPercentDiff(threeMonthSurplus, threePastMonthSurplus) }}%
                    </div>
                    <div
                        class="table-data"
                        [ngStyle]="{ color: sixMonthSurplus > sixPastMonthSurplus ? 'green' : 'red' }"
                    >
                        {{ sixMonthSurplus }} / <span *ngIf="sixMonthSurplus > sixPastMonthSurplus">+</span
                        >{{ getPercentDiff(sixMonthSurplus, sixPastMonthSurplus) }}%
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-data">Subscribers</div>
                    <div
                        class="table-data"
                        [ngStyle]="{ color: twoWeekSubscribers > twoPastWeekSubscribers ? 'green' : 'red' }"
                    >
                        {{ twoWeekSubscribers }} / <span *ngIf="twoWeekSubscribers > twoPastWeekSubscribers">+</span
                        >{{ getPercentDiff(twoWeekSubscribers, twoPastWeekSubscribers) }}%
                    </div>
                    <div
                        class="table-data"
                        [ngStyle]="{ color: monthSubscribers > monthPastSubscribers ? 'green' : 'red' }"
                    >
                        {{ monthSubscribers }} / <span *ngIf="monthSubscribers > monthPastSubscribers">+</span
                        >{{ getPercentDiff(monthSubscribers, monthPastSubscribers) }}%
                    </div>
                    <div
                        class="table-data"
                        [ngStyle]="{ color: threeMonthSubscribers > threePastMonthSubscribers ? 'green' : 'red' }"
                    >
                        {{ threeMonthSubscribers }} /
                        <span *ngIf="threeMonthSubscribers > threePastMonthSubscribers">+</span
                        >{{ getPercentDiff(threeMonthSubscribers, threePastMonthSubscribers) }}%
                    </div>
                    <div
                        class="table-data"
                        [ngStyle]="{ color: sixMonthSubscribers > sixPastMonthSubscribers ? 'green' : 'red' }"
                    >
                        {{ sixMonthSubscribers }} / <span *ngIf="sixMonthSubscribers > sixPastMonthSubscribers">+</span
                        >{{ getPercentDiff(sixMonthSubscribers, sixPastMonthSubscribers) }}%
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
