.main-section {
  margin-top: 60px;
  width: 100vw;
  height: 100vh;
  color: white;
}
.main-section-container {
  background-image: url('/assets/img/coverPhoto02.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 52vh;
  max-width: 70vw;
  margin: auto;
  margin-top: 10rem;
}
.text {
  padding-top: 4vh;
}

.container {
  text-align: center;
  color: white;
}

.title {
  padding-top: 9rem;
  font-family: Argesta Display;

  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  align-items: center;
  letter-spacing: 0.125em;
}

.subTitle {
  font-family: Seravek;
  font-style: normal;
  font-weight: 100;
  font-size: 2.25rem;
  line-height: 30px;
  letter-spacing: 0.1em;
}

/* BUTTONS */
.TC-start-main {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-family: Seravek;
  font-style: normal;
  font-weight: 200;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 0.1rem 1.5rem;
  border: 2px solid white;
  margin: 1rem;
  transition: 0.5s;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.25);
}

.TC-start-main:hover {
  transform: scale(0.97);
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

@media (max-width: 650px) {
  .title {
    font-size: 2.5rem;
  }
  .subTitle {
    font-size: 1.25rem;
  }
  .text {
    padding-top: 10vh;
  }
}

@media (max-width: 992px) {
  .main-section-container {
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 60vh;
    max-width: 100vw;
    margin: auto;
    margin-top: 120px;
  }
  .text {
    padding-top: 5vh;
  }
}

@media (max-width: 450px) {
  .main-section-container {
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 40vh;
    max-width: 100vw;
    margin: auto;
    margin-top: 100px;
  }
  .TC-start-main {
    font-size: 1rem;
  }
  .title {
    padding-top: 4.25rem;
  }
  .text {
    padding-top: 0vh;
  }
}
