/* You can add global styles to this file, and also import other style files */
:root {
  --font-color: #ffffff;
  --border-color: #ababab;
  --main-color: #19169c;

  --navbar-height: 42.7px;
  --sidebar-width: 214px;

  overflow-y: hidden;
}
