/* You can add global styles to this file, and also import other style files */
:root {
    --font-color: #FFFFFF;
    --border-color: #ABABAB;
    --main-color: #19169C;

    --navbar-height: 42.7px;
    --sidebar-width: 214px;

    overflow-y: hidden;
  }