.modal-top {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.btn-close:after {
  content: '\00d7';
  font-size: 1.5em;
  color: white;
}
.btn-close {
  // Remove button styling
  outline: none;
  background-color: none;
  border: none;
  background: none;

  position: absolute;
  right: 15px;
  top: 5px;
}
.modal-image {
  background-image: url('/assets/img/tc-newsletter-img.jpg');
  position: relative;
  z-index: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-modal-container {
  display: flex;
  flex-direction: row-reverse;
}
.content {
  padding: 0.75em;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 640px) {
  .newsletter-modal-container {
    flex-direction: column;
  }
  .modal-image {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 300px;
    background-position: 0px -80px;
  }
}
