<div class="flex-container-login">
    <form
        *ngIf="!isLoggedIn"
        (ngSubmit)="onSubmit()"
        name="loginForm"
        class="login-form"
        [formGroup]="loginForm"
    >
        <h1 class="page-title" i18n="@@login">Login</h1>
        <div class="tc-input-group field">
            <input
                type="email"
                data-cy="login-email-input"
                class="tc-input-field"
                placeholder="E-mail"
                formControlName="email"
                name="email"
                id="email"
                autocomplete="email"
                required
            />
            <label for="email" class="tc-input-label">E-mail</label>
        </div>

        <div class="password-input">
            <div class="tc-input-group field">
                <input
                    #password
                    type="password"
                    data-cy="login-password-input"
                    class="tc-input-field"
                    formControlName="password"
                    placeholder="password"
                    name="password"
                    id="password"
                    autocomplete="current-password"
                    required
                />
                <label for="password" class="tc-input-label" i18n="@@password"
                    >Password</label
                >
            </div>
            <button
                class="show-password-btn"
                type="button"
                (click)="
                    password.type =
                        password.type == 'password' ? 'text' : 'password'
                "
            >
                <img
                    class="password-icon"
                    [ngClass]="
                        password.type === 'text'
                            ? 'password-show-icon'
                            : 'password-hide-icon'
                    "
                />
            </button>
        </div>

        <div class="forgot-password-container">
            <a
                data-cy="forgot-password-btn"
                (click)="openForgotPasswordModal()"
                class="forgot-password-link"
                i18n="@@forgot-password"
            >
                Forgot password?
            </a>
        </div>

        <button
            class="tc-button-100"
            data-cy="login-btn"
            type="submit"
            [disabled]="isDisabled()"
        >
            <span i18n="@@login" *ngIf="!isLoading">Login</span>
            <span
                *ngIf="isLoading"
                class="spinner-border spinner-border-sm text-light"
                style="margin: 5px"
                role="status"
                aria-hidden="true"
            ></span>
        </button>
        <button
            class="tc-button-100"
            data-cy="login-signup-btn"
            type="button"
            routerLink="/signup"
            i18n="@@signup"
        >
            Sign up
        </button>
    </form>
</div>

<!-- For cy tests -->
<div class="hide" data-cy="login-email-value">
    {{ this.loginForm.get('email').value }}
</div>
<div class="hide" data-cy="login-password-value">
    {{ this.loginForm.get('password').value }}
</div>
<!-- cy test end -->
