.wrapper {
  width: 80%;
  height: 100%;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.form-container {
  @media screen and (min-width: 768px) {
    margin-top: 8rem;
  }
}

.alert {
  position: absolute;
  top: -5rem;
  width: 100%;
}

// Utility
.margin-bot {
  margin-bottom: 2rem;
}

.p-relative {
  position: relative;
}
