<div class="flex-container-login">
    <form
        *ngIf="!isLoggedIn"
        (ngSubmit)="onSubmit()"
        name="loginForm"
        class="login-form"
        [formGroup]="loginForm"
    >
        <h1 class="page-title">Login</h1>
        <div class="tc-input-group field">
            <input
                type="email"
                class="tc-input-field"
                placeholder="E-mail"
                formControlName="email"
                name="email"
                id="email"
                autocomplete="email"
                required
            />
            <label for="email" class="tc-input-label">E-mail</label>
        </div>

        <div class="tc-input-group field">
            <input
                type="password"
                class="tc-input-field"
                formControlName="password"
                placeholder="password"
                name="password"
                id="password"
                autocomplete="current-password"
                required
            />
            <label for="password" class="tc-input-label">Password</label>
        </div>

        <div class="forgot-password-container">
            <a (click)="openForgotPasswordModal()" class="forgot-password-link">
                Forgot password?
            </a>
        </div>

        <!-- TODO: Add an alert for failed singin -->
        <button
            class="tc-button-100"
            type="submit"
            [ngClass]="isDisabled() ? 'disabled' : ''"
            [disabled]="isDisabled()"
        >
            Login
        </button>
        <button class="tc-button-100" type="button" routerLink="/signup">
            Sign up
        </button>
    </form>
</div>

<!-- TODO: alert - Make a reusable alert pop up service that is not related to the component -->
<!-- <div class="alert-container alert-hide" #successfulLogin>
    <ngb-alert [type]="'success'">
        Welcome! You have successfully logged in!
    </ngb-alert>
</div> -->

<!-- For cy tests -->
<div class="hide" data-cy="login-email">
    {{ this.loginForm.get('email').value }}
</div>
<div class="hide" data-cy="login-password">
    {{ this.loginForm.get('password').value }}
</div>
<!-- cy test end -->
