<div class="modal-container">
  <div class="modal-content">
    <div data-cy="terms-of-sale-modal" class="modal-header">
      <h1 class="title">Sales Terms and Conditions</h1>
      <div
        data-cy="terms-of-sale-modal-x-btn"
        class="tc-button-square"
        (click)="activeModal.close()"
      >
        <div class="icon">
          <div class="bar1"></div>
          <div class="bar2"></div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="text">
        <h2>1. INDG&Aring;ELSE AF K&Oslash;BSAFTALE</h2>
        <p>
          1.1 Vi indg&aring;r udelukkende k&oslash;bsaftaler p&aring; dansk for
          s&aring; vidt ang&aring;r de bestillinger, der foretages online
          p&aring; www.Treecreate.dk. N&aring;r du bestiller Treecreates varer,
          indg&aring;r du en k&oslash;bsaftale med Treecreate,
          Hiller&oslash;dgade 69, 3. 2200 K&oslash;benhavn.
        </p>
        <p>
          1.2 Ved at klikke &rdquo;Accepter og bestil&rdquo;, afgiver du en
          bindende bestilling p&aring; varerne i din indk&oslash;bskurv. Vi
          sender dig en ordrebekr&aelig;ftelse pr. e-mail, s&aring; snart du har
          indsendt din bestilling. Der indg&aring;s en bindende
          k&oslash;bsaftale, n&aring;r du modtager en ordrebekr&aelig;ftelse fra
          os.
        </p>
        <p>
          1.3 Der tages forbehold for barken p&aring; produktet er
          fuldst&aelig;ndig fejlfri ved levering. Der tages forbehold for
          placering af barken (p&aring; begge sider, &oslash;verst, eller
          udelukkende en side). Ved eventuelle &oslash;nsker kan vi kontaktes,
          men garanterer ikke at kunne opfylde &oslash;nsket. Hvis intet er
          angivet, forbeholder vi os retten til selv at v&aelig;lge barkens
          placering.
        </p>
        <p>
          1.4 Det er k&oslash;bers eget ansvar s&aring;fremt der forekommer
          stavefejl p&aring; produktet som f&oslash;lge af k&oslash;bers egen
          fejlskrivning ved bestilling.
        </p>
        <h2>2. LEVERING</h2>
        <p>
          2.1 Leveringstiden er mellem 5 til 15 arbejdsdage. Arbejdsdage skal
          forst&aring;s som mandag til fredag, inklusiv begge dage, med
          undtagelse af offentlige fri- og helligdage i Danmark. Levering kan
          kun ske inden for Danmarks gr&aelig;nser.
        </p>
        <p>
          2.2 Der er fri fragt p&aring; alle vare k&oslash;bt igennem
          Treecreate.dk.
        </p>
        <h2>3. PRISER OG BETALING</h2>
        <p>
          3.1 De priser, der fremg&aring;r p&aring; vores hjemmeside p&aring;
          det tidspunkt, hvor bestillingen afgives, er g&aelig;ldende. De
          angivne priser er endelige priser (i alt), og inkluderer med andre ord
          moms i overensstemmelse med den g&aelig;ldende sats. Varerne er
          Treecreates ejendom indtil den fulde k&oslash;besum er indbetalt.
        </p>
        <p>
          3.2 Treecreate tilbyder som udgangspunkt f&oslash;lgende
          betalingsmetoder: kreditkort, visa dankort og mobilpay. Vi forbeholder
          os retten til at afvise bestemte betalingsmetoder for en given
          bestilling og til at henvise til andre betalingsmetoder. V&aelig;r
          opm&aelig;rksom p&aring;, at vi kun accepterer betalinger fra konti
          inden for Den Europ&aelig;iske Union (EU). Du skal selv d&aelig;kke
          eventuelle omkostninger p&aring;lagt i forbindelse med
          pengetransaktioner.
        </p>
        <p>3.4 Fakturaer modtages udelukkende i elektronisk form.</p>
        <h2>4. RABATKODER OG INDL&Oslash;SNING AF RABATKODER</h2>
        <p>
          4.1 Rabatkoder er rabatter, der bliver uddelt i forbindelse med
          reklamekampanger og er gyldige inden for en afgr&aelig;nset
          tidsperiode. Rabatkoder kan ikke k&oslash;bes.
        </p>
        <p>
          4.2 Rabatkoder kan kun indl&oslash;ses i forbindelse med et k&oslash;b
          og kun inden for den angivne specificerede tidsperiode. Vi forbeholder
          os retten til at &aelig;ndre eller fjerne rabatkoder, p&aring; et
          hvert angivet tidspunkt, uden nogen former for forudg&aring;ende
          varsel.
        </p>
        <p>
          4.3 V&aelig;rdien af rabatkoden kan ikke udbetales kontant, ligesom
          v&aelig;rdien heraf ikke bliver forrentet. Rabatkoder kan ikke
          refunderes, s&aring;fremt nogle eller alle de bestilte varer bliver
          returneret.
        </p>
        <p>
          4.4 Rabatkoder kan kun indl&oslash;ses forud for, at
          bestillingsprocessen gennemf&oslash;res. Det er ikke muligt at anvende
          rabatkoder bagudrettet. Rabatkoder m&aring; ikke overf&oslash;res til
          tredjeparter. Medmindre andet er udtrykkeligt aftalt, er det ikke
          muligt at kombinere flere rabatkoder.
        </p>
        <p>
          4.5 Hvis du har brugt en rabatkode i forbindelse med dit k&oslash;b og
          ordrens samlede v&aelig;rdi er mindre eller lig med v&aelig;rdien af
          rabatkoden, som et resultat af, at du efterf&oslash;lgende har
          tilbagekaldt en del af din ordre, forbeholder vi os retten til at
          opkr&aelig;ve dig den oprindelige pris for de varer, du beholder.
        </p>
        <h2>5. PRODUKT BESKRIVELSE</h2>
        <p>
          5.1 N&aring;r du bestiller via. Treecreate.dk, laver du dit eget
          design ud fra vores billedfiler. Vi tager os ikke af designets
          opstilling eller udseende da det er 100 procent op til dig at bestemme
          hvordan dit design skal se ud.
        </p>
        <p>
          5.2 N&aring;r du bestiller f&aring;r du et stativ lavet af 3mm tykt
          krydsfiner tr&aelig; som kan bruges til at holde dit tr&aelig;design.
          Du kan v&aelig;lge imellem et s&aelig;t st&oslash;rrelser som dit
          design bliver indgraveret p&aring;. Alle plader har mindst en side med
          bark p&aring; og er henholdsvis 26mm tykke. Det indgraverede design
          kan afvige fra det du ser p&aring; hjemmesiden med et par millimeter
          da laser indgraveringens pr&aelig;cision kan variere en smule.
        </p>
        <p>
          5.3 N&aring;r du v&aelig;lger en st&oslash;rrelse, kan produktets
          st&oslash;rrelse afvige med op til 2 centimeter da barken ikke altid
          kan reguleres pr&aelig;cist.
        </p>
        <p>
          5.4 Tr&aelig;et som produktet bliver produceret af, vil v&aelig;re
          udelukkende egetr&aelig;. Tr&aelig;ets farve kan variere mellem lys og
          m&oslash;rkt tr&aelig; hvilket er naturligt n&aring;r man arbejder med
          egetr&aelig;.
        </p>
        <h2>6. FORTRYDELSESRET OG REKLAMERING</h2>
        <p>
          6.1 K&oslash;ber har ingen fortrydelsesret da aftalen der
          indg&aring;s, er et bestillingsk&oslash;b, jf. KBL &sect;2, stk. 1.
        </p>
        <p>
          6.2 K&oslash;ber har to (2) &aring;rs reklamationsfrist
          vedr&oslash;rende fejl og mangler efter dansk rets almindelige regler
        </p>
        <p>
          6.3 S&aring;fremt k&oslash;ber vil p&aring;ber&aring;be sig en mangel,
          skal k&oslash;beren g&oslash;re Treecreate opm&aelig;rksom p&aring;
          dette inden for rimelig tid, efter at k&oslash;beren har opdaget
          manglen. (Se formular nederst i betingelserne) S&aring;fremt der gives
          meddelelse inden for to m&aring;neder efter, at k&oslash;beren
          opdagede manglen, anses dette altid for at v&aelig;re rettidig.
        </p>
        <h2>7. LOVPLIGTIG ANSVAR FOR MANGLER OG YDERLIGERE INFORMATION</h2>
        <p>
          7.1 Vores ansvar for mangler bliver reguleret af den relevante
          lovgivning p&aring; omr&aring;det. Derved er k&oslash;bers
          retsstilling reguleret af den danske k&oslash;belov.
        </p>
        <p>
          7.2 Det er ikke muligt for unge under 15 &aring;r at indg&aring;
          aftaler med Treecreate.dk. Det er dog muligt for personer er under 18
          &aring;r, medmindre v&aelig;rgem&aring;lsloven foreskriver andet.
        </p>
        <p>
          7.3 Hver kunde er berettiget til at oprette &eacute;n kundekonto hos
          Treecreate. Vi forbeholder os retten til at slette to eller flere
          eksisterende kontoer tilh&oslash;rende den samme kunde.
        </p>
        <p>
          FORMULAR Underretning om mangler (Hvis du &oslash;nsker at underrette
          os om mangler, bedes du udfylde nedenst&aring;ende formular og
          returnere den til os) Att: Treecraete, Hiller&oslash;dgade 69, 3.,
          2200 K&oslash;benhavn. e-mail: info@treecreate.dk
        </p>
        <p>
          Jeg/vi (*) giver herved meddelelse om mangler vedr&oslash;rende de
          indk&oslash;bte varer i henhold til den indg&aring;ede
          k&oslash;bsaftale indg&aring;et af mig/os (*): - bestilt den
          (*)/modtaget den (*) - forbrugerens navn(e) - forbrugerens adresse -
          dato - beskrivelse af manglen Slut
        </p>
        <p>Med venlig hilsen, Treecreate</p>
        <h3>Udgiver</h3>
        <p>
          <strong>Websitet ejes og publiceres af:</strong><br /><br />Treecreate
          - Ejer: Teodor Jonasson<br />Addresse: Hiller&oslash;dgade 69, 3.<br />Post
          nr: 2200<br />By: K&oslash;benhavn<br />Telefon: 26 19 23 27<br />Email:
          info@treecreate.dk
        </p>
        <p>Sidst opdateret: 30.10.2020</p>
      </div>
    </div>
    <div class="modal-footer">
      <button
        data-cy="terms-of-sale-modal-close-btn"
        type="button"
        class="tc-button-50"
        (click)="activeModal.close()"
      >
        Close
      </button>
    </div>
  </div>
</div>
