.flex-container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.signup-form {
    border: 1px solid black; 
    padding: 20px 30px 30px 30px; 
    min-width: 400px;
    text-align: center;
}

.tc-button-100 {
    margin:10px 0; 
}

.disabled {
    opacity: 0.5;
}

.disabled:hover {
    transform: scale(1);
}