<div class="cancelled-container">
    <div class="cancelled-content add-transition">
        <div class="back-to-home-container">
            <a routerLink="/home" class="back-to-home add-transition">
                < <span i18n="@@back-to-home">Back to home page </span>
            </a>
        </div>

        <div class="heading cancelled-thank-you add-transition">
            <div>
                <p class="slide-up" i18n="@@payment-cancelled">
                    PAYMENT CANCELLED!
                </p>
            </div>
        </div>

        <div class="cancelled-main-text">
            <span i18n="@@payment-cancelled-text">
                Your payment was cancelled, so your order has not yet been
                processed. If you have reached this page in error, feel free to
                contact us through one of the sources bellow, then we will be
                happy to help.
            </span>
            <br />
            <a href="mailto:info@treecreate.dk"> <b>E-mail</b></a>
            -
            <a href="http://facebook.com/treecreate.dk"> <b>Facebook </b></a> -
            <a href="http://instagram.com/treecreate.dk"> <b>Instagram</b></a>
        </div>
    </div>
</div>
