canvas {
  height: 100%;
  width: 100%;
}

.design-wrapper {
  position: relative;
}

.above-canvas {
  position: absolute;
  left: 0;
  right: 0;
}

#backgroundImage {
  z-index: -1;
  position: absolute;
  left: 2.5%;
  right: 2.5%;
  top: 2.5%;
  height: 95%;
  width: 95%;
  outline: 2px solid rgba($color: #000000, $alpha: 0.25);
  outline-offset: 7px;
}
