canvas {
  height: 100%;
  width: 100%;
}

.design-wrapper {
  position: relative;
  border: 2px solid rgba(175, 121, 73, 0.3);
  border-radius: 3px;
}

.above-canvas {
  position: absolute;
  left: 0;
  right: 0;
}

#backgroundImage {
  z-index: -1;
  position: absolute;
  left: 2.5%;
  right: 2.5%;
  top: 2.5%;
  height: 95%;
  width: 95%;
}
