<div class="design-wrapper" #designWrapper>
    <ngb-alert
        *ngIf="alert"
        type="danger"
        (closed)="alert = undefined"
        [dismissible]="alert.dismissible"
        class="above-canvas"
    >
        <h3>{{ alert.type === 'danger' ? 'Error' : alert.type }}!</h3>
        {{ alert.message }}</ngb-alert
    >

    <canvas
        #designCanvas
        (mousedown)="mouseDownHandler($event)"
        (mouseup)="mouseUpHandler($event)"
        (touchmove)="mouseMoveHandler($event)"
        (touchstart)="mouseDownHandler($event)"
        (touchend)="mouseUpHandler($event)"
    ></canvas>
</div>
