<div class="design-wrapper" #designWrapper>
    <ngb-alert
        *ngIf="alert"
        type="danger"
        (closed)="alert = undefined"
        [dismissible]="alert.dismissible"
        class="above-canvas"
    >
        <h3>{{ alert.type === 'danger' ? 'Error' : alert.type }}!</h3>
        {{ alert.message }}</ngb-alert
    >
    <canvas
        id="foregroundCanvas"
        #foregroundCanvas
        (mouseup)="mouseUpHandler($event)"
        (mousedown)="mouseDownHandler($event)"
        (touchmove)="mouseMoveHandler($event)"
        (touchstart)="mouseDownHandler($event)"
        (touchend)="mouseUpHandler($event)"
    ></canvas>
    <img id="backgroundImage" #backgroundImage src="" alt="Tree background design" />
</div>
