.nav-link {
    transition-duration: 0.5s;
    padding-bottom: 5px;
}
.nav-item {
    padding: 0 10px; 
    transition-duration: 0.5s;
}
.nav-item:hover > .nav-link {
    background: none; 
    transform: scale(0.95); 
    text-decoration: none; 
    opacity: 0.5; 
}
.nav-icon {
    width: 1.2rem;
    padding-bottom: 1px;
}

.navbar-brand {
    width: 125px; 
    transition-duration: 0.5s;
}
.navbar-brand:hover {
    transform: scale(0.95); 
}
.waves-light {
    text-align: center;
}


@media all and (max-width: 992px) {
    .nav-item {
        padding: 0 1rem 0 0; 
    }
    .nav-item:hover {
        border-bottom: none;
    }
}