<mdb-navbar id="navbar" SideClass="navbar navbar-expand-lg white navbar-light fixed-top" class="TC-navbar">
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
        <img src="/assets/logos/TCTextLogo.svg" class="logo" width="100">
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/product">Product</a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link waves-light" routerLink="/login">Log In</a>
        </li>
        <li class="nav-item purchase-btn">
            <a class="nav-link waves-light" routerLink="/basket">
                <img src="/assets/icons/basketBlackIcon.svg" class="nav-icon"> {{backetItemOptions(3)}}
            </a>
        </li>
      </ul>
    </links>
</mdb-navbar>
