.heading {
  margin-bottom: 2rem;
  text-align: center;
}

.max-width {
  max-width: 300px;
}

.submit-form-button {
  margin-bottom: 3rem;
}

.success-heading {
  text-align: center;
  margin-bottom: 6rem;
}

.content-container {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
