<div class="modal-container">
    <div class="modal-content" data-cy="forgot-password-modal">
        <div class="modal-header-secondary">
            <img
                src="/assets/icons/send-email-brown-icon.svg"
                class="modal-header-icon"
            />
        </div>
        <form
            (ngSubmit)="sendResetPasswordEmail()"
            name="forgotPasswordForm"
            [formGroup]="forgotPasswordForm"
        >
            <div class="modal-body-secondary">
                <div class="title">
                    <h3 i18n="@@forgotten-password">Forgotten password</h3>
                    <p i18n="@@write-email">Write your e-mail here:</p>
                    <div class="tc-input-group field">
                        <input
                            type="email"
                            formControlName="email"
                            class="tc-input-field"
                            placeholder="E-mail"
                            name="email"
                            id="email"
                            data-cy="forgot-password-email-input"
                            required
                        />
                        <label for="email" class="tc-input-label">E-mail</label>
                    </div>
                    <div class="info-message" i18n="@@info-forgot-password">
                        If your e-mail is in our system, you will recieve and
                        e-mail from us shortly with a link to changing your
                        password.
                    </div>
                    <div
                        class="error-message"
                        *ngIf="
                            this.forgotPasswordForm.get('email').dirty &&
                            this.forgotPasswordForm.get('email').invalid
                        "
                        i18n="@@invalid-email"
                        data-cy="forgot-password-email-error-message"
                    >
                        Invalid e-mail
                    </div>
                </div>
            </div>
            <div class="modal-footer-secondary">
                <button
                    type="submit"
                    class="tc-button-50"
                    [disabled]="isDisabled()"
                    data-cy="forgot-password-reset-password-button"
                >
                    <span i18n="@@reset-password">Reset Password</span>
                    <span
                        *ngIf="isLoading"
                        class="spinner-border spinner-border-sm text-light"
                        style="margin: 5px"
                        role="status"
                        aria-hidden="true"
                    ></span>
                </button>
                <button
                    type="button"
                    class="tc-button-50"
                    (click)="activeModal.close()"
                    i18n="@@close"
                    data-cy="forgot-password-modal-close-btn"
                >
                    Close
                </button>
            </div>
        </form>
    </div>
</div>
