<div class="modal-container">
    <div class="modal-content">
        <div class="modal-header-secondary">
            <img
                src="../../../assets/icons/send-email-icon.svg"
                class="modal-header-icon"
            />
        </div>
        <form
            (ngSubmit)="resetPassword()"
            name="forgotPasswordForm"
            [formGroup]="forgotPasswordForm"
        >
            <div class="modal-body-secondary">
                <div class="title">
                    <h3>Forgotten password</h3>
                    <p>Write your e-mail here:</p>
                    <div class="tc-input-group field">
                        <input
                            type="email"
                            formControlName="email"
                            class="tc-input-field"
                            placeholder="E-mail"
                            name="email"
                            id="email"
                            required
                        />
                        <label for="email" class="tc-input-label">E-mail</label>
                    </div>
                    <div
                        class="error-message"
                        *ngIf="
                            this.forgotPasswordForm.get('email').dirty &&
                            this.forgotPasswordForm.get('email').invalid
                        "
                    >
                        Invalid e-mail
                    </div>
                    <p>
                        If your e-mail is in our system, you will recieve a link
                        shortly to reset your password.
                    </p>
                </div>
            </div>
            <div class="modal-footer-secondary">
                <button
                    type="submit"
                    class="tc-button-50"
                    [disabled]="isDisabled()"
                    [ngClass]="isDisabled() ? 'disabled' : ''"
                >
                    Reset Password
                </button>
                <button
                    type="button"
                    class="tc-button-50"
                    (click)="activeModal.close()"
                >
                    Close
                </button>
            </div>
        </form>
    </div>
</div>
