<div class="item-container">
    <webstore-store-item
        #productDesign
        [isMutable]="false"
        [design]="item.design"
        class="item-image"
    ></webstore-store-item>
    <div class="item-info">
        <div class="item-title" [ngSwitch]="item.design.designType">
            <strong
                *ngSwitchCase="designTypeEnum.familyTree"
                data-cy="checkout-item-family-tree-title"
                i18n="@@design-type-family-tree"
                >Family tree</strong
            >
            <strong
                *ngSwitchCase="designTypeEnum.quotable"
                data-cy="checkout-item-quotable-title"
                i18n="@@design-type-quotable"
                >Quotable</strong
            >
        </div>
        <div class="info-container">
            <!-- <div class="info-line">
                <span>Type</span> <span> {{ item.design.designType }} </span>
            </div> -->

            <div class="info-line">
                <span i18n="@@size">Size:</span>
                <span> {{ translateDimensionToCm(item.dimension, item.design.designType) }} </span>
            </div>
            <div class="info-line">
                <span i18n="@@price">Price:</span>
                <span>{{ item.quantity }} x {{ itemUnitPrice.toFixed(2) }} DKK</span>
            </div>
            <div class="info-line">
                <span> <strong i18n="@@total">Total:</strong> </span>
                <span>
                    <strong>{{ itemPrice.toFixed(2) }} DKK</strong></span
                >
            </div>
        </div>
    </div>
</div>
<hr />
