.item-container {
  display: flex;
  align-items: center;
  margin: 8px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.item-info {
  flex-grow: 2;
  min-width: 200px;
  margin-left: 20px;
}

.item-image {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.info-line {
  display: flex;
  justify-content: space-between;
}

.item-title {
  font-size: var(--regular-font);
  font-weight: 300;
}

.info-container {
  line-height: 30px;
}

@media screen and (max-width: 450px) {
  .item-info {
    margin-left: 0;
  }
  .item-image {
    width: 83vw;
    height: 83vw;
    margin-bottom: 10px;
  }
}
