<div class="item-container">
    <webstore-family-tree-miniature
        #productDesign
        [design]="item.design.designProperties"
        [boxSize]="item.design.designProperties.boxSize"
        class="item-image"
    >
    </webstore-family-tree-miniature>
    <div class="item-info">
        <div class="item-title">
            <strong>{{ item.design.designProperties.title }}</strong>
        </div>
        <div class="info-container">
            <div class="info-line">
                <span>Type</span> <span> {{ 'Family Tree' }} </span>
            </div>

            <div class="info-line">
                <span i18n="@@size">Size:</span>
                <span> {{ sizeInCm(item.dimension) }} </span>
            </div>
            <div class="info-line">
                <span i18n="@@price">Price:</span>
                <span
                    >{{ item.quantity }} x
                    {{ itemUnitPrice.toFixed(2) }} DKK</span
                >
            </div>
            <div class="info-line">
                <span> <strong i18n="@@total">Total:</strong> </span>
                <span>
                    <strong>{{ itemPrice.toFixed(2) }} DKK</strong></span
                >
            </div>
        </div>
    </div>
</div>
<hr />
