<div class="orders-page-container add-transition">
    <div class="orders-container add-transition">
        <div class="title">
            <h2 i18n="@@your-orders">Your orders</h2>
        </div>
        <div>
            <div class="orders-content" *ngIf="orderCollection.length >= 1">
                <webstore-order-item
                    *ngFor="let order of orderCollection; let orderIndex = index"
                    [order]="order"
                    [orderNumber]="orderIndex + 1"
                    data-cy="order-item"
                ></webstore-order-item>
            </div>
            <div class="no-content" data-cy="orders-no-items" *ngIf="orderCollection.length === 0 && !isLoading">
                <div class="sub-title" i18n="@@no-orders">You have no orders</div>
                <span i18n="@@no-designs-text"> Go to the products page to start creating your first design! </span>
                <div class="button-section">
                    <button
                        class="tc-button-50"
                        routerLink="/products"
                        i18n="@@start-designing"
                        data-cy="orders-no-items-start-button"
                    >
                        Start designing
                    </button>
                </div>
            </div>
            <div class="no-content" *ngIf="isLoading">
                <div class="spinner">
                    <span
                        class="spinner-border spinner-border-sm"
                        style="margin: 0 10px"
                        role="status"
                        aria-hidden="true"
                    ></span>
                    <span>Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
