<div class="orders-page-container add-transition">
    <div class="orders-container add-transition">
        <div class="title">
            <h2 i18n="@@your-orders">Your orders</h2>
        </div>
        <div>
            <div class="orders-content" *ngIf="1 <= ordersList.length"></div>
            <div
                class="no-content"
                data-cy="orders-no-items"
                *ngIf="ordersList.length === 0 && !isLoading"
            >
                <div class="sub-title" i18n="@@no-designs">
                    You have no orders
                </div>
                <span i18n="@@no-designs-text">
                    Go to the product page to start creating your first design!
                </span>
                <div class="button-section">
                    <button
                        class="tc-button-50"
                        routerLink="/product"
                        i18n="@@start-designing"
                        data-cy="orders-no-items-start-button"
                    >
                        Start designing
                    </button>
                </div>
            </div>
            <div class="no-content" *ngIf="isLoading">
                <div class="spinner">
                    <span
                        class="spinner-border spinner-border-sm"
                        style="margin: 0 10px"
                        role="status"
                        aria-hidden="true"
                    ></span>
                    <span>Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
