<div class="success-container">
    <div class="success-content">
        <div class="success-logo">
            <img src="/assets/logos/TCTextLogo.svg" class="logo" width="250" />
        </div>
        <div class="back-to-home-container">
            <a routerLink="/home" class="back-to-home"> < Back to home page</a>
        </div>
        <div class="success-thank-you">THANK YOU!</div>
        <div class="success-main-text">
            Shortly you should recieve an order confirmation on your email. We
            thank you for buying at Treecreate.dk, and for planting a tree. Your
            support is more important now, than it has ever been. If you wish to
            plant more trees, please visit:
        </div>
        <div class="teamtrees-link-container">
            <img
                src="/assets/icons/arrow-right-icon.svg"
                alt=""
                class="teamtrees-icon"
            />
            <div class="teamtrees-link">Teamtrees.org</div>
            <img
                src="/assets/icons/arrow-left-icon.svg"
                alt=""
                class="teamtrees-icon"
            />
        </div>
    </div>
</div>
