<div class="success-container">
    <div class="success-content">
        <img src="/assets/logos/TCTextLogo.svg" class="success-logo" />
        <div class="back-to-home-container">
            <a routerLink="/home" class="back-to-home"> < Back to home page</a>
        </div>

        <div class="heading success-thank-you">
            <div>
                <p class="slide-up">THANK YOU!</p>
            </div>
        </div>

        <div class="success-main-text">
            Shortly you should recieve an order confirmation on your email. We
            thank you for buying at Treecreate.dk, and for planting a tree. Your
            support is more important now, than it has ever been. If you wish to
            plant more trees, please visit:
        </div>
        <div class="teamtrees-link-container">
            <img
                src="/assets/icons/arrow-right-icon.svg"
                alt=""
                class="teamtrees-icon"
            />
            <a
                class="teamtrees-link"
                href="https://teamtrees.org/"
                target="_blank"
                >Teamtrees.org</a
            >
            <img
                src="/assets/icons/arrow-left-icon.svg"
                alt=""
                class="teamtrees-icon"
            />
        </div>
    </div>
</div>
