<div class="success-container">
    <div class="success-content add-transition">
        <img
            src="/assets/logos/tc-black-text-logo.svg"
            class="success-logo add-transition"
        />
        <div class="back-to-home-container">
            <a
                routerLink="/home"
                class="back-to-home add-transition"
                i18n="@@back-to-home"
            >
                < Back to home page</a
            >
        </div>

        <div class="heading success-thank-you add-transition">
            <div>
                <p class="slide-up" i18n="@@thank-you">THANK YOU!</p>
            </div>
        </div>

        <div class="success-main-text" i18n="@@payment-succes-text">
            Shortly you should recieve an order confirmation on your email. We
            thank you for buying at Treecreate.dk, and for planting a tree. Your
            support is more important now, than it has ever been. If you wish to
            plant more trees, please visit:
        </div>
        <div class="teamtrees-link-container">
            <a
                class="teamtrees-link add-transition"
                href="https://teamtrees.org/"
                target="_blank"
            >
                <img src="/assets/img/teamtrees-logo.png" alt="" />
            </a>
        </div>
    </div>
</div>
