<div class="modal-body">
    <img
        src="/assets/icons/check-green-icon.svg"
        class="check-icon"
        alt="check-icon"
    />
    <div class="title">The family tree has been added to your basket</div>
    <div class="sub-title" *ngIf="!isLoading">
        You have {{ itemsInBasket }} items in your basket ({{ basketPrice }} DKK
        )
    </div>
    <div *ngIf="isLoading" style="text-align: center">
        <span
            class="spinner-border spinner-border-sm"
            style="margin: 0 10px"
            role="status"
            aria-hidden="true"
        ></span>
        <br />
        <span>Loading items in basket...</span>
    </div>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="tc-button-33 green"
        routerLink="/basket"
        (click)="activeModal.close()"
    >
        Go to basket
    </button>
    <button
        type="button"
        class="tc-button-33"
        routerLink="/product"
        (click)="activeModal.close()"
    >
        Create new
    </button>
</div>
