<div class="not-signed-in-page-container">
    <div class="page-content">
        <img src="/assets/img/not-signed-in-img.png" class="main-image" />
        <div class="main-content add-transition">
            <div class="main-title">Time to start designing</div>
            <div class="main-text">
                Start creating your first design. We recomment you login or
                create a user before you start designing. If you want to save
                designs or load previously created design, you must be logged
                in.
            </div>
            <div class="actions-container">
                <button class="tc-button-50 min-width" routerLink="/product">
                    Create new design
                </button>
                <button class="tc-button-50 min-width" routerLink="/login">
                    Login
                </button>
            </div>
        </div>
    </div>
</div>
