<div class="not-signed-in-page-container">
    <div class="page-content">
        <div class="main-image-container">
            <img src="/assets/img/not-signed-in-img.png" class="main-image" />
        </div>

        <div class="main-content add-transition">
            <div class="main-title" i18n="@@time-to-start-designing">
                Time to start designing
            </div>
            <div class="main-text" i18n="@@not-signed-in-text">
                Start creating your first design. We recomment you login or
                create a user before you start designing. If you want to save
                designs or load previously created design, you must be logged
                in.
            </div>
            <div class="actions-container">
                <button
                    class="tc-button-50 button"
                    routerLink="/product"
                    i18n="@@start-creating"
                    data-cy="not-signed-in-product-button"
                >
                    Create new design
                </button>
                <button
                    class="tc-button-50 button"
                    routerLink="/login"
                    i18n="@@login"
                    data-cy="not-signed-in-login-button"
                >
                    Login
                </button>
            </div>
        </div>
    </div>
</div>
