.not-signed-in-page-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'argestadisplay';
}
.page-content {
  margin-top: 100px;
  width: 90vw;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.main-image-container {
  display: flex;
  justify-content: center;
  width: 47%;
}

.main-content {
  width: 47%;
  max-width: 550px;
  margin-bottom: 50px;
}
.main-image {
  width: 400px;
  margin-bottom: 30px;
}
.actions-container {
  display: flex;
  justify-content: space-between;
}

.main-title {
  font-size: x-large;
  font-weight: 600;
}

.main-text {
  margin: 10px 0 20px 0;
}
.button {
  margin: 10px 0;
}

@media screen and (max-width: 840px) {
  .main-image-container {
    width: 100%;
  }
  .page-content {
    width: 100%;
  }
  .main-content {
    width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .page-content {
    width: 100vw;
    padding: 30px;
  }
  .main-content {
    width: 80vw;
  }
  .main-image {
    width: 60vw;
  }
  .main-image-container {
    width: 100vw;
  }
  .tc-button-50 {
    width: 100%;
  }
  .actions-container {
    flex-wrap: wrap;
  }
}
