.feedback-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  min-height: 100vh;
  margin: 5em 1em 1em 1em;
}

.feedback-content-container {
  width: 60vw;
  max-width: 900px;
  box-shadow: 0px 7px 20px -3px rgb(0 0 0 / 20%);
  padding: 15px 20px;
}

.feedback-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.feedback-section {
  flex-grow: 1;
  min-width: 250px;
  background-color: white;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.feedback-uploaded-files-container span {
  padding-top: 15px;
}

#feedback-note {
  margin: 0 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 200px;
  width: 100%;
  margin: 10px 0px;
}

.margin-top {
  margin-top: 15px;
}

.offset {
  margin-top: 9px;
}

.title-container hr {
  margin: 2px 0 2px 0;
  border-top: 1px solid rgba(0, 0, 0, 1);
}

.title {
  font-size: var(--regular-font);
  margin-left: 5px;
  font-weight: 500;
}

.margin-top {
  margin-top: 15px;
}

.tc-textarea-field {
  height: 200px;
  border-radius: 3px;
}

.textarea-label {
  padding-left: 8px;
}
