<mat-card data-cy="card">
    <mat-card-title data-cy="card-title">
        <span>{{ title }}</span>
        <span>{{amountDescription + '(' + amount + ')'}}</span>

        <ng-container *ngTemplateOutlet="header"></ng-container>
    </mat-card-title>
    <mat-divider data-cy="card-divider"></mat-divider>
    <mat-card-content data-cy="card-content">
        <ng-container *ngIf="!isLoading; else loading">
            <ng-container *ngTemplateOutlet="content"></ng-container>
        </ng-container>

        <ng-template #loading>
            <div class="loading-container">
                <mat-spinner [diameter]="40"></mat-spinner>
            </div>
        </ng-template>
    </mat-card-content>
</mat-card>
