<mat-card>
    <mat-card-title>
        <span>{{ title }}</span>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <ng-container *ngIf="!isLoading; else loading">
            <ng-container *ngTemplateOutlet="content"></ng-container>
        </ng-container>

        <ng-template #loading>
            <div class="loading-container"> 
                <mat-spinner [diameter]="40"></mat-spinner>
            </div>
        </ng-template>
    </mat-card-content>
</mat-card>
