mat-card {
    display:flex;
    flex-direction: column;
    width: 71.25vw;
    height: 60.7vh;
    padding: 20px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15) !important;
    border-radius: 10px;
}

mat-card mat-divider {
    margin: 10px 0;
}