<form [formGroup]="changePasswordForm" class="change-password-form" (ngSubmit)="changePassword()">
    <h1>Update password</h1>

    <mat-form-field hintLabel="Min 8 char, uppercase, lowercase and number" class="password-input" appearance="fill">
        <mat-label class="input-label">Password</mat-label>
        <input
            #password
            type="password"
            data-cy="change-password-input"
            formControlName="password"
            matInput
            placeholder="Your password"
        />
        <mat-hint align="end">{{ password.value?.length || 0 }}/8</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Passwords must match" class="password-input" appearance="fill">
        <mat-label class="input-label">Confirm password</mat-label>
        <input
            #confirmPassword
            type="password"
            data-cy="change-confirm-password-input"
            formControlName="confirmPassword"
            matInput
            placeholder="Confirm password"
        />
        <mat-hint align="end" *ngIf="changePasswordForm.get('confirmPassword')?.dirty">{{
            isEqual() ? 'Passwords match! :) Good job son' : 'NOPE, passwords dont match. Do better.'
        }}</mat-hint>
    </mat-form-field>

    <button
        mat-raised-button
        class="change-password-btn"
        data-cy="change-password-btn"
        color="primary"
        type="submit"
        [disabled]="isDisabled()"
    >
        <span *ngIf="!isLoading">Update</span>
        <mat-icon *ngIf="isLoading"><mat-spinner diameter="21" color="accent"></mat-spinner></mat-icon>
    </button>

    <button mat-raised-button class="change-password-btn" color="primary" type="button" mat-dialog-close>
        <span>Cancel</span>
    </button>
</form>
