.change-password-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.change-password-form .password-input:last-child {
  margin-bottom: 20px;
}

.change-password-form .password-input,
.change-password-form button {
  margin: 10px 0;
}
