<main class="account-info-container">
    <form
        class="account-info-form"
        [formGroup]="accountInfoForm"
        name="accountInfoForm"
        (ngSubmit)="updateUser()"
        data-cy="account-info-form"
    >
        <div class="title">
            <h2 i18n="@@account-info">Account info</h2>
            <div class="spinner" *ngIf="isLoading">
                <span
                    class="spinner-border spinner-border-sm"
                    style="margin: 0 10px"
                    role="status"
                    aria-hidden="true"
                ></span>
                <span>Loading...</span>
            </div>
        </div>

        <div [ngClass]="isLoading ? 'hide-opacity' : 'show-opacity'" class="account-info-input">
            <div class="sub-title">
                <p i18n="@@contact">Contact</p>
                <hr />
            </div>

            <div class="tc-input-group field">
                <input
                    type="text"
                    class="tc-input-field"
                    formControlName="name"
                    placeholder="Your name"
                    id="name"
                    autocomplete="name"
                    data-cy="account-name-input"
                />
                <label for="name" class="tc-input-label" i18n="@@name">Name</label>
            </div>

            <div
                class="error-message"
                *ngIf="this.accountInfoForm.get('name').dirty && this.accountInfoForm.get('name').invalid"
                i18n="@@invalid-name"
                data-cy="account-invalid-name"
            >
                Invalid name
            </div>

            <div class="tc-input-group field">
                <input
                    type="text"
                    class="tc-input-field"
                    formControlName="phoneNumber"
                    placeholder="12345678"
                    name="phoneNumber"
                    id="phoneNumber"
                    autocomplete="phoneNumber"
                    data-cy="account-phone-number-input"
                />
                <label for="phoneNumber" class="tc-input-label" i18n="@@phone-number">Phone number</label>
            </div>

            <div
                class="error-message"
                *ngIf="this.accountInfoForm.get('phoneNumber').dirty && this.accountInfoForm.get('phoneNumber').invalid"
                i18n="@@invalid-phone-number"
                data-cy="account-invalid-phone-number"
            >
                Invalid phone number
            </div>

            <div class="tc-input-group field">
                <input
                    type="email"
                    class="tc-input-field"
                    placeholder="E-mail"
                    formControlName="email"
                    name="email"
                    id="accountEmail"
                    autocomplete="email"
                    data-cy="account-email-input"
                />
                <label for="email" class="tc-input-label">E-mail</label>
            </div>

            <div
                class="error-message"
                *ngIf="this.accountInfoForm.get('email').dirty && this.accountInfoForm.get('email').invalid"
                i18n="@@invalid-email"
                data-cy="account-invalid-email"
            >
                Invalid e-mail
            </div>

            <div class="sub-title top-margin">
                <p i18n="@@address">Address line</p>
                <hr />
            </div>

            <div class="tc-input-group field">
                <input
                    type="text"
                    class="tc-input-field"
                    name="streedOne"
                    formControlName="streetAddress"
                    placeholder="Your street name"
                    id="streetAddress"
                    data-cy="account-address-input"
                />
                <label for="streetAddress" class="tc-input-label" i18n="@@street-address">Address line</label>
            </div>

            <div
                class="error-message"
                *ngIf="
                    this.accountInfoForm.get('streetAddress').dirty && this.accountInfoForm.get('streetAddress').invalid
                "
                i18n="@@invalid-street-address"
                data-cy="account-invalid-address"
            >
                The address is too long
            </div>

            <div class="tc-input-group field">
                <input
                    type="text"
                    class="tc-input-field"
                    name="streedTwo"
                    formControlName="streetAddress2"
                    placeholder="Your street name"
                    id="streetAddress2"
                    data-cy="account-address-2-input"
                />
                <label for="streetAddress2" class="tc-input-label">
                    <span i18n="@@street-address">Address line</span> 2</label
                >
            </div>

            <div
                class="error-message"
                *ngIf="
                    this.accountInfoForm.get('streetAddress2').dirty &&
                    this.accountInfoForm.get('streetAddress2').invalid
                "
                i18n="@@invalid-street-address"
                data-cy="account-invalid-address-2"
            >
                The address is too long
            </div>

            <section class="city-code-section">
                <div class="tc-input-group field">
                    <input
                        type="text"
                        class="tc-input-field"
                        name="city"
                        formControlName="city"
                        id="city"
                        placeholder="City"
                        data-cy="account-city-input"
                    />
                    <label for="city" class="tc-input-label" i18n="@@city">City</label>
                    <div
                        class="error-message offset"
                        *ngIf="this.accountInfoForm.get('city').dirty && this.accountInfoForm.get('city').invalid"
                        i18n="@@invalid-city"
                        data-cy="account-invalid-city"
                    >
                        The city name is too long
                    </div>
                </div>

                <div class="tc-input-group field">
                    <input
                        type="text"
                        class="tc-input-field"
                        formControlName="postcode"
                        id="postcode"
                        name="postcode"
                        placeholder="1234"
                        data-cy="account-postcode-input"
                    />
                    <label for="postcode" class="tc-input-label" i18n="@@postcode">Postcode</label>
                    <div
                        class="error-message offset"
                        *ngIf="
                            this.accountInfoForm.get('postcode').dirty && this.accountInfoForm.get('postcode').invalid
                        "
                        i18n="@@invalid-postcode"
                        data-cy="account-invalid-postcode"
                    >
                        Invalid danish postcode
                    </div>
                </div>
            </section>

            <section class="actions">
                <div class="button-section">
                    <button type="button" class="tc-button-50 loading-spinner-btn" *ngIf="isUpdatingUserInfo" disabled>
                        <span
                            class="spinner-border spinner-border-sm text-light"
                            style="margin: 5px"
                            role="status"
                            aria-hidden="true"
                        ></span>
                        <span i18n="@@updating">Updating...</span>
                    </button>
                    <button
                        type="submit"
                        class="tc-button-50"
                        [disabled]="hasChangedValues()"
                        *ngIf="!isUpdatingUserInfo"
                        i18n="@@update-info"
                        data-cy="account-update-button"
                    >
                        Update info
                    </button>
                    <button
                        class="tc-button-50"
                        (click)="openChangePasswordModal()"
                        i18n="@@change-password"
                        data-cy="account-change-password-button"
                        type="button"
                    >
                        Change password
                    </button>
                </div>
            </section>
        </div>
    </form>
</main>
