<div class="modal-container">
  <div class="modal-content">
    <div data-cy="terms-of-use-modal" class="modal-header">
      <h1>Cookie- og privatlivspolitik</h1>
      <div class="tc-button-square" (click)="activeModal.close()">
        <div class="icon">
          <div class="bar1"></div>
          <div class="bar2"></div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="text">
        <h3>Introduktion</h3>
        <p>
          N&aring;r du bes&oslash;ger vores website indsamles der oplysninger om
          dig, som bruges til at tilpasse og forbedre vores indhold og til at
          &oslash;ge v&aelig;rdien af de annoncer, der vises p&aring; siden.
          Hvis du ikke &oslash;nsker, at der indsamles oplysninger, b&oslash;r
          du slette dine cookies (se vejledning) og undlade videre brug af
          websitet. Nedenfor har vi uddybet, hvilke informationer der indsamles,
          deres form&aring;l og hvilke tredjeparter, der har adgang til dem.
        </p>
        <p>&nbsp;</p>
        <h3>Cookies</h3>
        <p>
          Websitet anvender &rdquo;cookies&rdquo;, der er en tekstfil, som
          gemmes p&aring; din computer, mobil el. tilsvarende med det
          form&aring;l at genkende den, huske indstillinger, udf&oslash;re
          statistik og m&aring;lrette annoncer. Cookies kan ikke indeholde
          skadelig kode som f.eks. virus.
        </p>
        <p>&nbsp;</p>
        <p>
          Det er muligt at slette eller blokere for cookies. Se
          vejledning:&nbsp;<a href="http://minecookies.org/cookiehandtering"
            >minecookies.org</a
          >
        </p>
        <p>&nbsp;</p>
        <p>
          Hvis du sletter eller blokerer cookies vil annoncer kunne blive mindre
          relevante for dig og optr&aelig;de hyppigere. Du kan desuden risikere
          at websitet ikke fungerer optimalt samt at der er indhold, du ikke kan
          f&aring; adgang til.
        </p>
        <p>&nbsp;</p>
        <p>
          Websitet indeholder cookies fra tredjeparter, der i varierende omfang
          kan omfatte:&nbsp;<a
            href="http://danskemedier.dk/digital/frq3rdparties/"
            >Hyppige tredjeparter ved digital annoncering</a
          >
        </p>
        <p>&nbsp;</p>
        <h3>Generelt</h3>
        <p>
          Personoplysninger er alle slags informationer, der i et eller andet
          omfang kan henf&oslash;res til dig. N&aring;r du benytter vores
          website indsamler og behandler vi en r&aelig;kke s&aring;danne
          informationer. Det sker f.eks. ved alm. tilgang af indhold, hvis du
          tilmelder dig vores nyhedsbrev, deltager i konkurrencer eller
          unders&oslash;gelser, registrerer dig som bruger eller abonnent,
          &oslash;vrig brug af services eller foretager k&oslash;b via websitet.
        </p>
        <p>&nbsp;</p>
        <p>
          Vi indsamler og behandler typisk f&oslash;lgende typer af oplysninger:
          Et unikt ID og tekniske oplysninger om din computer, tablet eller
          mobiltelefon, dit IP-nummer, geografisk placering, samt hvilke sider
          du klikker p&aring; (interesser). I det omfang du selv giver eksplicit
          samtykke hertil og selv indtaster informationerne behandles desuden:
          Navn, telefonnummer, e-mail, adresse og betalingsoplysninger. Det vil
          typisk v&aelig;re i forbindelse med oprettelse af login eller ved
          k&oslash;b.
        </p>
        <p>&nbsp;</p>
        <h3>Sikkerhed</h3>
        <p>
          Vi har truffet tekniske og organisatoriske foranstaltninger mod, at
          dine oplysninger h&aelig;ndeligt eller ulovligt bliver slettet,
          offentliggjort, fortabt, forringet eller kommer til uvedkommendes
          kendskab, misbruges eller i &oslash;vrigt behandles i strid med
          lovgivningen.
        </p>
        <p>&nbsp;</p>
        <h3>Form&aring;l</h3>
        <p>
          Oplysningerne bruges til at identificere dig som bruger og vise dig de
          annoncer, som vil have st&oslash;rst sandsynlighed for at v&aelig;re
          relevante for dig, at registrere dine k&oslash;b og betalinger, samt
          at kunne levere de services, du har efterspurgt, som f.eks. at
          fremsende et nyhedsbrev. Herudover anvender vi oplysningerne til at
          optimere vores services og indhold.
        </p>
        <p>&nbsp;</p>
        <h3>Periode for opbevaring</h3>
        <p>
          Oplysningerne opbevares i det tidsrum, der er tilladt i henhold til
          lovgivningen, og vi sletter dem, n&aring;r de ikke l&aelig;ngere er
          n&oslash;dvendige. Perioden afh&aelig;nger af karakteren af
          oplysningen og baggrunden for opbevaring. Det er derfor ikke muligt at
          angive en generel tidsramme for, hvorn&aring;r informationer slettes.
        </p>
        <p>&nbsp;</p>
        <h3>Videregivelse af oplysninger</h3>
        <p>
          Data om din brug af websitet, hvilke annoncer, du modtager og evt.
          klikker p&aring;, geografisk placering, k&oslash;n og alderssegment
          m.v. videregives til tredjeparter i det omfang disse oplysninger er
          kendt. Du kan se hvilke tredjeparter, der er tale om, i afsnittet om
          &rdquo;Cookies&rdquo; ovenfor. Oplysningerne anvendes til
          m&aring;lretning af annoncering.
        </p>
        <p>&nbsp;</p>
        <p>
          Vi benytter herudover en r&aelig;kke tredjeparter til opbevaring og
          behandling af data. Disse behandler udelukkende oplysninger p&aring;
          vores vegne og m&aring; ikke anvende dem til egne form&aring;l.
        </p>
        <p>&nbsp;</p>
        <p>
          Videregivelse af personoplysninger som navn og e-mail m.v. vil kun
          ske, hvis du giver samtykke til det. Vi anvender kun databehandlere i
          EU eller i lande, der kan give dine oplysninger en tilstr&aelig;kkelig
          beskyttelse.
        </p>
        <p>&nbsp;</p>
        <h3>Indsigt og klager</h3>
        <p>
          Du har ret til at f&aring; oplyst, hvilke personoplysninger, vi
          behandler om dig. Du kan desuden til enhver tid g&oslash;re indsigelse
          mod, at oplysninger anvendes. Du kan ogs&aring; tilbagekalde dit
          samtykke til, at der bliver behandlet oplysninger om dig. Hvis de
          oplysninger, der behandles om dig, er forkerte har du ret til at de
          bliver rettet eller slettet. Henvendelse herom kan ske til:
          info@treecreate.dk . Hvis du vil klage over vores behandling af dine
          personoplysninger, har du ogs&aring; mulighed for at tage kontakt til
          Datatilsynet.
        </p>
        <p>&nbsp;</p>
        <h3>Udgiver</h3>
        <p>
          <strong>Websitet ejes og publiceres af:</strong><br /><br />Treecreate
          - Ejer: Teodor Jonasson<br />Addresse: Hiller&oslash;dgade 69, 3.<br />Post
          nr: 2200<br />By: K&oslash;benhavn<br />Telefon: 26 19 23 27<br />E-mail:
          info@treecreate.dk
        </p>
        <p>Sidst opdateret: 30.10.2020</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="tc-button-50" (click)="activeModal.close()">
        Close
      </button>
    </div>
  </div>
</div>
