<main class="page-container">
    <section class="section-container" id="our-story">
        <img alt="TODO" src="/assets/img/review-img/review-img-03.jpg" />
        <div class="section-content-wrapper">
            <h1 i18n="@@about-us-our-story-title">Our Story</h1>
            <p i18n="@@about-us-our-story-text">
                Back in 2020, as COVID had begun, I wanted to give my grandparents a present that united the family in a
                time where we couldnt be together physically. I then drew our family tree and had it laser carved into
                wood as their christmas present. They were overjoyed and have had it in their living room ever since. As
                the whole world was feeling lonely, the team agreed that we wanted to share this experience of
                togetherness with other people. This sparked the idea for Treecreate, and here we are today.
            </p>
        </div>
    </section>

    <section class="section-container" id="modernizing-homes">
        <img alt="TODO" src="/assets/img/review-img/review-img-01.jpg" />
        <div id="moderning-homes-text-1-container">
            <h1 i18n="@@about-us-moderning-homes-title">Modernizing Homes</h1>
            <p i18n="@@about-us-moderning-homes-text-1">
                Having a Treecreate product at your home is not only signalling a sustainable home, but also a modern
                one. Whatever the design, you can make sure a Treecreate will make a beautiful and stylish addition to
                your home.
            </p>
            <div id="moderning-homes-text-2-container">
                <img alt="TODO" src="https://www.drupal.org/files/project-images/lorem_ipsum_icon.jpeg" />
                <p i18n="@@about-us-moderning-homes-text-2">
                    For 2 years we have been working on giving you the best and most unique experience possible.
                </p>
            </div>
            <button
                id="buy-now-btn"
                class="tc-button-50 purchase-button"
                routerLink="/products"
                i18n="@@about-us-moderning-homes-buy-now"
            >
                Buy Now
            </button>
        </div>
    </section>

    <section class="section-container" id="own-design">
        <!-- TODO - replace the image with an image of a baby as per Figma design -->
        <img alt="TODO" src="/assets/img/review-img/review-img-03.jpg" />
        <div id="own-design-text-container">
            <h1 i18n="@@about-us-own-design-title">Your own design</h1>
            <p i18n="@@about-us-own-design-text">
                Having a Treecreate product at your home is not only signalling a sustainable home, but also a modern
                one. Whatever the design, you can make sure a Treecreate will make a beautiful and stylish addition to
                your home.
            </p>
            <!-- TODO - uncomment once environment initiatives page is added -->
            <!-- <button
                id="env-initiatives-btn"
                class="tc-button-100 purchase-button"
                routerLink="/environmental-initiatives"
                i18n="@@about-us-own-design-see-environmental-initiatives"
            >
                See Environmental initiatives
            </button> -->
            <div id="own-design-info-box-container">
                <div class="own-design-info-box">
                    <span class="own-design-info-box-header"> {{ treesPlanted }}+ </span><br />
                    <span i18n="@@about-us-own-design-trees-planted">Trees Planted</span>
                </div>
                <div class="own-design-info-box">
                    <span class="own-design-info-box-header"> 4.9 </span><br /><span
                        i18n="@@about-us-own-design-average-rating"
                        >av. Rating</span
                    >
                </div>
                <div class="own-design-info-box">
                    <span class="own-design-info-box-header"> 0% </span><br /><span
                        i18n="@@about-us-own-design-plastic-used"
                        >Plastic Used</span
                    >
                </div>
            </div>
        </div>
    </section>
</main>
