<main class="page-container">
    <section class="section-container" id="our-story">
        <img alt="TODO" src="/assets/img/about-us/family-photo.png" />
        <div class="section-content-wrapper">
            <h1 i18n="@@about-us-our-story-title">Our Story</h1>
            <p i18n="@@about-us-our-story-text">
                Back in 2020, as COVID had begun, I wanted to give my grandparents a present that united the family in a
                time where we couldnt be together physically. I then drew our family tree and had it laser carved into
                wood as their christmas present. They were overjoyed and have had it in their living room ever since. As
                the whole world was feeling lonely, the team agreed that we wanted to share this experience of
                togetherness with other people. This sparked the idea for Treecreate, and here we are today.
            </p>

            <div class="button-section">
                <h2>Follow our journey here</h2>
                <div class="so-me-buttons">
                    <a href="https://www.facebook.com/TreeCreate.dk" target="_blank" rel="noopener"
                        ><img class="so-me-icon" src="/assets/logos/soMe/facebook.svg" alt="Treecreate facebook side"
                    /></a>
                    <a href="https://www.instagram.com/treecreate.dk/" target="_blank" rel="noopener"
                        ><img class="so-me-icon" src="/assets/logos/soMe/instagram.svg" alt="Treecreate instagram side"
                    /></a>
                    <a href="https://www.tiktok.com/@treecreate.dk" target="_blank" rel="noopener"
                        ><img class="so-me-icon" src="/assets/logos/soMe/tiktok.svg" alt="Treecreate tiktok side"
                    /></a>
                    <a href="https://www.pinterest.dk/Treecreatedk/" target="_blank" rel="noopener"
                        ><img
                            class="so-me-icon"
                            src="/assets/logos/soMe/pinterest.svg"
                            alt="Treecreate printerest side"
                    /></a>
                </div>
            </div>
        </div>
    </section>

    <section class="section-container" id="modernizing-homes">
        <img alt="TODO" src="/assets/img/about-us/grandmother-photo.png" />
        <div class="section-content-wrapper" id="moderning-homes-text-1-container">
            <h1 i18n="@@modernizing-homes">Modernizing Homes</h1>
            <p i18n="@@moderning-homes-text-1">
                Having a Treecreate product at your home is not only signalling a sustainable home, but also a modern
                one. Whatever the design, you can make sure a Treecreate will make a beautiful and stylish addition to
                your home.
            </p>
            <div id="moderning-homes-text-2-container">
                <img alt="TODO" src="/assets/img/about-us/2-year-icon.svg" />
                <p i18n="@@moderning-homes-text-2">
                    For 2 years we have been working on giving you the best and most unique experience possible.
                </p>
            </div>
            <button id="buy-now-btn" class="tc-button-50 purchase-button" routerLink="/products" i18n="@@buy-now">
                Buy Now
            </button>
        </div>
    </section>

    <section class="section-container" id="own-design">
        <img alt="TODO" src="/assets/img/about-us/baby-photo.png" />
        <div id="own-design-text-container">
            <h1 i18n="@@about-us-own-design-title">Your own design</h1>
            <p i18n="@@about-us-own-design-text">
                With Treecreate you have the freedom to completely make your own design on a beautiful piece of
                sustainable oak wood in high quality. Whether it's one of our nice premade designs or your very own, you
                can always be sure that the choice is YOURS.
            </p>
            <!-- TODO - uncomment once environment initiatives page is added -->
            <!-- <button
                id="env-initiatives-btn"
                class="tc-button-100 purchase-button"
                routerLink="/environmental-initiatives"
                i18n="@@about-us-own-design-see-environmental-initiatives"
            >
                See Environmental initiatives
            </button> -->
            <div id="own-design-info-box-container">
                <div class="own-design-info-box">
                    <span class="own-design-info-box-header"> {{ treesPlanted }}+ </span>
                    <span i18n="@@about-us-own-design-trees-planted">Trees Planted</span>
                </div>
                <div class="own-design-info-box">
                    <span class="own-design-info-box-header"> 4.9 </span
                    ><span i18n="@@about-us-own-design-average-rating">av. Rating</span>
                </div>
                <div class="own-design-info-box">
                    <span class="own-design-info-box-header"> 0% </span
                    ><span i18n="@@about-us-own-design-plastic-used">Plastic Used</span>
                </div>
            </div>
        </div>
    </section>

    <section class="section-container" id="#newsletter-signup">
        <img id="background-svg" alt="TODO" src="/assets/img/about-us/background.svg" />

        <div class="newsletter-signup-wrapper">
            <!-- I do not associate myself with this text ~@Kwandes -->
            <h1 i18n="@@about-us-newsletter-signup-title">Register to our newsletter for glory and hapiness</h1>
            <form [formGroup]="newsletterForm" (ngSubmit)="registerNewsletter()" id="newsletter-signup-form">
                <div id="newsletter-signup-input-container">
                    <input
                        formControlName="email"
                        type="email"
                        class="special-input-field"
                        id="newsletter-signup-input"
                        placeholder="Email"
                        data-cy="about-us-register-newsletter-input"
                        #emailInput
                    />
                    <div
                        class="error-message"
                        *ngIf="this.newsletterForm.get('email').dirty && this.newsletterForm.get('email').invalid"
                        i18n="@@invalid-email"
                        data-cy="signup-email-error"
                    >
                        Invalid e-mail
                    </div>
                </div>

                <button
                    class="tc-button-25 margin-top low-dropshadow"
                    type="submit"
                    [disabled]="!isNewsletterReadyForSignup()"
                    data-cy="about-us-register-newsletter-button"
                >
                    <span i18n="@@signup" *ngIf="!isLoading">Sign up</span>
                    <span
                        *ngIf="isLoading"
                        class="spinner-border spinner-border-sm text-light"
                        style="margin: 5px"
                        role="status"
                        aria-hidden="true"
                    >
                    </span>
                </button>
            </form>
        </div>
    </section>

    <section class="section-container" id="team">
        <h1 id="team-title" i18n="@@about-us-team-title">Treecreate's devoted and creative partners</h1>
        <p i18n="@@about-us-team-text">
            We are a small but passionate team from Copenhagen, and together with you we want to create a community and
            an experience of high value gift giving that's bringing home something truly personal and environmental.
            Treecreate would be nothing without you and your feedback, and we always try to improve the experience for
            everyone using that feedback.
        </p>
        <div class="team-slogans-container">
            <span i18n="@@team-slogan-1"
                ><img src="/assets/img/about-us/heart-icon.svg" alt="TODO" /> Let's celebrate life, and all its
                gifts</span
            >
            <span i18n="@@team-slogan-2"
                ><img src="/assets/img/about-us/heart-icon.svg" alt="TODO" /> Let's celebrate the ups and downs</span
            >
            <span i18n="@@team-slogan-3"
                ><img src="/assets/img/about-us/heart-icon.svg" alt="TODO" /> Let's celebrate you</span
            >
        </div>
        <div class="members">
            <div class="member-wrapper">
                <img src="/assets/img/team/Teo-TC-2022.jpg" alt="Treecreate founder billede" />
                <h3>Teodor Jonasson</h3>
                <span i18n="@@founder">Founder - Operations</span>
                <span class="member-info">
                    <a
                        href="https://www.linkedin.com/in/teodor-jonasson-74066169/"
                        target="_blank"
                        class="link"
                        rel="noopener"
                        >LinkedIn</a
                    >
                    <a href="mailto: teodor_jonasson@hotmail.com" target="_blank" class="link">Email</a>
                    <a href="tel:+4526192327" target="_blank" class="link" i18n="@@phone-number">Phone nr</a>
                </span>
            </div>
            <div class="member-wrapper">
                <img src="/assets/img/team/Chris-TC-2022.jpeg" alt="Treecreate partner billede" />
                <h3>Christopher Grøn</h3>
                <span i18n="@@partner">Partner - Marketing</span>
                <a href="https://www.linkedin.com/in/christophertgroen/" target="_blank" rel="noopener" class="link"
                    >LinkedIn</a
                >
            </div>
            <div class="member-wrapper">
                <img src="/assets/img/team/Calli-TC-2022.jpeg" alt="Treecreate co founder billede" />
                <h3>Calli Bogoryja</h3>
                <span i18n="@@co-founder">Co-Founder - Tech</span>
                <a
                    href="https://www.linkedin.com/in/jan-bogoryja-zakrzewski/"
                    target="_blank"
                    rel="noopener"
                    class="link"
                    >LinkedIn</a
                >
            </div>
        </div>
    </section>
</main>
