<main class="page-container">
    <section class="section-container" id="our-story">
        <img alt="TODO" src="/assets/img/review-img/review-img-03.jpg" />
        <div class="section-content-wrapper">
            <h1 i18n="@@about-us-our-story-title">Our Story</h1>
            <p i18n="@@about-us-our-story-text">
                Back in 2020, as COVID had begun, I wanted to give my grandparents a present that united the family in a
                time where we couldnt be together physically. I then drew our family tree and had it laser carved into
                wood as their christmas present. They were overjoyed and have had it in their living room ever since. As
                the whole world was feeling lonely, the team agreed that we wanted to share this experience of
                togetherness with other people. This sparked the idea for Treecreate, and here we are today.
            </p>
        </div>
    </section>
</main>
