<div class="collection-page-container add-transition">
    <div class="collection-container add-transition">
        <div class="title">
            <h2 i18n="@@your-collection">Your Collection</h2>
        </div>
        <div>
            <div
                class="collection-content"
                *ngIf="1 <= designCollection.length"
            >
                <webstore-design-item
                    *ngFor="let design of designCollection"
                    [design]="design"
                ></webstore-design-item>
                <div class="full-width">
                    <hr class="match-button" />
                    <div class="match-section">
                        <button
                            class="tc-button-50"
                            routerLink="/product"
                            i18n="@@create-new"
                        >
                            Create New
                        </button>
                        <button
                            class="tc-button-50"
                            routerLink="/profile"
                            (click)="scrollTop()"
                            i18n="@@profile"
                        >
                            Profile
                        </button>
                    </div>
                </div>
            </div>
            <div class="no-content" *ngIf="designCollection.length === 0">
                <div class="sub-title" i18n="@@no-designs">
                    You have no designs
                </div>
                <span i18n="@@no-designs-text">
                    Go to the product page to start creating your first design!
                </span>
                <div class="button-section">
                    <button
                        class="tc-button-50"
                        routerLink="/product"
                        i18n="@@start-designing"
                    >
                        Start designing
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
