<div class="collection-page-container">
    <div class="collection-container">
        <div class="title">
            <h2>Your Collection</h2>
        </div>
        <div>
            <div
                class="collection-content"
                *ngIf="1 <= designCollection.length"
            >
                <webstore-design-item
                    *ngFor="let design of designCollection"
                    [design]="design"
                ></webstore-design-item>
                <div class="match-section">
                    <hr class="match-button">
                    <button class="tc-button-static" routerLink="/product">
                        Create New
                    </button>
                </div>
            </div>
            <div class="no-content" *ngIf="0 === designCollection.length">
                <div class="sub-title">You have no designs</div>
                <span>
                    Go to the product page to start creating your first design!
                </span>
                <div class="button-section">
                    <button class="tc-button-50" routerLink="/product">
                        Start designing
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
