.collection-page-container {
  display: flex;
  justify-content: center;
}

.collection-container {
  box-shadow: 0px 7px 20px -3px rgb(0 0 0 / 15%);
  background-color: white;
  max-width: 65vw;
  min-width: 60vw;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 30px;
}

.collection-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-align: center;
  margin-top: 15px;
}

.no-content {
  height: 50vh;
  display: flex;
  justify-content: center;
  padding: 100px;
  text-align: center;
  flex-direction: column;
}

.sub-title {
  font-size: var(--regular-font);
  font-weight: 500;
}

.button-section {
  width: 100%;
  margin: 20px 0;
}

.match-section {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.match-section .tc-button-50 {
  min-width: 250px;
  margin: 5px;
}

.match-button {
  margin-top: 10px;
}

.full-width {
  padding: 20px 30px 0 30px;
  width: 100%;
}

@media (max-width: 500px) {
  .collection-container {
    padding: 10px;
    margin-bottom: 10px;
    max-width: 80vw;
  }
  .title {
    margin-top: 25px;
  }
  .match-section {
    margin-bottom: 25px;
  }
}
