.collection-page-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.collection-container {
  box-shadow: 0px 7px 20px -3px rgb(0 0 0 / 15%);
  background-color: white;
  max-width: 65vw;
  min-width: 60vw;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 30px;
}

.collection-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  text-align: center;
}