<div class="collection-page-container add-transition">
    <div class="collection-container add-transition">
        <div class="title">
            <h2 i18n="@@your-collection">Your collection</h2>
        </div>
        <div>
            <div
                class="collection-content"
                *ngIf="1 <= designCollection.length"
            >
                <webstore-family-tree-collection-item
                    *ngFor="let design of designCollection"
                    [design]="design"
                    (deleteEvent)="removeItemFromList($event)"
                ></webstore-family-tree-collection-item>
                <div class="full-width">
                    <hr class="match-button" />
                    <div class="match-section">
                        <button
                            class="tc-button-50"
                            routerLink="/product"
                            i18n="@@create-new"
                            data-cy="collection-create-new-button"
                        >
                            Create new
                        </button>
                        <button
                            class="tc-button-50"
                            routerLink="/profile"
                            (click)="scrollTop()"
                            i18n="@@profile"
                            data-cy="collection-profile-button"
                        >
                            Profile
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="no-content"
                data-cy="collection-no-items"
                *ngIf="designCollection.length === 0 && !isLoading"
            >
                <div class="sub-title" i18n="@@no-designs">
                    You have no designs
                </div>
                <span i18n="@@no-designs-text">
                    Go to the product page to start creating your first design!
                </span>
                <div class="button-section">
                    <button
                        class="tc-button-50"
                        routerLink="/product"
                        i18n="@@start-designing"
                        data-cy="collection-no-items-start-button"
                    >
                        Start designing
                    </button>
                </div>
            </div>
            <div class="no-content" *ngIf="isLoading">
                <div class="spinner">
                    <span
                        class="spinner-border spinner-border-sm"
                        style="margin: 0 10px"
                        role="status"
                        aria-hidden="true"
                    ></span>
                    <span>Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
