<container-element [ngSwitch]="design.designType">
    <webstore-family-tree-design
        *ngSwitchCase="designTypeEnum.familyTree"
        [isMutable]="isMutable"
        [design]="familyTreeDesignProperties"
    ></webstore-family-tree-design>
    <webstore-quotable-design
        *ngSwitchCase="designTypeEnum.quotable"
        [isMutable]="isMutable"
        [quotableType]="design.quotableType"
        [design]="quotableDesignProperties"
        style="text-align: center"
    ></webstore-quotable-design>
    <h1 *NgSwitchDefault style="text-align: center">Failed to load the product</h1>
</container-element>
