.checkout-container {
  background-color: var(--gray-background);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.checkout-content-container {
  width: 80vw;
}

.checkout-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkout-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.checkout-logo {
  width: 250px;
  margin-bottom: 20px;
}

.checkout-form {
  display: flex;
}

.checkout-section {
  flex-grow: 1;
  min-width: 250px;
  background-color: white;
  margin: 5px;
  padding: 20px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  align-self: flex-start;
}

.offset {
  margin-top: 9px;
}

.no-strech {
  align-self: flex-start;
}

.section-container {
  flex-grow: 1;
}

.title-container hr {
  margin: 2px 0 2px 0;
  border-top: 1px solid rgba(0, 0, 0, 1);
}
.title {
  font-size: var(--regular-font);
  margin-left: 5px;
  font-weight: 500;
}

.sub-section {
  display: flex;
  flex-grow: 1;
}

.back-to-basket {
  margin-left: 10px;
  transition: 0.5s;
  text-decoration: none;
}

.back-to-basket:hover {
  text-decoration: none;
  margin-left: 5px;
  color: var(--second-action-color) !important;
}

.back-to-basket-container {
  text-align: left;
  width: 100%;
}

.city-code-section {
  display: flex;
  flex-shrink: 1;
}

.city-code-section .city-code:first-child {
  margin-right: 20px;
}

.city-code {
  flex-grow: 1;
}

.checkout-delivery-payment-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.delivery-payment-section {
  min-width: 250px;
  background-color: white;
  margin: 5px;
  padding: 20px;
}

.option-title {
  font-size: var(--medium-small-font);
  text-align: left;
  margin: 0;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}

.checkmark {
  top: -1px !important;
}

.rm-margin {
  margin-top: 5px;
  margin-bottom: 0 !important;
}

.icon-section img {
  margin-left: 10px;
}

.info-line {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}
.total {
  font-weight: 700;
}

.green-text {
  color: var(--green-color);
}

.margin-top {
  margin-top: 15px;
}

.seed-icon {
  margin: 0 15px 0 18px;
}

.trees-planted {
  display: flex;
  justify-content: space-between;
}

.trees-planted-container {
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.show-mobile {
  display: none;
}

.vat {
  opacity: 0.5;
}

.loading-screen {
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-item-list {
  z-index: 1;
}

.input-error {
  flex-grow: 1;
  min-width: 250px;
  background-color: var(--red-color);
  color: white;
  margin: 10px 5px;
  padding: 20px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  align-self: flex-start;
}
.red-text {
  color: var(--red-color);
}

.parcel-selection-info {
  padding-left: 40px;
  opacity: 0.6;
  font-size: var(--extra-small-font);
}

.parcel-checkmark {
  top: 6px !important;
}

@media screen and (max-width: 600px) {
  .checkout-logo {
    width: 150px;
  }

  .checkout-content-container {
    width: 90vw;
  }

  .checkout-section {
    width: 90vw;
  }

  .remove-mobile {
    display: none;
  }

  .trees-planted-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .trees-planted-price {
    min-width: 80px;
  }

  .trees-planted {
    margin-top: 10px;
    align-self: stretch;
  }

  .show-mobile {
    display: block;
  }

  .no-margin {
    margin: 5px 0;
  }
}
