<div class="checkout-container">
    <div class="checkout-content-container">
        <div class="checkout-title">
            <img
                src="/assets/logos/tc-black-text-logo.svg"
                class="checkout-logo add-transition"
            />
        </div>
        <div class="back-to-basket-container">
            <a routerLink="/basket" class="back-to-basket add-transition">
                < <strong i18n="@@back-to-basket"> Back to basket </strong>
            </a>
        </div>
        <form
            class="checkout-content"
            name="checkoutForm"
            [formGroup]="checkoutForm"
            (ngSubmit)="submitCheckout()"
        >
            <div class="section-container">
                <!-- delivery address -->
                <div class="checkout-section no-strech">
                    <div class="title-container" style="margin-bottom: 5px">
                        <span class="title" i18n="@@shipping-address"
                            >Shipping address
                        </span>
                        <hr />
                    </div>

                    <div class="option">
                        <label class="checkbox-container rm-margin">
                            <input
                                type="checkbox"
                                [checked]="billingAddressIsTheSame"
                                (change)="
                                    billingAddressIsTheSame = !billingAddressIsTheSame
                                "
                                data-cy="billing-address-is-the-same-checkbox"
                            />
                            <span
                                class="checkmark"
                                data-cy="billing-address-is-the-same-button"
                            ></span>
                        </label>
                        <div class="option-title" i18n="@@same-billing-address">
                            Billing address is the same as delivery address
                        </div>
                    </div>

                    <div class="tc-input-group field">
                        <input
                            type="text"
                            class="tc-input-field"
                            formControlName="name"
                            placeholder="Your name"
                            id="name"
                            autocomplete="name"
                        />
                        <label for="name" class="tc-input-label">
                            <span i18n="@@name">Name</span> *</label
                        >
                    </div>

                    <div
                        class="error-message"
                        *ngIf="
                            this.checkoutForm.get('name').dirty &&
                            this.checkoutForm.get('name').invalid
                        "
                        i18n="@@invalid-name"
                    >
                        Invalid name.
                    </div>

                    <div class="tc-input-group field">
                        <input
                            type="text"
                            class="tc-input-field"
                            formControlName="phoneNumber"
                            placeholder="12345678"
                            name="phoneNumber"
                            id="phoneNumber"
                            autocomplete="phoneNumber"
                        />
                        <label
                            for="phoneNumber"
                            class="tc-input-label"
                            i18n="@@phone-number"
                            >Phone number</label
                        >
                    </div>

                    <div
                        class="error-message"
                        *ngIf="
                            this.checkoutForm.get('phoneNumber').dirty &&
                            this.checkoutForm.get('phoneNumber').invalid
                        "
                        i18n="@@invalid-phone-number"
                    >
                        Invalid phone number.
                    </div>

                    <div
                        class="tc-input-group field"
                        (click)="notAllowedToChangeEmailAlert()"
                    >
                        <input
                            type="email"
                            class="tc-input-field"
                            placeholder="E-mail"
                            formControlName="email"
                            name="email"
                            id="profileEmail"
                            autocomplete="email"
                            disabled
                        />
                        <label for="email" class="tc-input-label"
                            >E-mail *</label
                        >
                    </div>

                    <div
                        class="error-message"
                        *ngIf="
                            this.checkoutForm.get('email').dirty &&
                            this.checkoutForm.get('email').invalid
                        "
                        i18n="@@invalid-email"
                    >
                        Invalid e-mail.
                    </div>
                    <div class="tc-input-group field">
                        <input
                            type="text"
                            class="tc-input-field"
                            name="streedOne"
                            formControlName="streetAddress"
                            placeholder="Your street name"
                            id="streetAddress"
                        />
                        <label for="streetAddress" class="tc-input-label"
                            ><span i18n="@@street-address">
                                Street address</span
                            >
                            *</label
                        >
                    </div>

                    <div
                        class="error-message"
                        *ngIf="
                            this.checkoutForm.get('streetAddress').dirty &&
                            this.checkoutForm.get('streetAddress').invalid
                        "
                        i18n="@@invalid-street-address"
                    >
                        The address is too long.
                    </div>

                    <div class="tc-input-group field">
                        <input
                            type="text"
                            class="tc-input-field"
                            name="streedTwo"
                            formControlName="streetAddress2"
                            placeholder="Your street name"
                            id="streetAddress2"
                        />
                        <label for="streetAddress2" class="tc-input-label">
                            <span i18n="@@street-address"> Street address</span>
                            2</label
                        >
                    </div>

                    <div
                        class="error-message"
                        *ngIf="
                            this.checkoutForm.get('streetAddress2').dirty &&
                            this.checkoutForm.get('streetAddress2').invalid
                        "
                        i18n="@@invalid-street-address"
                    >
                        The address is too long.
                    </div>

                    <div class="tc-input-group field">
                        <input
                            type="text"
                            class="tc-input-field"
                            name="city"
                            formControlName="city"
                            id="city"
                            placeholder="City"
                        />
                        <label for="city" class="tc-input-label"
                            ><span i18n="@@city">City</span> *
                        </label>
                        <div
                            class="error-message offset"
                            *ngIf="
                                this.checkoutForm.get('city').dirty &&
                                this.checkoutForm.get('city').invalid
                            "
                            i18n="@@invalid-city"
                        >
                            The city name is too long.
                        </div>
                    </div>

                    <div class="tc-input-group field">
                        <input
                            type="text"
                            class="tc-input-field"
                            formControlName="postcode"
                            id="postcode"
                            name="postcode"
                            placeholder="1234"
                        />
                        <label for="postcode" class="tc-input-label">
                            <span i18n="@@postcode">Postcode</span> *</label
                        >
                        <div
                            class="error-message offset"
                            *ngIf="
                                this.checkoutForm.get('postcode').dirty &&
                                this.checkoutForm.get('postcode').invalid
                            "
                            i18n="@@invalid-postcode"
                        >
                            Invalid danish postcode.
                        </div>
                    </div>
                </div>

                <form
                    class="billing-address-container checkout-content"
                    *ngIf="!billingAddressIsTheSame"
                    id="billingAddressDiv"
                    name="billingAddressForm"
                    [formGroup]="billingAddressForm"
                    data-cy="billing-address-form"
                >
                    <!-- billing address -->
                    <div class="checkout-section no-strech">
                        <div class="title-container">
                            <span class="title" i18n="@@billing-address"
                                >Billing address
                            </span>
                            <hr />
                        </div>

                        <div class="tc-input-group field">
                            <input
                                type="text"
                                class="tc-input-field"
                                formControlName="billingName"
                                placeholder="Your name"
                                id="billingName"
                                autocomplete="billingName"
                            />
                            <label for="billingName" class="tc-input-label">
                                <span i18n="@@name"> Name</span> *</label
                            >
                        </div>

                        <div
                            class="error-message"
                            *ngIf="
                                this.billingAddressForm.get('billingName')
                                    .dirty &&
                                this.billingAddressForm.get('billingName')
                                    .invalid
                            "
                            i18n="@@invalid-name"
                        >
                            Invalid name.
                        </div>

                        <div class="tc-input-group field">
                            <input
                                type="text"
                                class="tc-input-field"
                                name="billingStreetAddress"
                                formControlName="billingStreetAddress"
                                placeholder="Your street name"
                                id="billingStreetAddress"
                            />
                            <label
                                for="billingStreetAddress"
                                class="tc-input-label"
                            >
                                <span i18n="@@street-address"
                                    >Street address
                                </span>
                                *</label
                            >
                        </div>

                        <div
                            class="error-message"
                            *ngIf="
                                this.billingAddressForm.get(
                                    'billingStreetAddress'
                                ).dirty &&
                                this.billingAddressForm.get(
                                    'billingStreetAddress'
                                ).invalid
                            "
                            i18n="@@invalid-street-address"
                        >
                            The address is too long.
                        </div>

                        <div class="tc-input-group field">
                            <input
                                type="text"
                                class="tc-input-field"
                                name="billingStreetAddress2"
                                formControlName="billingStreetAddress2"
                                placeholder="Your street name"
                                id="billingStreetAddress2"
                            />
                            <label
                                for="billingStreetAddress2"
                                class="tc-input-label"
                            >
                                <span i18n="@@street-address"
                                    >Street address</span
                                >
                                2</label
                            >
                        </div>

                        <div
                            class="error-message"
                            *ngIf="
                                this.billingAddressForm.get(
                                    'billingStreetAddress2'
                                ).invalid
                            "
                            i18n="@@invalid-street-address"
                        >
                            The address is too long.
                        </div>

                        <div class="tc-input-group field">
                            <input
                                type="text"
                                class="tc-input-field"
                                name="billingCity"
                                formControlName="billingCity"
                                id="billingCity"
                                placeholder="City"
                            />
                            <label for="billingCity" class="tc-input-label">
                                <span i18n="@@city"> City</span> *
                            </label>
                            <div
                                class="error-message offset"
                                *ngIf="
                                    this.billingAddressForm.get('billingCity')
                                        .dirty &&
                                    this.billingAddressForm.get('billingCity')
                                        .invalid
                                "
                                i18n="@@invalid-city"
                            >
                                The city name is too long.
                            </div>
                        </div>

                        <div class="tc-input-group field">
                            <input
                                type="text"
                                class="tc-input-field"
                                formControlName="billingPostcode"
                                id="billingPostcode"
                                name="billingPostcode"
                                placeholder="1234"
                            />
                            <label for="billingPostcode" class="tc-input-label">
                                <span i18n="@@postcode">Postcode </span>
                                *</label
                            >
                            <div
                                class="error-message offset"
                                *ngIf="
                                    this.billingAddressForm.get(
                                        'billingPostcode'
                                    ).dirty &&
                                    this.billingAddressForm.get(
                                        'billingPostcode'
                                    ).invalid
                                "
                                i18n="@@invalid-postcode"
                            >
                                Invalid danish postcode.
                            </div>
                        </div>
                    </div>
                </form>

                <!-- delivery and payment -->
                <div class="checkout-delivery-payment-container">
                    <div class="delivery-payment-section">
                        <!-- delivery method -->
                        <div class="title-container">
                            <span class="title" i18n="@@delivery"
                                >Delivery</span
                            >
                            <hr />
                        </div>
                        <div class="option">
                            <label class="checkbox-container">
                                <input
                                    type="checkbox"
                                    [checked]="!isHomeDelivery"
                                    (change)="changeDelivery()"
                                    data-cy="checkout-form-parcelshop-checkbox"
                                />
                                <span
                                    class="checkmark"
                                    data-cy="checkout-form-parcelshop-button"
                                ></span>
                            </label>
                            <div class="option-title">
                                <div class="type" i18n="@@parcel-shop-delivery">
                                    Parcelshop delivery
                                </div>
                                <div class="price">00,00 DKK</div>
                            </div>
                        </div>
                        <!--                     
                    TODO: import shipmondos API to find a parchelshop
                    <div class="tc-input-group field city-code postcode">
                        <input
                            type="text"
                            class="tc-input-field"
                            formControlName="parcelshopPostcode"
                            id="parcelshopPostcode"
                            name="parcelshopPostcode"
                            placeholder="1234"
                        />
                        <label for="parcelshopPostcode" class="tc-input-label"
                            >Postcode</label
                        >
                        <div
                            class="error-message offset"
                            *ngIf="
                                this.checkoutForm.get('parcelshopPostcode')
                                    .dirty &&
                                this.checkoutForm.get('parcelshopPostcode')
                                    .invalid
                            "
                        >
                            Invalid danish postcode.
                        </div>
                    </div>
                    <div class="tc-input-group field city-code postcode">
                        <input
                            type="text"
                            class="tc-input-field"
                            formControlName="parcelshop"
                            id="parcelshop"
                            name="parcelshop"
                            placeholder="1234"
                        />
                        <label for="parcelshop" class="tc-input-label"
                            >Parcelshop</label
                        >
                        <div
                            class="error-message offset"
                            *ngIf="
                                this.checkoutForm.get('parcelshop').dirty &&
                                this.checkoutForm.get('parcelshop').invalid
                            "
                        >
                            Invalid danish postcode.
                        </div>
                    </div> -->
                        <hr />
                        <div class="option">
                            <label class="checkbox-container">
                                <input
                                    type="checkbox"
                                    [checked]="isHomeDelivery"
                                    (change)="changeDelivery()"
                                    data-cy="checkout-form-home-delivery-checkbox"
                                />
                                <span
                                    class="checkmark"
                                    data-cy="checkout-form-home-delivery-button"
                                ></span>
                            </label>
                            <div class="option-title">
                                <div class="type" i18n="@@home-delivery">
                                    Home delivery
                                </div>
                                <div class="price">29,00 DKK</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- order resume -->
            <div class="checkout-section no-margin">
                <div class="title-container">
                    <span class="title" i18n="@@your-order">Your Order</span>
                    <hr />
                </div>

                <!-- Items in order -->
                <webstore-checkout-item
                    *ngFor="let item of itemList"
                    [item]="item"
                ></webstore-checkout-item>

                <div
                    class="trees-donated-container"
                    *ngIf="extraDonatedTrees > 0"
                >
                    <img
                        src="../../../../assets/icons/seed-icon.svg"
                        alt=""
                        class="seed-icon show-mobile"
                    />
                    <div class="trees-donated">
                        <div>
                            <img
                                src="../../../../assets/icons/seed-icon.svg"
                                alt=""
                                class="seed-icon remove-mobile"
                            />
                            <span i18n="@@thank-you-for-planting"
                                >Thank you for planting</span
                            >

                            <strong
                                >{{ extraDonatedTrees }}
                                <span i18n="@@extra">extra</span>
                            </strong>
                            <span i18n="@@tree">tree(s)!</span>
                        </div>
                        <div class="trees-donated-price">
                            {{ priceInfo.extraTreesPrice.toFixed(2) }} DKK
                        </div>
                    </div>
                </div>

                <!-- Order info -->
                <div class="order-info-section">
                    <div class="info-line">
                        <span i18n="@@subtotal">Subtotal</span
                        ><span>{{ priceInfo.fullPrice.toFixed(2) }} DKK</span>
                    </div>
                    <div
                        class="info-line"
                        [ngClass]="
                            priceInfo.discountAmount > 0 ? 'green-text' : ''
                        "
                    >
                        <span i18n="@@you-save">You save</span
                        ><span
                            >{{ priceInfo.discountAmount.toFixed(2) }} DKK</span
                        >
                    </div>
                    <div class="info-line">
                        <span i18n="@@delivery">Delivery</span
                        ><span
                            >{{ priceInfo.deliveryPrice.toFixed(2) }} DKK</span
                        >
                    </div>
                    <div class="info-line total">
                        <span i18n="@@total">Total</span
                        ><span>{{ priceInfo.finalPrice.toFixed(2) }} DKK</span>
                    </div>
                    <div class="info-line">
                        <span i18n="@@vat">VAT</span
                        ><span>{{ priceInfo.vat.toFixed(2) }} DKK</span>
                    </div>
                </div>

                <!-- Actions -->
                <div class="actions">
                    <hr />
                    <div
                        class="option margin-top"
                        *ngIf="!isSubscribed"
                        data-cy="checkout-form-subscribe-option"
                    >
                        <label class="checkbox-container rm-margin">
                            <input
                                type="checkbox"
                                [checked]="subscribeToNewsletter"
                                (change)="
                                    subscribeToNewsletter = !subscribeToNewsletter
                                "
                            />
                            <span class="checkmark"></span>
                        </label>
                        <div class="option-title" i18n="@@subscribe-to-get-25%">
                            Subscribe to newsletter - 25% off next purchase
                        </div>
                    </div>
                    <div class="terms-and-conditions-container">
                        <label class="checkbox-container">
                            <input
                                type="checkbox"
                                [checked]="isTermsAndConditionsAccepted"
                                (change)="
                                    isTermsAndConditionsAccepted = !isTermsAndConditionsAccepted
                                "
                            />
                            <span class="checkmark"></span>
                        </label>
                        <div class="option-title">
                            <span i18n="@@accept-terms"
                                >I accept terms and conditions</span
                            >
                            <a
                                class="TnC"
                                (click)="showTermsOfSale()"
                                i18n="@@read-here"
                                >Read here</a
                            >
                        </div>
                    </div>
                    <button
                        class="tc-button-100 green margin-top"
                        type="submit"
                        [disabled]="!isTermsAndConditionsAccepted"
                        [ngClass]="!isDisabled() ? 'disabled' : ''"
                        i18n="@@go-to-quickpay"
                    >
                        Go to Quickpay
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
