<div class="checkout-container">
    <div class="checkout-content-container">
        <div class="checkout-title">
            <img
                src="/assets/logos/TCTextLogo.svg"
                class="checkout-logo add-transition"
            />
        </div>
        <div class="back-to-basket-container">
            <a routerLink="/basket" class="back-to-basket add-transition">
                < <strong> Back to basket </strong>
            </a>
        </div>
        <form
            class="checkout-content"
            name="checkoutForm"
            [formGroup]="checkoutForm"
            (ngSubmit)="submitCheckout()"
        >
            <div class="section-container">
                <!-- delivery address -->
                <div class="checkout-section no-strech">
                    <div class="title-container">
                        <span class="title">Delivery Address </span>
                        <hr />
                    </div>

                    <div class="tc-input-group field">
                        <input
                            type="text"
                            class="tc-input-field"
                            formControlName="name"
                            placeholder="Your name"
                            id="name"
                            autocomplete="name"
                        />
                        <label for="name" class="tc-input-label">Name</label>
                    </div>

                    <div
                        class="error-message"
                        *ngIf="
                            this.checkoutForm.get('name').dirty &&
                            this.checkoutForm.get('name').invalid
                        "
                    >
                        Invalid name.
                    </div>

                    <div class="tc-input-group field">
                        <input
                            type="text"
                            class="tc-input-field"
                            formControlName="phoneNumber"
                            placeholder="12345678"
                            name="phoneNumber"
                            id="phoneNumber"
                            autocomplete="phoneNumber"
                        />
                        <label for="phoneNumber" class="tc-input-label"
                            >Phone number</label
                        >
                    </div>

                    <div
                        class="error-message"
                        *ngIf="
                            this.checkoutForm.get('phoneNumber').dirty &&
                            this.checkoutForm.get('phoneNumber').invalid
                        "
                    >
                        Invalid phone number.
                    </div>

                    <div class="tc-input-group field">
                        <input
                            type="email"
                            class="tc-input-field"
                            placeholder="E-mail"
                            formControlName="email"
                            name="email"
                            id="profileEmail"
                            autocomplete="email"
                            required
                        />
                        <label for="email" class="tc-input-label">E-mail</label>
                    </div>

                    <div
                        class="error-message"
                        *ngIf="
                            this.checkoutForm.get('email').dirty &&
                            this.checkoutForm.get('email').invalid
                        "
                    >
                        Invalid email.
                    </div>
                    <div class="tc-input-group field">
                        <input
                            type="text"
                            class="tc-input-field"
                            name="streedOne"
                            formControlName="streetAddress"
                            placeholder="Your street name"
                            id="streetAddress"
                        />
                        <label for="streetAddress" class="tc-input-label"
                            >Street address</label
                        >
                    </div>

                    <div
                        class="error-message"
                        *ngIf="
                            this.checkoutForm.get('streetAddress').dirty &&
                            this.checkoutForm.get('streetAddress').invalid
                        "
                    >
                        The address is too long.
                    </div>

                    <div class="tc-input-group field">
                        <input
                            type="text"
                            class="tc-input-field"
                            name="streedTwo"
                            formControlName="streetAddress2"
                            placeholder="Your street name"
                            id="streetAddress2"
                        />
                        <label for="streetAddress2" class="tc-input-label"
                            >Street address 2</label
                        >
                    </div>

                    <div
                        class="error-message"
                        *ngIf="
                            this.checkoutForm.get('streetAddress2').dirty &&
                            this.checkoutForm.get('streetAddress2').invalid
                        "
                    >
                        The address is too long.
                    </div>

                    <div class="city-code-section">
                        <div class="tc-input-group field city-code city">
                            <input
                                type="text"
                                class="tc-input-field"
                                name="city"
                                formControlName="city"
                                id="city"
                                placeholder="City"
                            />
                            <label for="city" class="tc-input-label"
                                >City</label
                            >
                            <div
                                class="error-message offset"
                                *ngIf="
                                    this.checkoutForm.get('city').dirty &&
                                    this.checkoutForm.get('city').invalid
                                "
                            >
                                The city name is too long.
                            </div>
                        </div>

                        <div class="tc-input-group field city-code postcode">
                            <input
                                type="text"
                                class="tc-input-field"
                                formControlName="postcode"
                                id="postcode"
                                name="postcode"
                                placeholder="1234"
                            />
                            <label for="postcode" class="tc-input-label"
                                >Postcode</label
                            >
                            <div
                                class="error-message offset"
                                *ngIf="
                                    this.checkoutForm.get('postcode').dirty &&
                                    this.checkoutForm.get('postcode').invalid
                                "
                            >
                                Invalid danish postcode.
                            </div>
                        </div>
                    </div>
                    <div class="option">
                        <label class="checkbox-container rm-margin">
                            <input
                                type="checkbox"
                                [checked]="subscribeToNewsletter"
                                (change)="
                                    subscribeToNewsletter = !subscribeToNewsletter
                                "
                            />
                            <span class="checkmark"></span>
                        </label>
                        <div class="option-title">
                            Subscribe to newsletter - 25% off next purchase
                        </div>
                    </div>
                </div>

                <!-- delivery and payment -->
                <div class="checkout-delivery-payment-container">
                    <div class="delivery-payment-section">
                        <!-- delivery method -->
                        <div class="title-container">
                            <span class="title">Delivery</span>
                            <hr />
                        </div>
                        <div class="option">
                            <label class="checkbox-container">
                                <input
                                    type="checkbox"
                                    [checked]="!isHomeDelivery"
                                    (change)="isHomeDelivery = !isHomeDelivery"
                                />
                                <span class="checkmark"></span>
                            </label>
                            <div class="option-title">
                                <div class="type">Parcelshop delivery</div>
                                <div class="price">00,00 DKK</div>
                            </div>
                        </div>
                        <!--                     
                    TODO: import shipmondos API to find a parchelshop
                    <div class="tc-input-group field city-code postcode">
                        <input
                            type="text"
                            class="tc-input-field"
                            formControlName="parcelshopPostcode"
                            id="parcelshopPostcode"
                            name="parcelshopPostcode"
                            placeholder="1234"
                        />
                        <label for="parcelshopPostcode" class="tc-input-label"
                            >Postcode</label
                        >
                        <div
                            class="error-message offset"
                            *ngIf="
                                this.checkoutForm.get('parcelshopPostcode')
                                    .dirty &&
                                this.checkoutForm.get('parcelshopPostcode')
                                    .invalid
                            "
                        >
                            Invalid danish postcode.
                        </div>
                    </div>
                    <div class="tc-input-group field city-code postcode">
                        <input
                            type="text"
                            class="tc-input-field"
                            formControlName="parcelshop"
                            id="parcelshop"
                            name="parcelshop"
                            placeholder="1234"
                        />
                        <label for="parcelshop" class="tc-input-label"
                            >Parcelshop</label
                        >
                        <div
                            class="error-message offset"
                            *ngIf="
                                this.checkoutForm.get('parcelshop').dirty &&
                                this.checkoutForm.get('parcelshop').invalid
                            "
                        >
                            Invalid danish postcode.
                        </div>
                    </div> -->
                        <hr />
                        <div class="option">
                            <label class="checkbox-container">
                                <input
                                    type="checkbox"
                                    [checked]="isHomeDelivery"
                                    (change)="isHomeDelivery = !isHomeDelivery"
                                />
                                <span class="checkmark"></span>
                            </label>
                            <div class="option-title">
                                <div class="type">Home delivery</div>
                                <div class="price">29,00 DKK</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- order resume -->
            <div class="checkout-section">
                <div class="title-container">
                    <span class="title">Your Order</span>
                    <hr />
                </div>

                <!-- Items in order -->
                <webstore-checkout-item
                    *ngFor="let item of checkoutItems"
                    [item]="item"
                ></webstore-checkout-item>

                <!-- Order info -->
                <div class="order-info-section">
                    <div class="info-line">
                        <span>Subtotal</span><span>{{ 2180 }},00 DKK</span>
                    </div>
                    <div class="info-line">
                        <span>Delivery</span><span>{{ 0 }},00 DKK</span>
                    </div>
                    <div
                        class="info-line"
                        [ngClass]="moneySaved > 0 ? 'green-text' : ''"
                    >
                        <span>Save</span><span>{{ 625 }},00 DKK</span>
                    </div>
                    <div class="info-line total">
                        <span>Total</span><span>{{ 1555 }},00 DKK</span>
                    </div>
                </div>

                <!-- Actions -->
                <div class="actions">
                    <div class="terms-and-conditions-container">
                        <label class="checkbox-container">
                            <input type="checkbox" />
                            <span class="checkmark"></span>
                        </label>
                        <div class="option-title">
                            I accept terms and conditions<a
                                class="TnC"
                                (click)="showTermsOfSale()"
                                >Read them here</a
                            >
                        </div>
                    </div>
                    <button class="tc-button-100 green margin-top">
                        Go to secure payment
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
