.checkout-container {
  background-color: #f5f2f2;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.checkout-content-container {
  width: 80vw;
}

.checkout-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkout-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.checkout-logo {
  width: 250px;
  margin-bottom: 20px;
}

.checkout-form {
  display: flex;
}

.checkout-section {
  flex-grow: 1;
  min-width: 250px;
  background-color: white;
  margin: 5px;
  padding: 20px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  align-self: flex-start;
}

.offset {
  margin-top: 9px;
}

.no-strech {
  align-self: flex-start;
}

.section-container {
  flex-grow: 1;
}

.title-container hr {
  margin: 2px 0 2px 0;
  border-top: 1px solid rgba(0, 0, 0, 1);
}
.title {
  font-size: large;
  margin-left: 5px;
  font-weight: 500;
}

.sub-section {
  display: flex;
  flex-grow: 1;
}

.back-to-basket {
  margin-left: 10px;
  transition: 0.5s;
}

.back-to-basket:hover {
  text-decoration: none;
  margin-left: 5px;
  color: #ebc6ab !important;
}

.back-to-basket-container {
  text-align: left;
  width: 100%;
}

.city-code-section {
  display: flex;
}

.city-code-section .city-code:first-child {
  margin-right: 20px;
}

.city-code {
  flex-grow: 1;
}

.checkout-delivery-payment-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.delivery-payment-section {
  min-width: 250px;
  background-color: white;
  margin: 5px;
  padding: 20px;
}

.option-title {
  font-size: 14px;
  text-align: left;
  margin: 0;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}

.checkmark {
  top: -1px !important;
}

.rm-margin {
  margin-top: 5px;
  margin-bottom: 0 !important;
}

.icon-section img {
  margin-left: 10px;
}

.info-line {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}
.total {
  font-weight: 700;
}

.green-text {
  color: #52d73d;
}

.margin-top {
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .checkout-logo {
    width: 150px;
  }

  .checkout-content-container {
    width: 90vw;
  }

  .checkout-container {
  }

  .checkout-section {
    width: 90vw;
  }
}
