TREECREATE_JDBC_URL=jdbc:mysql://username:password@db-url:3306/treecreate_dev?serverTimezone=UTC&characterEncoding=UTF-8
TREECREATE_QUICKPAY_API_KEY=api_key_here
TREECREATE_QUICKPAY_PRIVATE_KEY=private_key_goes_here
TREECREATE_MAIL_PASS=mailer_password
TREECREATE_SENTRY_DSN="" # Should be left blank for dev runs

TREECREATE_ENV=DEVELOPMENT
