.modal-body {
    padding: 1rem 0;
}

.carousel-container {
    
}

::ng-deep .carousel-inner {
    outline: none;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

::ng-deep .carousel-indicators li {
  background-color: var(--second-action-color);
  opacity: 0.3;
}

::ng-deep .carousel-control-prev-icon {
  background-image: url('/assets/icons/keyboard-arrow-left.svg');
  top: 18px;
  position: relative;
}

::ng-deep .carousel-control-next-icon {
  background-image: url('/assets/icons/keyboard-arrow-right.svg');
  top: 18px;
  position: relative;
}
