<div class="modal-header">
    <h4 class="modal-title">How it works</h4>
</div>
<div class="modal-body">
    <ngb-carousel class="carousel-container">
        <ng-template ngbSlide>
            <div class="intro-img-section">
                <div class="intro-img-container">
                    1
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="intro-img-section">
                <div class="intro-img-container">
                    2
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="intro-img-section">
                <div class="intro-img-container">
                    3
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="intro-img-section">
                <div class="intro-img-container">
                    4
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
    
</div>
<div class="modal-footer">
    <button
        type="button"
        class="tc-button-50"
        (click)="activeModal.close('Close click')"
    >
        Close
    </button>
</div>
