/* ============== Stuff below is copied straight from family tree page css ============== */
.product-section {
  min-height: 100vh;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.desktop-options-container,
.design-container {
  display: inline-block;
}

.green {
  background-color: var(--green-color);
}

.design-container {
  border: 2px solid var(--green-color);
  min-width: 50%;
  margin: 30px 15px 30px 30px;
}

.design-screen {
  margin: 5px;
  height: 80vh;
  width: 80vh;
}

.desktop-options-container {
  margin: 30px 30px 30px 15px;
  width: 300px;
  height: 450px;
}

.questionmark-icon {
  padding-bottom: 3px;
}

.option-title {
  font-size: var(--medium-font) !important;
  font-weight: 500;
  margin-bottom: 5px;
}

.checkbox-container {
  padding-top: 3px;
}

.option {
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
}

.option-icon,
.toggle-box-options-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

.option-box-size {
  align-items: center;
  display: block;
}

.option-tree-design,
.option-font-select,
.option-design-name {
  display: flex;
  flex-direction: column;
}

.font-dropdown-container {
  text-align: center;
  width: 100%;
  border: 2px solid var(--second-action-color);
  border-radius: 3px;
}

::ng-deep.dropdown-toggle {
  width: 100%;
}

.btn {
  padding: 0.2rem 0rem;
}

.btn:focus {
  box-shadow: none;
}

.dropdown-menu.show {
  width: 100%;
}

.option-tree-design-btn {
  display: flex;
  justify-content: space-between;
}

.option-design-title {
  width: 100%;
  border-radius: 3px;
  border: 2px solid var(--second-action-color);
}

.option-design-title::placeholder {
  color: var(--light-second-action);
}

.title-input {
  border: none;
  width: 100%;
  text-align: center;
}

.title-input:focus {
  outline: none;
}

.display {
  border: 2px solid var(--second-action-color);
  border-radius: 3px;
  width: 100%;
  margin: 0 5px;
  padding-top: 3px;
}

.arrow-left,
.arrow-right {
  border: solid white;
  border-width: 0px 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.arrow-left {
  margin: 6px 0 0 4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-right {
  margin: 6px 0 0 -4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.option-questionmark {
  display: flex;
}

/* option toggle button */
.option-toggler,
.toggle-box-options,
.intro-modal-option {
  background-color: var(--second-action-color);
  transition: 0.5s;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-modal-option {
  color: white;
  font-size: larger;
  font-weight: 900;
  font-family: 'archia-medium';
}

.option-toggler {
  display: none;
}

.mobile-options {
  z-index: 10;
  top: 70px;
  left: 10px;
  position: sticky;
  height: 40px;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10px;
}

.option-icon {
  margin-left: 4px;
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.active .bar2 {
  opacity: 0;
}
.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

.hide {
  display: none;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(0, 0, 0, 0);
}

.mobile-options-items {
  border: 2px solid var(--second-action-color);
  border-radius: 3px;
  transition: 0.5s;
  transform: scale(0.9);
  width: 300px;
  position: absolute;
  top: 105px;
  right: 1px;
  background: white;
  padding: 10px 25px 20px 25px;
  z-index: 100;
}

.banner-input {
  margin-bottom: 10px;
}

.back {
  font-weight: 700;
  margin-left: 5px;
}

.back-container {
  text-align: left;
  width: 80vh;
}

.back:hover {
  text-decoration: none;
  margin-left: 0;
  color: var(--second-action-color) !important;
}

.use-desktop-container {
  position: fixed;
  display: none;
  justify-content: center;
  height: 80px;
  width: 100%;
  bottom: 3px;
}

.use-desktop-suggestion {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: white;
  background-color: lightpink;
  width: 99vw;
  text-align: center;
  padding: 10px;
}

.remove {
  display: none !important;
}

.iphone-use-desktop-container {
  display: flex;
  position: absolute;
  justify-content: center;
  height: calc(100vh - 60px);
  width: 100vw;
  top: 60px;
}

.iphone-use-desktop-suggestion {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: white;
  background-color: lightpink;
  width: 100vw;
  height: 100%;
  text-align: center;
  padding: 20px;
}

// slider section
::ng-deep.ngx-slider .ngx-slider-pointer {
  background-color: var(--second-action-color) !important;
  outline: none !important;
}

::ng-deep.ngx-slider .ngx-slider-bar {
  background-color: var(--second-action-color) !important;
  opacity: 0.5;
}

::ng-deep.ngx-slider .ngx-slider-pointer:after {
  background-color: white !important;
}

::ng-deep.ngx-slider .ngx-slider-bubble {
  display: none !important;
}

::ng-deep.ngx-slider {
  margin: 10px 0 0px !important;
}

::ng-deep.ngx-slider .ngx-slider-pointer {
  width: 20px !important;
  height: 20px !important;
  top: -8px !important;
}

::ng-deep.ngx-slider .ngx-slider-pointer:after {
  top: 6px !important;
  left: 6px !important;
}

.mobile-option-buttons-container {
  top: 70px;
  right: 0;
  position: absolute;
}
