.alert-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 0 1rem;
}
.alert-hide {
  transition: opacity 0.15s linear;
  opacity: 0;
}
