<div class="full-page">
    <h3 i18n="@@unsubscribing">Unsubscribing</h3>
    <span
        *ngIf="isLoading"
        class="spinner-border spinner-border-sm"
        style="margin: 5px"
        role="status"
        aria-hidden="true"
    ></span>
    <div *ngIf="!isLoading && !unsubscribeSuccessful">
        <p class="unsubscribing-success-message">Succes</p>
        <p i18n="@@have-a-good-day">
            Thank you for your time. Have a good day.
        </p>
    </div>
    <div *ngIf="!isLoading && unsubscribeSuccessful" class="failed">
        <p class="unsubscribing-failed-message">{{ errorMessage }}</p>
        <p i18n="@@if-you-have-questions">
            If you are having issues, feel welcome to contact us at:
        </p>
        <a href="mailto:info@treecreate.dk">
            <strong>Info@treecreate.dk</strong></a
        >
    </div>
    <div class="actions">
        <button routerLink="/" class="tc-button-25 home-button">Home</button>
        <button
            routerLink="/profile"
            class="tc-button-25 home-button"
            i18n="@@profile"
        >
            Profile
        </button>
    </div>
</div>
