<div class="page-container">
    <div class="main-section add-transition">
        <div class="main-text-container add-transition">
            <h1 class="title"><strong>Mere end bare et stamtræ</strong></h1>
            <h5 class="main-subtext">
                Et stamtræ til at binde familien sammen. På kun et par minutter
                kan du bestille årets gave til en du holder af, og være
                miljøbevidst på samme tid. Personlig kvalitet, for alle i
                familien.
            </h5>
        </div>
        <div class="bottom-fade"></div>
    </div>

    <div class="review-section">
        <div class="review-container">
            <div class="header-icons">
                <div class="quotation-mark">
                    <img
                        src="/assets/icons/“.svg"
                        alt=""
                        width="30"
                        height="30"
                    />
                </div>
                <div class="rating">
                    <div class="star-container">
                        <img src="/assets/icons/star.svg" class="star-icon" />
                        <img src="/assets/icons/star.svg" class="star-icon" />
                        <img src="/assets/icons/star.svg" class="star-icon" />
                        <img src="/assets/icons/star.svg" class="star-icon" />
                        <img src="/assets/icons/star.svg" class="star-icon" />
                    </div>
                </div>
            </div>
            <div class="review-text">
                “Smukkeste stamtræ jeg nogensinde har set. Virkelig den
                smukkeste gave jeg nogensinde har givet.”
            </div>
            <div class="review-author"><strong> - Teodor Jonasson</strong></div>
        </div>

        <div class="review-container">
            <div class="header-icons">
                <div class="quotation-mark">
                    <img
                        src="/assets/icons/“.svg"
                        alt=""
                        width="30"
                        height="30"
                    />
                </div>
                <div class="rating">
                    <div class="star-container">
                        <img src="/assets/icons/star.svg" class="star-icon" />
                        <img src="/assets/icons/star.svg" class="star-icon" />
                        <img src="/assets/icons/star.svg" class="star-icon" />
                        <img src="/assets/icons/star.svg" class="star-icon" />
                        <img src="/assets/icons/star.svg" class="star-icon" />
                    </div>
                </div>
            </div>
            <div class="review-text">
                “Smukkeste stamtræ jeg nogensinde har set. Virkelig den
                smukkeste gave jeg nogensinde har givet.”
            </div>
            <div class="review-author"><strong> - Teodor Jonasson</strong></div>
        </div>

        <div class="review-container">
            <div class="header-icons">
                <div class="quotation-mark">
                    <img
                        src="/assets/icons/“.svg"
                        alt=""
                        width="30"
                        height="30"
                    />
                </div>
                <div class="rating">
                    <div class="star-container">
                        <img src="/assets/icons/star.svg" class="star-icon" />
                        <img src="/assets/icons/star.svg" class="star-icon" />
                        <img src="/assets/icons/star.svg" class="star-icon" />
                        <img src="/assets/icons/star.svg" class="star-icon" />
                        <img src="/assets/icons/star.svg" class="star-icon" />
                    </div>
                </div>
            </div>
            <div class="review-text">
                “Smukkeste stamtræ jeg nogensinde har set. Virkelig den
                smukkeste gave jeg nogensinde har givet.”
            </div>
            <div class="review-author"><strong> - Teodor Jonasson</strong></div>
        </div>
    </div>

    <div class="subscribe-section add-transition">
        <h1 class="subscribe-title title add-transition">
            Tilmeld dig vores nyhedsbrev
        </h1>
        <h5 class="subscribe-subtitle add-transition">
            Bliv earlybird og få 15% rabat, og være med i lodtrækningen om et
            gratis stamtræ!
        </h5>
        <div class="action-container add-transition">
            <input
                type="text"
                placeholder="Din E-mail"
                class="email-input-field"
            />
            <button class="subscribe-button title">TILMELD</button>
        </div>
    </div>
</div>
