<div class="main-section">
    <div class="main-text-container">
        <h1 class="title"><strong>Mere end bare et stamtræ</strong></h1>
        <h5 class="main-subtext">
            Et stamtræ til at binde familien sammen. På kun et par minutter kan
            du bestille årets gave til en du holder af, og være miljøbevidst på
            samme tid. Personlig kvalitet, for alle i familien.
        </h5>
    </div>
    <div class="bottom-fade"></div>
</div>

<div class="review-section">
    <div class="review-container">
        <div class="header-icons">
            <div class="quotation-mark">
                <img src="/assets/icons/“.svg" alt="" width="30" height="30" />
            </div>
            <div class="rating">
                <div class="star-container">
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                </div>
            </div>
        </div>
        <div class="review-text">
            “Smukkeste stamtræ jeg nogensinde har set. Virkelig den smukkeste
            gave jeg nogensinde har givet.”
        </div>
        <div class="review-author"><strong> - Teodor Jonasson</strong></div>
    </div>

    <div class="review-container">
        <div class="header-icons">
            <div class="quotation-mark">
                <img src="/assets/icons/“.svg" alt="" width="30" height="30" />
            </div>
            <div class="rating">
                <div class="star-container">
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                </div>
            </div>
        </div>
        <div class="review-text">
            “Smukkeste stamtræ jeg nogensinde har set. Virkelig den smukkeste
            gave jeg nogensinde har givet.”
        </div>
        <div class="review-author"><strong> - Teodor Jonasson</strong></div>
    </div>

    <div class="review-container">
        <div class="header-icons">
            <div class="quotation-mark">
                <img src="/assets/icons/“.svg" alt="" width="30" height="30" />
            </div>
            <div class="rating">
                <div class="star-container">
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                    <img
                        src="/assets/icons/star.svg"
                        alt=""
                        class="star-icon"
                    />
                </div>
            </div>
        </div>
        <div class="review-text">
            “Smukkeste stamtræ jeg nogensinde har set. Virkelig den smukkeste
            gave jeg nogensinde har givet.”
        </div>
        <div class="review-author"><strong> - Teodor Jonasson</strong></div>
    </div>
</div>
