.page-container {
  color: #874d32;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'argestadisplay';
}

.title {
  font-size: 36px !important;
}

.main-section {
  min-height: 500px;
  height: 100vh;
  width: 100%;
  display: flex;

  /* Background image properties */
  background-image: url('apps/webstore/src/assets/img/main-img-02.jpg');
  background-size: cover;
  background-position: center center;
}

.main-text-container {
  width: 45vw;
  margin: 8vw 0 0 8vh;
  letter-spacing: 2px;
}

.bottom-fade {
  position: absolute;
  height: 40px;
  width: 100%;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 8%,
    rgba(255, 255, 255, 0.49343487394957986) 57%,
    rgba(255, 255, 255, 0) 100%
  );
  bottom: 0;
}

.review-section {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.review-container {
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  width: 350px;
  padding-top: 8px !important;
  padding: 15px;
  margin: 15px;
}

.star-icon {
  margin: 0 3px;
}

.rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.quotation-mark {
  position: relative;
  top: 13px;
  left: 13px;
}

.review-text {
  padding: 0 5px;
}

.review-author {
  font-size: 18px;
}

.review-author,
.review-text {
  font-family: 'argestadisplay-italic' !important;
  text-align: center;
  margin-bottom: 15px;
}

.subscribe-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe-section {
  margin: 50px 0;
}

.subscribe-title {
  font-size: 56px;
  margin: 15px 0;
  width: 60vw;
  text-align: center;
  letter-spacing: 2px;
}

.subscribe-subtitle {
  width: 40vw;
  text-align: center;
  margin-bottom: 25px;
  line-height: 36px;
}

.action-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.email-input-field::placeholder {
  color: #874d32;
  opacity: 0.8;
}

.email-input-field {
  font-size: 24px;
  border-radius: 3px;
  border: 2px solid #874d32;
  margin-bottom: 10px;
  color: #874d32;
  padding-left: 6px;
  padding: 8px;
}

.email-input-field:focus {
  outline: none;
}

.subscribe-button {
  transition: 0.5s;
  background-color: #874d32;
  color: white;
  font-size: 24px;
  border-radius: 3px;
  border: none;
  letter-spacing: 3px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  transition: 0.5s;
  position: relative;
  left: -20px;
  opacity: 1;
}

.send-email-icon {
  width: 50px;
  transition: 0.5s;
  opacity: 0;
  position: relative;
  left: -35px;
  top: -2px;
}

.subscribe-button:hover > .send-email-icon {
  left: 50px;
  opacity: 1;
}

.subscribe-button:hover > .button-text {
  left: 60px;
  opacity: 0;
}

.descriptive-content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 10px;
}

.text-container {
  min-width: 300px;
  width: 30vw;
  margin: 15px 30px;
}

.descriptive-img {
  min-width: 470px;
  width: 30vw;
  border-radius: 5px;
  filter: drop-shadow(0px 5px 35px rgba(0, 0, 0, 0.2));
}

.reverse {
  flex-direction: row-reverse;
}

.carousel {
  width: 100vw;
  height: 200px;
  background-color: #874d32;
}

.is-mobile {
  display: none;
}

@media screen and (max-width: 945px) {
  .main-text-container {
    width: 85vw;
    margin: 100px 0 0 0;
    text-align: center;
  }
  .main-section {
    justify-content: center;
    background-position: -30vh;
  }
  .subscribe-subtitle,
  .action-container {
    width: 60vw;
  }
  .subscribe-title {
    width: 80vw;
  }
  .text-container,
  .descriptive-img {
    width: 60vw;
    text-align: center;
  }
  .descriptive-img {
    min-width: 60vw;
  }
  .text-container {
    margin-top: 20px;
  }
  .align-right {
    text-align: center;
  }
  .is-mobile {
    display: block;
  }
  .bottom-fade {
    bottom: -18px;
  }
  .is-desktop {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .title {
    font-size: 28px;
    font-weight: 400;
  }
  .main-subtext {
    font-size: 18px;
  }
  .main-text-container {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
  .main-section {
    background-image: url('apps/webstore/src/assets/img/main-background-mobile.jpg');
    background-position: center center;
  }

  .subscribe-subtitle,
  .action-container,
  .subscribe-title {
    width: 80vw;
  }
  .subscribe-title {
    font-size: 36px;
  }
  .email-input-field,
  .subscribe-button {
    font-size: 18px;
  }
  .text-container,
  .descriptive-img {
    width: 80vw;
  }
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 24px !important;
  }
  .main-subtext,
  .subscribe-subtitle {
    font-size: 14px;
    line-height: 24px;
  }
  .bottom-fade {
    bottom: 0px;
  }
}
