<div class="page-container">
    <div class="main-section add-transition">
        <div class="main-text-container add-transition">
            <h1 class="title title-font">
                <strong>Mere end bare et stamtræ</strong>
            </h1>
            <h5 class="main-subtext">
                Ét træ, der binder hele familien sammen. På blot få minutter,
                kan du bestille en helt særlig gave til én, du holder af.
                Treecreate, en personlig gave i fin kvalitet og med kærlig
                omtanke for miljøet.
            </h5>
        </div>
        <div class="bottom-fade"></div>
    </div>

    <div>
        <!--  -->
        <webstore-carousel class="is-mobile"></webstore-carousel>
        <div class="review-section is-desktop">
            <!--  -->
            <div class="review-container">
                <div class="header-icons">
                    <div class="quotation-mark">
                        <img
                            src="/assets/icons/“.svg"
                            alt=""
                            width="30"
                            height="30"
                        />
                    </div>
                    <div class="rating">
                        <div class="star-container">
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                        </div>
                    </div>
                </div>
                <div class="review-text">
                    “Smukkeste stamtræ jeg nogensinde har set. Virkelig den
                    smukkeste gave jeg nogensinde har givet.”
                </div>
                <div class="review-author">
                    <strong> - Teodor Jonasson</strong>
                </div>
            </div>

            <div class="review-container">
                <div class="header-icons">
                    <div class="quotation-mark">
                        <img
                            src="/assets/icons/“.svg"
                            alt=""
                            width="30"
                            height="30"
                        />
                    </div>
                    <div class="rating">
                        <div class="star-container">
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                        </div>
                    </div>
                </div>
                <div class="review-text">
                    “Smukkeste stamtræ jeg nogensinde har set. Virkelig den
                    smukkeste gave jeg nogensinde har givet.”
                </div>
                <div class="review-author">
                    <strong> - Teodor Jonasson</strong>
                </div>
            </div>

            <div class="review-container">
                <div class="header-icons">
                    <div class="quotation-mark">
                        <img
                            src="/assets/icons/“.svg"
                            alt=""
                            width="30"
                            height="30"
                        />
                    </div>
                    <div class="rating">
                        <div class="star-container">
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                            <img
                                src="/assets/icons/star.svg"
                                class="star-icon"
                            />
                        </div>
                    </div>
                </div>
                <div class="review-text">
                    “Smukkeste stamtræ jeg nogensinde har set. Virkelig den
                    smukkeste gave jeg nogensinde har givet.”
                </div>
                <div class="review-author">
                    <strong> - Teodor Jonasson</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="subscribe-section add-transition">
        <h1 class="subscribe-title title title-font add-transition">
            Tilmeld dig vores nyhedsbrev
        </h1>
        <h5 class="subscribe-subtitle add-transition">
            Og få 15% rabat på dit første køb, samt vær med i lodtrækningen om
            at vinde et stamtræ!
        </h5>
        <form
            (ngSubmit)="onNewsletterSignup()"
            name="newsletterForm"
            [formGroup]="newsletterForm"
        >
            <div class="action-container add-transition">
                <input
                    type="text"
                    placeholder="Din e-mail"
                    class="email-input-field"
                    formControlName="newsletterEmail"
                    name="newsletterEmail"
                />
                <div
                    class="error-message"
                    *ngIf="
                        this.newsletterForm.get('newsletterEmail').dirty &&
                        isValidEmail()
                    "
                >
                    Invalid e-mail
                </div>
                <button
                    class="subscribe-button title-font"
                    type="submit"
                    [disabled]="isValidEmail()"
                >
                    <img
                        src="/assets/icons/white-send-email-icon.svg"
                        class="send-email-icon"
                    />
                    <div class="button-text">Tilmeld</div>
                </button>
            </div>
        </form>
    </div>

    <div class="descriptive-content-container">
        <img src="/assets/img/description1.jpg" class="descriptive-img" />
        <div class="text-container">
            <h1 class="discriptive-title title title-font">
                Den mest personlige gave
            </h1>
            <div class="descriptive-text">
                Når du giver et Treecreate stamtræ i gave, kan du være sikker på
                at overraske dine nære og kære hver gang. Din gave er nemlig
                helt unik for den, der pakker den op, og mere personligt bliver
                det ikke.
                <br />
                <br />
                Dit Treecreate stamtræ er omhyggeligt udskåret i smukt,
                velduftende egetræ med bark på toppen. Det giver et naturligt
                udtryk, og tankerne føres let hen på en dejlig sommerdag i
                familiens favn.
            </div>
        </div>
    </div>

    <div class="descriptive-content-container reverse">
        <img src="/assets/img/description2.jpg" class="descriptive-img" />
        <div class="text-container">
            <h1 class="discriptive-title title title-font align-right">
                En gave med omtanke
            </h1>
            <div class="descriptive-text align-right">
                For hvert stamtræ, du bestiller fra Treecreate, planter vi et
                træ. På den måde kan vi hjælpe hinanden med at passe på vores
                natur, og derved gøre vores verden til et grønnere sted.
                <br />
                <br />
                Når vi sender dit Treecreate stamtræ, bliver det omhyggeligt
                pakket ind i holdbart FSC-certificeret genbrugspapir. På den
                måde sikrer vi, at din værdifulde gave er beskyttet på rejsen
                hjem til dig, og samtidig undgår vi unødig brug af plastik.
            </div>
        </div>
    </div>
</div>
