<div class="catalog">
    <div class="catalog-page-container">
        <div class="mini-product-display-container">
            <webstore-mini-product-display
                *ngFor="let item of catalogList"
                [product]="item"
                [isEnglish]="isEnglish()"
            ></webstore-mini-product-display>
        </div>
        <div class="product-listing-container">
            <webstore-product-display
                *ngFor="let item of catalogList"
                [product]="item"
                [isEnglish]="isEnglish()"
            ></webstore-product-display>
        </div>
    </div>
</div>
