.catalog {
  display: flex;
  justify-content: center;
}

.catalog-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 4em);
  margin-top: 4em;
  width: 55vw;
}

.mini-product-display-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.product-listing-container {
  width: 100%;
}

@media (max-width: 650px) {
  .catalog-page-container {
    width: 80vw;
  }
}

@media (max-width: 450px) {
  .catalog-page-container {
    width: 90vw;
  }
}
