/* You can add global styles to this file, and also import other style files */
:root {
  --green-color: #52d73d;
  --action-color: #ebc6ab;
  --light-action-color: #fff0e4;
  --gray-color: #9b9b9b;
  --gray-background: #e5e5e5;
  --gray-box-color: #e8e3e3;
  --small-font: 1rem;
  --regular-font: 1.5rem;
  --large-font: 2.25rem;
  --massive-font: 3rem;
  --thin-font: 200;
  --thick-font: 700;
}

body {
  min-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.error-message {
  font-size: 10px;
  text-align: left;
  color: red;
  line-height: 0;
  margin-bottom: 5px;
}

.disabled {
  opacity: 0.5;
}

.disabled:hover {
  transform: scale(1);
  box-shadow: 0px 3px 10px 0 rgb(0 0 0 / 15%);
}

.hide {
  display: none;
}

.hide-opacity {
  opacity: 0;
  transition: 0.5s;
}

.show-opacity {
  opacity: 1;
  transition: 0.5s;
}

.alert-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 0 1rem;
}
.alert-hide {
  transition: opacity 0.25s linear;
  opacity: 0;
}

.TnC:hover {
  color: #ebc6ab !important;
  text-decoration: underline !important;
  cursor: pointer;
}
