<div class="design-container">
    <img src="/assets/img/design-ex1-img.png" class="design-image" />
    <hr />
    <div class="title">
        {{ familyTree.title }}
    </div>
    <button
        type="button"
        class="tc-button-100"
        i18n="@@add-to-basket"
        (click)="addDesignToBasket()"
    >
        Add to basket
    </button>
    <div class="action-container">
        <button
            type="button"
            class="tc-button-50"
            i18n="@@edit"
            (click)="editDesign()"
        >
            Edit
        </button>
        <button
            type="button"
            class="tc-button-50"
            i18n="@@delete"
            (click)="deleteDesign()"
        >
            Delete
        </button>
    </div>
</div>
