<div class="design-container">
    <img src="/assets/img/design-ex1-img.png" class="design-image" />
    <hr />
    <div class="title">
        {{ design.title }}
    </div>
    <button type="button" class="tc-button-100" i18n="@@add-to-basket">
        Add to basket
    </button>
    <div class="action-container">
        <button type="button" class="tc-button-50" i18n="@@edit">Edit</button>
        <button type="button" class="tc-button-50" i18n="@@delete">
            Delete
        </button>
    </div>
</div>
