.heading {
  margin-bottom: 2rem;
  text-align: center;
}

.max-width {
  max-width: 300px;
}

.alert {
  position: absolute;
  top: -5rem;
  width: 100%;
}

.error-container {
  text-align: center;
}

.submit-form-button {
  margin-bottom: 3rem;
}
