<div>
  <div nz-col nzSpan="12" class="max-width">
    <!-- LOGIC -->
    <ng-template [ngIf]="!validating" [ngIfElse]="loading">
      <ng-template [ngIf]="isTokenValid" [ngIfElse]="error">
        <ng-template [ngIf]="!success" [ngIfElse]="successTmpl">
          <ng-container *ngTemplateOutlet="passwordReset"></ng-container>
        </ng-template>
      </ng-template>
    </ng-template>

    <!-- TEMPLATES -->
    <ng-template #passwordReset>
      <nz-alert
        *ngIf="errorMsg"
        nzType="error"
        [nzMessage]="errorMsg"
        class="alert"
        data-cy="alert"
      ></nz-alert>

      <h3 nz-typography class="heading">Reset Password</h3>

      <form nz-form [formGroup]="form" (ngSubmit)="submitHandler()">
        <!-- Password field -->
        <nz-form-item>
          <nz-form-control [nzErrorTip]="password.errors?.password.message">
            <input
              type="password"
              nz-input
              nzSize="large"
              formControlName="password"
              placeholder="Password"
              data-cy="password-input"
            />
          </nz-form-control>
        </nz-form-item>

        <button
          nz-button
          nzSize="large"
          nzBlock
          nzType="primary"
          class="submit-form-button"
          [nzLoading]="submitting"
          [disabled]="!isFormValid"
          data-cy="submit-button"
        >
          Save
        </button>
      </form>
      <div nz-row nzJustify="center">
        <span nz-typography>
          <a routerLink="/">Cancel</a>
        </span>
      </div>
    </ng-template>

    <!-- Success message after form submission -->
    <ng-template #successTmpl>
      <h4 nz-typography class="heading">
        Password changed<br /><br />
        We will send you to login page in<br /><br />
        {{ counter }} seconds.
      </h4>

      <div nz-row nzJustify="center">
        <span nz-typography>
          <a routerLink="/login">Go to login</a>
        </span>
      </div>
    </ng-template>

    <ng-template #loading>
      <div class="loading-container">
        <h4 nz-typography class="heading">Processing...</h4>
      </div>
    </ng-template>

    <ng-template #error>
      <div class="error-container">
        <h4 nz-typography class="heading">Invalid or expired link.</h4>
        <span nz-typography>
          <a routerLink="/forgot">Go to reset password request</a>
        </span>
      </div>
    </ng-template>
  </div>
</div>
