<webstore-item-card title="Orders" [content]="content" [isLoading]="isLoading" data-cy="orders-card">
    <ng-template #content>
        <table mat-table [dataSource]="orders" class="mat-elevation-z8 orders-table" data-cy="orders-table">
            <!-- Payment ID Column -->
            <ng-container matColumnDef="paymentId">
                <th mat-header-cell *matHeaderCellDef>Payment ID</th>
                <td mat-cell *matCellDef="let order">{{ order.paymentId }}</td>
            </ng-container>

            <!-- Payment Total Column -->
            <ng-container matColumnDef="paymentTotal">
                <th mat-header-cell *matHeaderCellDef>Payment Total</th>
                <td mat-cell *matCellDef="let order">{{ order.total }}</td>
            </ng-container>

            <!-- Contact Email Column -->
            <ng-container matColumnDef="contactEmail">
                <th mat-header-cell *matHeaderCellDef>Contact Email</th>
                <td mat-cell *matCellDef="let order">{{ order.contactInfo.email }}</td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let order">{{ order.createdAt | date }}</td>
            </ng-container>

            <!-- Days Left Column -->
            <ng-container matColumnDef="daysLeft">
                <th mat-header-cell *matHeaderCellDef>Days Left</th>
                <td mat-cell *matCellDef="let order">
                    <div
                        class="label"
                        [ngStyle]="{ 'background-color': getDaysLeftColor(getDaysLeft(order.createdAt), order.status) }"
                        data-cy="order-days-left"
                    >
                        {{ getDaysLeft(order.createdAt) }}
                    </div>
                </td>
            </ng-container>

            <!-- Items Column -->
            <ng-container matColumnDef="items">
                <th mat-header-cell *matHeaderCellDef>Items</th>
                <td mat-cell *matCellDef="let order">{{ order.transactionItems.length }}</td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let order">
                    <mat-select
                        [(value)]="order.status"
                        class="order-status-select"
                        data-cy="order-status"
                        [ngStyle]="{ 'background-color': getOrderStatusColor(order.status) }"
                        (selectionChange)="onStatusChange(order)"
                    >
                        <mat-option
                            [value]="status"
                            *ngFor="let status of orderStatusOptions"
                            [ngStyle]="{ 'background-color': getOrderStatusColor(status) }"
                            data-cy="order-status-option"
                            >{{ status }}</mat-option
                        >
                    </mat-select>
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let order">
                    <button
                        mat-flat-button
                        color="primary"
                        routerLink="/orders/{{ order.orderId }}"
                        data-cy="order-view-btn"
                    >
                        View
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" data-cy="orders-table-header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" data-cy="orders-table-row"></tr>
        </table>
    </ng-template>
</webstore-item-card>
