<div id="charts-container">
    <h2>Users in last {{ recentUsersDuration }} minutes:</h2>
    <ngx-charts-line-chart
        *ngIf="!isLoadingRecentUsageFirstTime; else loading"
        [view]="viewRecentUsage"
        [scheme]="colorSchemeRecentUsage"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [timeline]="false"
        [curve]="curveRecentUsage"
        xAxisLabel="Time"
        yAxisLabel="Active Users"
        [results]="recentUsersResults"
    >
    </ngx-charts-line-chart>
    <h2>Breakdown of Pages viewed in the last {{ pagesViewedDurationEnd }} days</h2>
    <mat-form-field appearance="fill">
        <mat-select [(value)]="pagesViewedDurationEnd" (selectionChange)="fetchPagesViewed()">
            <mat-option [value]="days" *ngFor="let days of pagesViewedDurationOptions">
                {{ days }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="hidePagesWithLowViews" (change)="fetchPagesViewed()"
        >Hide pages with less than 10 views</mat-slide-toggle
    >

    <ngx-charts-bar-horizontal
        *ngIf="!isLoadingPagesViewedFirstTime; else loading"
        [view]="viewPagesViewed"
        [scheme]="colorSchemePagesViewed"
        [results]="pagesViewedResults"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [maxYAxisTickLength]="30"
        xAxisLabel="Views"
        yAxisLabel="URL"
    >
    </ngx-charts-bar-horizontal>
</div>
<webstore-item-card title="Events" [content]="content" [isLoading]="isLoading" data-cy="events-card">
    <ng-template #content>
        <table mat-table [dataSource]="events" class="mat-elevation-z8 table" data-cy="events-table">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let event">{{ event.name }}</td>
            </ng-container>

            <!-- Updated at Column -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Created At</th>
                <td mat-cell *matCellDef="let event">{{ event.createdAt | date }}</td>
            </ng-container>

            <!-- User Id Column -->
            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef>User Id</th>
                <td mat-cell *matCellDef="let event">{{ event.userId }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" data-cy="events-table-header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" data-cy="events-table-row"></tr>
        </table>
    </ng-template>
</webstore-item-card>
<ng-template #loading>
    <div class="loading-container">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>
</ng-template>
