<webstore-item-card title="Events" [content]="content" [isLoading]="isLoading" data-cy="events-card">
    <ng-template #content>
        <table mat-table [dataSource]="events" class="mat-elevation-z8 table" data-cy="events-table">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let event">{{ event.name }}</td>
            </ng-container>

            <!-- Updated at Column -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Created At</th>
                <td mat-cell *matCellDef="let event">{{ event.createdAt | date }}</td>
            </ng-container>

            <!-- User Id Column -->
            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef>User Id</th>
                <td mat-cell *matCellDef="let event">{{ event.userId }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" data-cy="events-table-header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" data-cy="events-table-row"></tr>
        </table>
    </ng-template>
</webstore-item-card>
