<div class="basket-item-container">
    <!-- image -->
    <div class="item-image">
        <img src="/assets/img/design-ex1-img.png" class="design-image" />
        <div class="item-type-title" i18n="@@family-tree">Family tree</div>
    </div>

    <div class="item-container">
        <div class="item-title">
            {{ item.design.designProperties.title }}
        </div>

        <!-- quantity -->
        <div class="option-quantity">
            <div class="text">
                <span i18n="@@amount"> Amount </span>
            </div>
            <div class="option">
                <button
                    class="box-size-plus tc-button-sm-square low-dropshadow"
                    (click)="decreaseQuantity()"
                    [disabled]="item.quantity === 1"
                >
                    <div class="icon">
                        <div class="button-minus"></div>
                    </div>
                </button>
                <div class="quantity">
                    {{ item.quantity }}
                </div>
                <button
                    class="box-size-plus tc-button-sm-square low-dropshadow"
                    (click)="increaseQuantity()"
                >
                    <div class="button-plus"></div>
                </button>
            </div>
        </div>

        <!-- size -->
        <div class="option-size">
            <div class="text">
                <span i18n="@@size"> Size </span>
            </div>
            <div class="option">
                <button
                    class="box-size-plus tc-button-sm-square low-dropshadow"
                    (click)="decreaseSize()"
                    [disabled]="item.dimension === 'small'"
                >
                    <div class="icon">
                        <div class="button-minus"></div>
                    </div>
                </button>
                <div class="quantity">
                    {{ item.dimension }}
                </div>
                <button
                    class="box-size-plus tc-button-sm-square low-dropshadow"
                    (click)="increaseSize()"
                    [disabled]="item.dimension === 'large'"
                >
                    <div class="button-plus"></div>
                </button>
            </div>
        </div>

        <!-- price -->
        <div class="option-price">
            <div class="text">
                <span i18n="@@price"> Price </span>
            </div>
            <div class="option price-text">{{ itemPrice.toFixed(2) }} DKK</div>
        </div>
        <hr class="margin-top" />
        <!-- actions -->
        <div class="option-actions">
            <button class="tc-button-50 margin-top" i18n="@@view">View</button>
            <button class="tc-button-50 margin-top" i18n="@@delete">
                Delete
            </button>
        </div>
    </div>
</div>
