<div class="basket-item-container">
    <!-- image -->
    <div class="item-image">
        <img src="/assets/img/design-ex1-img.png" class="design-image" />
        <div class="item-type-title">Family tree</div>
    </div>

    <div class="item-container">
        <div class="item-title">
            {{ item.design.designProperties.properties.title }}
        </div>

        <!-- quantity -->
        <div class="option-quantity">
            <div class="text">
                <span> Quantity </span>
            </div>
            <div class="option">
                <button
                    class="box-size-plus tc-button-sm-square low-dropshadow"
                    (click)="decreaseQuantity()"
                >
                    <div class="icon">
                        <div class="button-minus"></div>
                    </div>
                </button>
                <div class="quantity">
                    {{ item.quantity }}
                </div>
                <button
                    class="box-size-plus tc-button-sm-square low-dropshadow"
                    (click)="increaseQuantity()"
                >
                    <div class="button-plus"></div>
                </button>
            </div>
        </div>

        <!-- size -->
        <div class="option-size">
            <div class="text">
                <span> Size </span>
            </div>
            <div class="option">
                <button
                    class="box-size-plus tc-button-sm-square low-dropshadow"
                    (click)="decreaseSize()"
                >
                    <div class="icon">
                        <div class="button-minus"></div>
                    </div>
                </button>
                <div class="quantity">
                    {{ item.dimension }}
                </div>
                <button
                    class="box-size-plus tc-button-sm-square low-dropshadow"
                    (click)="increaseSize()"
                >
                    <div class="button-plus"></div>
                </button>
            </div>
        </div>

        <!-- price -->
        <div class="option-price">
            <div class="text">
                <span> Price </span>
            </div>
            <div class="option price-text">{{ itemPrice.toFixed(2) }} DKK</div>
        </div>
        <hr class="margin-top" />
        <!-- actions -->
        <div class="option-actions">
            <button class="tc-button-50 margin-top">View</button>
            <button class="tc-button-50 margin-top">Delete</button>
        </div>
    </div>
</div>
