# Continuos Integration workflow for testing pushed commits and pull requests
name: CI Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      # Setup JDK for java tests
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Install and test the applications
        # Install the apps using npm ci (ensures a clean install) and run the test target for ci (skips the NX cache ensuring a clean run)
        run: |
          npm ci
          npm run test:ci
