.custom-order-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  min-height: 100vh;
  margin: 5em 1em 1em 1em;
}

.custom-order-content-container {
  width: 60vw;
  box-shadow: 0px 7px 20px -3px rgb(0 0 0 / 20%);
  padding: 15px 20px;
}

.custom-order-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-order-section {
  flex-grow: 1;
  min-width: 250px;
  background-color: white;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  align-self: flex-start;
}

.custom-order-requirements-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  width: 100%;
}

.custom-order-upload-image-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0px;
  width: 100%;
}

.custom-order-uploaded-files-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--gray-color) 1px solid;
  width: 50%;
  padding: 1em;
  height: 35px;
  margin-top: 15px;
  border-radius: 5px;
  color: var(--gray-color);
}

.custom-order-uploaded-files-container li {
  font-size: var(--extra-small-font);
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin: 10px 0px;
}

.offset {
  margin-top: 9px;
}

.no-strech {
  align-self: flex-start;
}

.section-container {
  flex-grow: 1;
}

.title-container hr {
  margin: 2px 0 2px 0;
  border-top: 1px solid rgba(0, 0, 0, 1);
}

.title {
  font-size: var(--regular-font);
  margin-left: 5px;
  font-weight: 500;
}

.option-title {
  font-size: var(--medium-small-font);
  text-align: left;
  margin: 0;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

/* TODO: remove the overwriting of the styling from tc-input-field.scss styles */
/* I had to do it because otherwise the checkbox text was misaligned */
.checkbox-container {
  margin-bottom: 0 !important;
}

.checkmark {
  top: -1px !important;
}

.margin-top {
  margin-top: 15px;
}

.tc-textarea-field {
  height: 200px;
  border-radius: 3px;
}

.textarea-label {
  padding-left: 8px;
}

.description-requirements,
.image-requirements {
  width: 47%;
}

.description-requirements strong,
.image-requirements strong {
  font-size: larger;
}

@media screen and (max-width: 600px) {
  .custom-order-requirements-section {
    display: flex;
    flex-direction: column;
  }

  .custom-order-uploaded-files-container,
  .image-requirements,
  .description-requirements,
  .custom-order-content-container,
  .custom-order-upload-image-section,
  .tc-button-50,
  .tc-button-25 {
    width: 100%;
  }

  .custom-order-upload-image-section {
    flex-direction: column-reverse;
  }
}
