<div class="modal-container">
  <div class="modal-content">
    <div class="modal-header">
      <h1>Terms of use</h1>
      <div class="tc-button-square" (click)="activeModal.close()">
        <div class="icon">
          <div class="bar1"></div>
          <div class="bar2"></div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="text">
        <p>
          Hey there, Treecreate uses cookies to save anonymous information
          through google analytics to continuously improve the page. Without
          accepting these cookies, you will sadly not be able to use the page.
          If you wish to see the cookies that we store, you can go to this link
          <br />
        </p>
        <p>
          Hey there, Treecreate uses cookies to save anonymous information
          through google analytics to continuously improve the page. Without
          accepting these cookies, you will sadly not be able to use the page.
          If you wish to see the cookies that we store, you can go to this link
          <br />
        </p>
        <p>
          Hey there, Treecreate uses cookies to save anonymous information
          through google analytics to continuously improve the page. Without
          accepting these cookies, you will sadly not be able to use the page.
          If you wish to see the cookies that we store, you can go to this link
          <br />
        </p>

        <p>
          Hey there, Treecreate uses cookies to save anonymous information
          through google analytics to continuously improve the page. Without
          accepting these cookies, you will sadly not be able to use the page.
          If you wish to see the cookies that we store, you can go to this link
          <br />
        </p>
        <p>
          Hey there, Treecreate uses cookies to save anonymous information
          through google analytics to continuously improve the page. Without
          accepting these cookies, you will sadly not be able to use the page.
          If you wish to see the cookies that we store, you can go to this link
          <br />
        </p>
        <p>
          Hey there, Treecreate uses cookies to save anonymous information
          through google analytics to continuously improve the page. Without
          accepting these cookies, you will sadly not be able to use the page.
          If you wish to see the cookies that we store, you can go to this link
          <br />
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="tc-button-50" (click)="activeModal.close()">
        Close
      </button>
    </div>
  </div>
</div>
