<form class="login-form" (ngSubmit)="submitLogin()" [formGroup]="loginForm">
    <div class="login-form-content">
        <h1>Login</h1>

        <mat-form-field class="email-input" appearance="fill">
            <mat-label class="input-label">E-mail</mat-label>
            <input
                type="email"
                data-cy="login-email-input"
                formControlName="email"
                matInput
                placeholder="Your email . . . "
            />
        </mat-form-field>

        <mat-form-field hintLabel="Min 8 characters" class="password-input" appearance="fill">
            <mat-label class="input-label">Password</mat-label>
            <input
                #password
                type="password"
                data-cy="login-password-input"
                formControlName="password"
                matInput
                placeholder="Your password . . . "
            />
            <mat-hint align="end">{{ password.value?.length || 0 }}/8</mat-hint>
        </mat-form-field>

        <button mat-raised-button class="login-btn" data-cy="login-btn" color="primary" type="submit">
            <span *ngIf="!isLoading">Login</span>
            <mat-icon *ngIf="isLoading"><mat-spinner diameter="20"></mat-spinner></mat-icon>
        </button>
    </div>
</form>
