<form class="login-form">
    <div class="login-form-content">
        <h1>Login</h1>

        <mat-form-field class="email-input" appearance="fill">
            <mat-label class="input-label">E-mail</mat-label>
            <input type="email" matInput placeholder="Your email . . . " />
        </mat-form-field>

        <mat-form-field class="password-input" appearance="fill">
            <mat-label class="input-label">Password</mat-label>
            <input type="password" matInput placeholder="Your password . . . " />
        </mat-form-field>
        <button mat-raised-button class="login-btn" color="primary">Login</button>
    </div>
</form>
